---
category: news
title: "Onfido teams up with FinTech Oval Money to boost digital customer verification"
excerpt: "Onfido announced a new partnership with FinTech Oval Money in a bid to accelerate and enhance the latter's digital customer verification and registration process."
publishedDateTime: 2020-09-30T10:20:00Z
originalUrl: "https://ibsintelligence.com/ibsi-news/onfido-teams-up-with-fintech-oval-money-to-boost-digital-customer-verification/"
webUrl: "https://ibsintelligence.com/ibsi-news/onfido-teams-up-with-fintech-oval-money-to-boost-digital-customer-verification/"
type: article
quality: 20
heat: 20
published: false

provider:
  name: IBS
  domain: ibsintelligence.com

topics:
  - AI in Finance
  - AI

images:
  - url: "https://ibsintelligence.com/wp-content/uploads/2020/07/Onfido-logo.jpg"
    width: 400
    height: 400
    isCached: true

secured: "IaJvoFNp/aiRepLM0Qh5aWWdT/Javt9c8EVSrH+M1jYDQSBVblR7VzXpqPjCJUo9jyHdwS/g3jCSNfSokIfBShFsK5yz7zB9Ir26noMieOT9aITc6fmZeplkU+3b2BsSOW04jgzJK9YusLfieBRQDDphw56SMuXFno6m/jd6XztFdIDF0MK/dDK+ao3mD2F8HlOqakAe227AYnopx/Voc1TQIH/Z8Mzr8E8QLkbCIpiCSBtiKCwT7Tsdg6ls1YOYx06vduRRhJ2D8ziMDuS9d/MrhCQKnpVei7TgLKQ/qFYWrCHG+n+VxGasI0uXN+Xvfs1iBBdGmWxgSLf5tGgEcACn86D1VMYm1NPvZsS6NheeTyeEumV7nvufxt3dfvJlQd3+UBlXxlwFwENC49IeEuyXF/qoNwbyhvhJVSCh4udsGaJgXkRYRYrxYMHzbggNkhgjZ09JsyGl7DAsGFHr5SB6OgKvoEOjegjXNkB/XIg+q3RVPtqBUKnSzVsku5HfA3p2IvzWA9LhhrZsCiz8BA==;xhuJdrRbwN41vt4Fzs7lQw=="
---

