---
category: news
title: "Self-driving semi travels across Ohio in test run"
excerpt: "On interstates and the turnpike, the lead truck was driven manually while the driver of the second truck engaged its automated platooning technology."
publishedDateTime: 2020-10-28T17:57:00Z
originalUrl: "https://www.dispatch.com/story/news/2020/10/28/self-driving-semi-technology-lead-truck-test-run-across-ohio/3749218001/"
webUrl: "https://www.dispatch.com/story/news/2020/10/28/self-driving-semi-technology-lead-truck-test-run-across-ohio/3749218001/"
ampWebUrl: "https://amp.dispatch.com/amp/3749218001"
cdnAmpWebUrl: "https://amp-dispatch-com.cdn.ampproject.org/c/s/amp.dispatch.com/amp/3749218001"
type: article
quality: 44
heat: -1
published: false

provider:
  name: Columbus Dispatch
  domain: dispatch.com

topics:
  - AI in Autos
  - AI

images:
  - url: "https://www.gannett-cdn.com/presto/2020/10/28/PPOC/fc11697a-25ac-4c28-ac27-1ea68c005da9-IMG_0252f8f40dd0-ba7c-4f63-bb61-41f10373595b.jpg?auto=webp&crop=4031,2268,x0,y373&format=pjpg&width=1200"
    width: 1200
    height: 675
    isCached: true

related:
  - title: "Waymo shares in-depth details of self-driving car activity in Phoenix"
    excerpt: "Waymo’s vehicles have driven a total of 6.1 million miles in Phoenix, Arizona, where it first started testing its self-driving technology."
    publishedDateTime: 2020-10-31T16:36:00Z
    webUrl: "https://www.engadget.com/waymo-indepth-details-selfdriving-activities-phoenix-163000481.html"
    ampWebUrl: "https://www.engadget.com/amp/waymo-indepth-details-selfdriving-activities-phoenix-163000481.html"
    cdnAmpWebUrl: "https://www-engadget-com.cdn.ampproject.org/c/s/www.engadget.com/amp/waymo-indepth-details-selfdriving-activities-phoenix-163000481.html"
    type: article
    provider:
      name: Engadget
      domain: engadget.com
    quality: 104
    images:
      - url: "https://o.aolcdn.com/images/dims?thumbnail=600%2C350&quality=95&image_uri=https%3A%2F%2Fs.yimg.com%2Fos%2Fcreatr-uploaded-images%2F2020-10%2Feda031a0-1b7e-11eb-aeff-c6d8e3737344&client=amp-blogside-v2&signature=64755fdb1c313a1eb2bd21d17cef2c2065e20715"
        width: 600
        height: 350
        isCached: true
  - title: "Waymo pulls back the curtain on 6.1 million miles of self-driving car data in Phoenix"
    excerpt: "Over 21 months in Arizona, Waymo’s vehicles were involved in 47 collisions and near-misses, none of which resulted in injuries In its first report on its autonomous vehicle operations in Phoenix, Arizona,"
    publishedDateTime: 2020-10-30T14:06:00Z
    webUrl: "https://www.theverge.com/2020/10/30/21538999/waymo-self-driving-car-data-miles-crashes-phoenix-google"
    ampWebUrl: "https://www.theverge.com/platform/amp/2020/10/30/21538999/waymo-self-driving-car-data-miles-crashes-phoenix-google"
    cdnAmpWebUrl: "https://www-theverge-com.cdn.ampproject.org/c/s/www.theverge.com/platform/amp/2020/10/30/21538999/waymo-self-driving-car-data-miles-crashes-phoenix-google"
    type: article
    provider:
      name: The Verge
      domain: theverge.com
    quality: 97
    images:
      - url: "https://cdn.vox-cdn.com/thumbor/0rCtvcMvE9CVhAYv64lC5YBQ4yw=/0x0:2040x1360/1400x933/filters:focal(857x517:1183x843):no_upscale()/cdn.vox-cdn.com/uploads/chorus_image/image/67713914/vpavic_181128_3122_0115.0.jpg"
        width: 1400
        height: 933
        isCached: true
  - title: "This self-driving racing car could have done with a driver"
    excerpt: "Roborace is described as “the world’s first autonomous competition for human and A.I. teams, using self-driving technology in immersive environments.” Competitors use the same electric drivetrains and chassis, with each team tasked with designing and ..."
    publishedDateTime: 2020-10-30T05:40:00Z
    webUrl: "https://www.digitaltrends.com/cars/watch-this-self-driving-racing-car-slam-straight-into-a-wall/"
    ampWebUrl: "https://www.digitaltrends.com/cars/watch-this-self-driving-racing-car-slam-straight-into-a-wall/?amp"
    cdnAmpWebUrl: "https://www-digitaltrends-com.cdn.ampproject.org/c/s/www.digitaltrends.com/cars/watch-this-self-driving-racing-car-slam-straight-into-a-wall/?amp"
    type: article
    provider:
      name: Digital Trends
      domain: digitaltrends.com
    quality: 74
    images:
      - url: "https://icdn4.digitaltrends.com/image/digitaltrends/roborace-accident-1200x630-c-ar1.91.jpg"
        width: 1200
        height: 628
        isCached: true
  - title: "A self-driving race car drove straight into a wall off the starting line in the world's first autonomous racing series"
    excerpt: "The mishap occurred during Roborace's \"Season Beta,\" and it shows just how difficult autonomous-driving technology is to produce."
    publishedDateTime: 2020-11-01T03:56:00Z
    webUrl: "https://www.businessinsider.com/self-driving-roborace-race-car-drove-straight-into-wall-2020-10"
    ampWebUrl: "https://www.businessinsider.com/self-driving-roborace-race-car-drove-straight-into-wall-2020-10?amp"
    cdnAmpWebUrl: "https://www-businessinsider-com.cdn.ampproject.org/c/s/www.businessinsider.com/self-driving-roborace-race-car-drove-straight-into-wall-2020-10?amp"
    type: article
    provider:
      name: Business Insider
      domain: businessinsider.com
    quality: 65
    images:
      - url: "https://i.insider.com/5f9b305569331a0011bc630a?width=1200&format=jpeg"
        width: 1200
        height: 600
        isCached: true
  - title: "A self-driving race car drove straight into a wall off the starting line in the world's first autonomous racing series"
    excerpt: "And a recent mishap at an autonomous racing event showcased just how challenging self-driving technology can be. Roborace — a new autonomous racing series that's still in its testing phase ..."
    publishedDateTime: 2020-10-29T22:30:00Z
    webUrl: "https://markets.businessinsider.com/news/stocks/self-driving-roborace-race-car-drove-straight-into-wall-2020-10-1029744243"
    type: article
    provider:
      name: Business Insider
      domain: businessinsider.com
    quality: 45
    images:
      - url: "https://i.insider.com/5f9b302e6f5b310011724515?format=jpeg"
        width: 2264
        height: 1390
        isCached: true
  - title: "Waymo and Daimler to build self-driving trucks"
    excerpt: "Daimler Trucks and autonomous driving technology vendor Waymo are partnering to deploy self-driving SAE Level 4 trucks for future transportation logistics operations. The initial collaboration will combine Waymo’s automated driving technology with a new version of Daimler’s Freightliner Cascadia to enable autonomous driving."
    publishedDateTime: 2020-10-30T12:46:00Z
    webUrl: "https://insights.globalspec.com/article/15320/waymo-and-daimler-to-build-self-driving-trucks"
    type: article
    provider:
      name: Engineering360 News
      domain: globalspec.com
    quality: 34

secured: "9it8xKePD2FUUKVnn9O7qsQrheoEkYVu4uHNwiiV4IvkHy0jlWCErFA/zCdVYQxSZjGRPBawmujy+rKQ6yZAomubtiHb/JSfsEyUgKwC05TIBDceojyMvS59SwburX5CrXbncQE/+1uPx9zpZULzse3gddMK5dEaj5xET/cIvGnvlpV0rM8eSFp6Nyc+v4+HwWAuYS/80fGIRpjJkgQRwg0PMgvfaZb1q6FiuVSjjjzUDhDvWVpCmJG/Sma1053V/avvtet1tRcEPnCVtea1jeAw4jqQmxGe7l4uAPL8PJM6eN9u/wktDn3cY1EU7GABIF8dA8b5urY8sht6OAGTR//a0FHEiQvA5w60mD4iZrI=;V72Go3NiS1UTk9XmYW54+Q=="
---

