---
category: news
title: "Brazil’s Government to Use Face Biometrics For Pensioner Identity Verification"
excerpt: "The Brazilian government will be using biometric facial recognition to verify the identities of pensioners in the country."
publishedDateTime: 2020-12-01T21:25:00Z
originalUrl: "https://mobileidworld.com/brazils-government-to-use-face-biometrics-for-pensioner-identity-verification/"
webUrl: "https://mobileidworld.com/brazils-government-to-use-face-biometrics-for-pensioner-identity-verification/"
type: article
quality: 20
heat: -1
published: false

provider:
  name: Mobile ID News
  domain: mobileidworld.com

topics:
  - Computer Vision
  - AI

images:
  - url: "https://mobileidworld.com/wp-content/uploads/facial.jpeg"
    width: 400
    height: 260
    isCached: true

related:
  - title: "NEC facial recognition adopted by \"Star Alliance Biometrics\" platform"
    excerpt: "TOKYO, Dec 2, 2020 - (J) - NEC Corporation (TSE: 6701) announced today that Lufthansa Airlines and Swiss International Airlines (SWISS), Lufthansa Group airline members of Star Alliance, launched the \"Star Alliance Biometrics\" identity verification platform utilizing NEC's facial recognition technologies at Frankfurt Airport and Munich Airport."
    publishedDateTime: 2020-12-02T03:21:00Z
    webUrl: "https://www.benzinga.com/pressreleases/20/12/a18608227/nec-facial-recognition-adopted-by-star-alliance-biometrics-platform"
    ampWebUrl: "https://amp.benzinga.com/amp/content/18608227"
    cdnAmpWebUrl: "https://amp-benzinga-com.cdn.ampproject.org/c/s/amp.benzinga.com/amp/content/18608227"
    type: article
    provider:
      name: Benzinga.com
      domain: benzinga.com
    quality: 39
  - title: "Startup wants to give biometric face scrapers digital dead ends to chase"
    excerpt: "A small shop of AI coders and photographers have a new use for their GAN-made portfolio of faces. The company says its Anonymizer app creates red herrings to throw face scrapers off a"
    publishedDateTime: 2020-12-04T17:02:00Z
    webUrl: "https://www.biometricupdate.com/202012/startup-wants-to-give-biometric-face-scrapers-digital-dead-ends-to-chase"
    type: article
    provider:
      name: Biometric Companies
      domain: biometricupdate.com
    quality: 21
    images:
      - url: "https://d1sr9z1pdl3mb7.cloudfront.net/wp-content/uploads/2019/11/09151121/biometric-digital-identity-verification-for-fraud-prevention.png"
        width: 1640
        height: 800
        isCached: true

secured: "eaQsMVMQA2V6gv/DHNhlT6gdJKPTnfEiiV2LJlXLKjwyaVfcwpvfZQI2Hb0IQ68pFgngwzpRlnmxahOcSYZjtP0Jga9yYihSLX7nkBK3ktDCA5Z1ohlEhJhTdDC3xepprnipSOSrCnzf8YuhKNfBeulU/7iKKpj1BYqFhAcid/7HGkquRV/2x9WG2LtBB/Z0eWSUDO7U0mTDiIEnmZueO9pAKZUxxvinKB4YX2vraem9JMOydn5T1el4CoS7VZxYAFbyCZsaQc0qf3smDsIFmmifqhngX52/syD3s4G72dRlTkjEwyyXQI1o7Bb2JjhQRpvYcO8sgWVqnQGvO2bVnOsuswkL56xdfzHmDx6rVfA=;JZZkAgn8GXoc1aKO4YVMgg=="
---

