---
category: news
title: "Time To Rethink Memory Chip Design And Verification"
excerpt: "Changes are needed to improve the reliability of memories and shorten the design time. It’s no secret to anyone that semiconductor development grows more challenging all the time. Each new process technology node packs more transistors into each die,"
publishedDateTime: 2021-08-12T07:05:00Z
originalUrl: "https://semiengineering.com/time-to-rethink-memory-chip-design-and-verification/"
webUrl: "https://semiengineering.com/time-to-rethink-memory-chip-design-and-verification/"
type: article
quality: 39
heat: 39
published: false

provider:
  name: Semiconductor Engineering
  domain: semiengineering.com

topics:
  - AI Hardware
  - AI

images:
  - url: "https://i2.wp.com/semiengineering.com/wp-content/uploads/Synopsys_rethink-memory-chip-design-verification-fig1.jpg?fit=572%2C408&#038;ssl=1"
    width: 572
    height: 408
    isCached: true

secured: "gSZFcwaPEotewBXSdMfeNo5rI4De/xyK7PisOMxWDOGiSN0tLiycAnaClKhq8LRTnhFDODv1ZRidD5hNM8hXuWmDm9TvDQX3E7pE9/n830CSXaDvH30d9tPAw79fFgxjOUxpJTqeia2/eQrzgn/VmjQ156AXS3vkgLif08xkliroNumR4TqCPFCmDv43pELMzl9NmBYd4DUONT0DgUAvzqiIMojwU4bC8D6WvUYr0FiOIYPG6TWW55x5wPAvcsu2AwEKcOltcsIwtPCS4RYaou7M5KO2KLKBkZTQt55EchGhWgxPBqnOujHJ4eXIIKyOwvs5njdyYKjQszMrkkScCV+ZmcQsq09VKNQCuUK4U7qDAM9iljBgxWSJIGgoXhgaErb+dx1S1U9BP1QpRJ5GGgQN5Uib7pu+Ck9vqh0RFZEVEv6ECXxtd07Ce7pnUqL8fTblpSqSZBjTL+s09B5A6piYC29i7JZc+JkZixBD5GbSIhEfUr4d0Zvp+dTBjZQEBWpRRHPOiUTzuaSXa8ghJg==;f78O4WoIpgDieS10Jc0RKA=="
---

