---
category: news
title: "Stash Banks On Biometrics, Machine Learning To Support Digital-First ID Verification"
excerpt: "The latest Future Of Identity Report examines how identity verification needs are changing in the financial sector and how machine learning can help meet them."
publishedDateTime: 2021-04-16T08:00:00Z
originalUrl: "https://www.pymnts.com/identity/2021/stash-banks-on-biometrics-machine-learning-to-support-digital-first-id-verification/"
webUrl: "https://www.pymnts.com/identity/2021/stash-banks-on-biometrics-machine-learning-to-support-digital-first-id-verification/"
ampWebUrl: "https://www.pymnts.com/identity/2021/stash-banks-on-biometrics-machine-learning-to-support-digital-first-id-verification/amp/"
cdnAmpWebUrl: "https://www-pymnts-com.cdn.ampproject.org/c/s/www.pymnts.com/identity/2021/stash-banks-on-biometrics-machine-learning-to-support-digital-first-id-verification/amp/"
type: article
quality: 69
heat: 69
published: false

provider:
  name: pymnts.com
  domain: pymnts.com

topics:
  - AI in Finance
  - AI
  - Machine Learning

images:
  - url: "https://securecdn.pymnts.com/wp-content/uploads/2021/04/aufsap21-457x274.jpg"
    width: 457
    height: 274
    isCached: true

secured: "Ba6zTfySETbj1BGNWen0630g8kZkZPzfPuSZAoYmsjaK0+BIJQFTK0PRacVuJGLIBJVcCvgqQXgW8izt1M01UdFTCPUjot+j8Jrw59N/GYQ6YLdwWMk5UPHKgxiYtCAzF/loaae3ulQ7viXUIN+9PF7+H8axJ9UhpVPLJ87tBGLZFQPJr+CSnGM0fdqkox2x+9mWyNC43vusZXEUkfkJYj0KM0LYJdYu6plbhZbWTN+2sNL0uWVNQ+dfsrpYORyAxFKCX38MVavmllpaT98wvaEb3/ciXR3k31EQ1dD7UaawVLyXtny6OpWmCm2pwOVNee80r4+BBiGY17cYeQ2jQfxXOQVTJfdiHT6Gy4cBNOM7SMio3E+BlI+5PCqY9O+kBJch/Yv5kHxbdgGwys7j3vS17S4pGVvnnOnkwAB0i65r17DewY93ERz25yx6LSVLf9IlUp5eFJd//zvWcoHgGMFsPJkFaagVwfE5TNk5vbzUosjIkWSXZSs2slgxcyi+KPKOZ940d/vZiAtiGsj8xw==;CvkEOlHtqPbS9XyXMIVuVA=="
---

