---
category: news
title: "Veridas face biometrics upgraded, voice biometrics deployed for pensioner verification"
excerpt: "Veridas has upgraded its facial recognition matching engine, resulting in improved performance in NIST FRVT 1:N benchmarking, and also announced a collaborative partnership, a customer win for the company’s voice biometrics,"
publishedDateTime: 2021-08-20T19:34:00Z
originalUrl: "https://www.biometricupdate.com/202108/veridas-face-biometrics-upgraded-voice-biometrics-deployed-for-pensioner-verification"
webUrl: "https://www.biometricupdate.com/202108/veridas-face-biometrics-upgraded-voice-biometrics-deployed-for-pensioner-verification"
type: article
quality: 16
heat: -1
published: false

provider:
  name: Biometric Companies
  domain: biometricupdate.com

topics:
  - Natural Language Processing
  - AI

images:
  - url: "https://d1sr9z1pdl3mb7.cloudfront.net/wp-content/uploads/2021/07/21110527/passive-biometric-liveness.jpg"
    width: 1200
    height: 900
    isCached: true

related:
  - title: "Iris and face biometrics on the rise for access control worldwide"
    excerpt: "Two separate market studies have highlighted the emerging relevance of iris biometrics for access control applications worldwide."
    publishedDateTime: 2021-08-23T21:07:00Z
    webUrl: "https://www.biometricupdate.com/202108/iris-and-face-biometrics-on-the-rise-for-access-control-worldwide"
    type: article
    provider:
      name: Biometric Companies
      domain: biometricupdate.com
    quality: 24
    images:
      - url: "https://d1sr9z1pdl3mb7.cloudfront.net/wp-content/uploads/2018/01/09161443/iris-and-face-biometrics.jpg"
        width: 1720
        height: 1032
        isCached: true

secured: "bLvUWkrFS9AY7rVq0XwccsqVAVHZziI5sBn+64ScRPJ2UUMumdYPj9eCG1JgfQefBAj6ElPP3xMrM034LHZ06fBX4WnNQsOlXwbyH9Hf/TyNkYhKgzoInmpoiImOGmmGSg0gevRuXW/KevapC2yyOOuz+uV+98znOnbt6EcxigejJyXtMFSVjiqqy/VHP573ChBQoL64O48g4ZfnEPETjBDNSb2k38HjKV4SllbMLtB6r42edh3HVokoNVpjFW8zaB9XhywpB6vqPwSXMm5Zzv83NTr5TSJDQoeWl20K8/bJiUfx7w9xtVcXrgjZJtoQgOPUa7yW8hZxF26EAFuqRApJ6KwQ1Gqmka6C1MpdPgm+AQMmPjxRdnhS63lgQvWjWDVhDA/r9ZbSCBJeCgeimOxhjC8PnPJpeiUAf8OaacF/rwDPXuBPxO1Vnc3IXw1OjEf0/Etylb38klNJx+3m6QkftRPj16ZNBesk9pYmoSZXoArjc6Lnr1Up1jXV3iCSzKwkS/2+zy0CILjH0wjJEg==;Lk6WUcgf2WLdiKleUGuN7Q=="
---

