---
category: news
title: "Machine Learning Model Helps Predict Clinical Lab Test Results"
excerpt: "Wearable device data applied to a machine learning model has the ability to predict clinical laboratory measurements without a visit to the doctor's office, a recent study suggests."
publishedDateTime: 2021-05-27T13:30:00Z
originalUrl: "https://healthitanalytics.com/news/machine-learning-model-helps-predict-clinical-lab-test-results"
webUrl: "https://healthitanalytics.com/news/machine-learning-model-helps-predict-clinical-lab-test-results"
type: article
quality: 39
heat: 39
published: false

provider:
  name: Analytics
  domain: healthitanalytics.com

topics:
  - Machine Learning
  - AI

images:
  - url: "https://healthitanalytics.com/images/site/article_headers/_normal/GettyImages-1127125431.jpeg"
    width: 700
    height: 431
    isCached: true

secured: "QTGOMMTKPYOUZ2pPcTa7PBeQEh54tgDRfrL72innUoEpTiFCvOmHrqSINNzlGMFD2dfv1R1YNdXbnjHcflU0sT4VbYooJkWd/9amVAlr/eXKBmWwCM6V5yaoYiRwX8SF5W39JnDGFCTaHNWkK+1OrW/vmVnQOSlnEzX7z2lhmL5RQBTvdqr1xk/CgqCMjrp7EX4Q323dqQnQMINFQfzBSQ9KUI53uNKbuApOJ/jFAanJetiVcEDtVxSLdnkcbUnR4STEjhz6/XRc+Ze0mOE2+wgTCW0oSfFwJ8BLr2Aw7r2gAcY27AdmYuRDicox77OEAc87zIVV6OX8Xev+NnjYcFDk2IZ+jIS6mTe9w11pg0nozvESvR77n4unVHFZj5VLRWpZV2xht7Se0WSAVEn88BjsLInnH/E7E9Eb+cFghQwb9suYaruazdjMshl3QNvCAuDw0fD3TLpusL9EsNo0ALT0jsS3YW6prmn1Sc+iKvtFl8vopnF6P+6up7/w4m4QCAyMlkmf46zsG8BItfRXzQ==;HTmYyRuvHwCRF/VHZGa3jQ=="
---

