---
category: news
title: "AI can automate income verification"
excerpt: "Informed.IQ says it can automate \"over 95 percent of situations\" by having artificial intelligence review documents uploaded by the consumer."
publishedDateTime: 2021-11-24T17:23:00Z
originalUrl: "https://www.autonews.com/finance-insurance/ai-can-automate-income-verification"
webUrl: "https://www.autonews.com/finance-insurance/ai-can-automate-income-verification"
type: article
quality: 37
heat: -1
published: false

provider:
  name: Automotive News
  domain: autonews.com

topics:
  - AI

images:
  - url: "https://s3-prod.autonews.com/s3fs-public/styles/800x600/public/FIN1110INFORMEDNEW-MAIN.jpg"
    width: 800
    height: 600
    isCached: true

related:
  - title: "Transforming Hospital Supply Chain with AI and Automation"
    excerpt: "Medical supplies procurement is the second largest expense which constitutes approximately 1/3rd of a hospital’s Total Cost of Operations (TCO). Tec.."
    publishedDateTime: 2021-11-29T07:58:00Z
    webUrl: "https://health.economictimes.indiatimes.com/news/industry/transforming-hospital-supply-chain-with-ai-and-automation/87976757"
    ampWebUrl: "https://health.economictimes.indiatimes.com/amp/news/industry/transforming-hospital-supply-chain-with-ai-and-automation/87976757"
    cdnAmpWebUrl: "https://health-economictimes-indiatimes-com.cdn.ampproject.org/c/s/health.economictimes.indiatimes.com/amp/news/industry/transforming-hospital-supply-chain-with-ai-and-automation/87976757"
    type: article
    provider:
      name: India Times
      domain: indiatimes.com
    quality: 57
    images:
      - url: "https://etimg.etb2bimg.com/thumb/msid-87976757,imgsize-592622,width-1200,height-628,overlay-ethealthworld/transforming-hospital-supply-chain-with-ai-and-automation.jpg"
        width: 1200
        height: 628
        isCached: true

secured: "qpmodWfYPMRxGsGrXcPMDbhlhmrWOwcIIwFV4BqUGAmjH6910hNBqZ+yw0JizbNt4E/JGtYunQ8ZU5Ajas78sN2dtUyfNJZcZe+/JEexDtgXTQiLzsliEwb5eQpHy7NdaTmVYXkOp6YB2pOzfYRuxrHh2GLcCui7wWmIWnuTOh/1a3UF+bbt+k1hGRBHky1DVAEdNWcHnM46FgfoPiAvnff3Gzz5n11IagwujFPflrqKhOvXUIvNz6VEuaCfkzvlHZf4E5Ysa61O9yv3aVLS53mnGF3cZu6buVo/sUygOjbl1To3uLw6shc3QOXcUPFJ8Dga9JGx4WruXWSdBRdyf6taGdcOxB5/Qpac08efjOmeyyVpLykXjy4lbS6yZbI72OfnO9y1m7JOvxgE5Yu4GaNPmlZfWFF0dpPUIWXtxjej1hSoLkl7NiR+L86fEDJqZNJC1hQf/N5QmLOMPc/dMYxIBhyNGVfNXdgQZD4XauavQVHw5560EhezCR0oC+8iTkZzP52mqVr1nAOIHU4n5Q==;t78lvkDk445hxojLGcXl3w=="
---

