---
category: news
title: "How Stash Is Tapping Machine Learning, Behavioral Biometrics For Robust, Digital-First Identity Verification"
excerpt: "In an interview, Caleb Callahan, VP of fraud at personal finance app Stash, discusses the use of machine learning for digital-first identity verification."
publishedDateTime: 2021-04-19T13:00:00Z
originalUrl: "https://www.pymnts.com/identity/2021/stash-machine-learning-behavioral-biometrics-identity-verification/"
webUrl: "https://www.pymnts.com/identity/2021/stash-machine-learning-behavioral-biometrics-identity-verification/"
ampWebUrl: "https://www.pymnts.com/identity/2021/stash-machine-learning-behavioral-biometrics-identity-verification/amp/"
cdnAmpWebUrl: "https://www-pymnts-com.cdn.ampproject.org/c/s/www.pymnts.com/identity/2021/stash-machine-learning-behavioral-biometrics-identity-verification/amp/"
type: article
quality: 42
heat: 42
published: false

provider:
  name: pymnts.com
  domain: pymnts.com

topics:
  - AI in Finance
  - AI
  - Machine Learning

images:
  - url: "https://securecdn.pymnts.com/wp-content/uploads/2021/04/stasfs0421-457x274.jpg"
    width: 457
    height: 274
    isCached: true

secured: "5HLeokkfs3oMW2X9vGmPIMhh0jQODaVkuLRr+h4JKgXhfeJTdrQXFrQEjjtLFpqOsSFLZ4G1bgy9ACQ6+SetrQyV0tSPS4ir5o+5SV8RpWSl4bkW8u/ORgHs9jf+5Y/LN3UTLIlY7QVeCtvyVMhkVQqVnIXDB2aHcV1SRsaYFhFF56VNDbblHFzhC6vAmlxrG/E2zFLOICUBScMAzuB2YPgHo8Y/xOMjLoTXt616qBAOlVuk7MAuBocgDGF68z9n91HfDxXv9xgTaS0kpnHcgKPtIgS76RnvgJ9YNlVxSN1gWHViyXqwuKbBxg0oQdT6NeRyFXuS9bvL1PpTamh2KrIvVW7/p/+hUpccmmeU5ky5m1ODWthIQo7Ptyxrzq+8dgEUKJRBBuHA7irIQ6NWKR3zF2aVS00xlSP1PtWYllld3cbytWpW/KhyBie235j7vMjXq18Pjh0F2+OcVzmRbTyZ2IXEfsdtv0TjNfPaJkmPUVZROOX7BsnvfbvmZn5YWLbDFgE6CJP9RLGusSX3EQ==;b9PPM+2W5F+ateIAzi2xWQ=="
---

