---
category: news
title: "Instagram’s New AI Tool for Age-Verification"
excerpt: "Instagram is testing various new ways for age verification of its youngest users. Yoti’s AI tool is one of them."
publishedDateTime: 2022-06-28T07:38:00Z
originalUrl: "https://www.techthirsty.com/instagrams-new-ai-tool-for-age-verification/"
webUrl: "https://www.techthirsty.com/instagrams-new-ai-tool-for-age-verification/"
ampWebUrl: "https://www.techthirsty.com/instagrams-new-ai-tool-for-age-verification/?amp=1"
cdnAmpWebUrl: "https://www-techthirsty-com.cdn.ampproject.org/c/s/www.techthirsty.com/instagrams-new-ai-tool-for-age-verification/?amp=1"
type: article
quality: 59
heat: 79
published: true

provider:
  name: Tech Thirsty
  domain: techthirsty.com

topics:
  - Facebook AI
  - AI

images:
  - url: "https://www.techthirsty.com/wp-content/uploads/2022/06/Instagrams-New-AI-Tool-for-Age-Verification-1-640x356.jpg"
    width: 640
    height: 356
    isCached: true

related:
  - title: "It's Time To Talk About Instagram's Age Recognition Technology"
    excerpt: "Instagram is working to make browsing safer for younger users through facial recognition software and other age verification methods."
    publishedDateTime: 2022-06-28T23:54:00Z
    webUrl: "https://www.slashgear.com/910919/its-time-to-talk-about-instagrams-age-recognition-technology/"
    type: article
    provider:
      name: SlashGear
      domain: slashgear.com
    quality: 54
    images:
      - url: "https://www.slashgear.com/img/gallery/its-time-to-talk-about-instagrams-age-recognition-technology/l-intro-1656456555.jpg"
        width: 1600
        height: 900
        isCached: true
  - title: "Identifying Instagram Crowdturfers with Machine Learning"
    excerpt: "Researchers in Italy and Iran claim to have formulated the first machine learning system capable of recognizing the ‘crowdturfing’ activity of human (rather than automated) influencer accounts on the Instagram platform."
    publishedDateTime: 2022-06-28T14:09:00Z
    webUrl: "https://www.unite.ai/identifying-instagram-crowdturfers-with-machine-learning/"
    type: article
    provider:
      name: unite
      domain: unite.ai
    quality: 41
    images:
      - url: "https://ml8ygptwlcsq.i.optimole.com/fMKjlhs.QRSi~1ce64/w:800/h:480/q:mauto/rt:fill/g:ce/https://www.unite.ai/wp-content/uploads/2022/06/instagram-crowdturfing-MAIN.jpg"
        width: 800
        height: 480
        isCached: true

secured: "ZDnHgb8A46GNRS0rUG9G6g3sreJ/rL7NVMfLzVQ/tDyz/3un9zRR4KSwEkIAj7VQUiqhVp3b7CSnLMafpIQDHWR//bEjn4PaE0EmEGs6MTxY9D4Oe+O4PCyENOC/rGTWPFucxaf9XDSt6uCd6ShMVPYS1Hye0xNwrAlm9ZrVZUWKDiXbR2/Y0fBY/snbMLd4FxPF299bhRYvBoB8WJhUc6v8+RhMwbQGfsDqrs+veQrbejlJtSgMA+12S9QbiOQ5YcuPs615eq8mLKPWZ8Qk2qnM3QvHYiR8/ZBf/1xMRLk1G/hupSJOxOYSED08dtQ1OzD2iWEsxQU8cIzDSIqlrDc3ZSI6/kciCoG6SAIFwvp3BWKRJVs8gshM7XxwEnfDdhMSBu/poKop+2lng44rBevUelEiPQmWTnQjxu/0iQKeniAkJJUes+sRxd3NrrVk81Mk2MLJBR9veOqso6jgjW8G02GSf7wVqF8T2J8nayxkLQQpJhd8ojWvZzHkuiB31WfN9IBJTdBOgHLB4tWQTA==;OHYrKeiFs3gMGhOSVCJ79Q=="
---

