---
category: news
title: "Cadence Brings Big Data And AI Analytics To SoC Verification"
excerpt: "Ranked Industry Analyst Patrick Moorhead gives his analysis of Cadence's newly announced Verisium AI-Driven Verification platform and JedAI platform for speeding up verification workloads for SoC designs."
publishedDateTime: 2022-09-26T15:51:00Z
originalUrl: "https://www.forbes.com/sites/patrickmoorhead/2022/09/26/cadence-brings-big-data-and-ai-analytics-to-soc-verification/"
webUrl: "https://www.forbes.com/sites/patrickmoorhead/2022/09/26/cadence-brings-big-data-and-ai-analytics-to-soc-verification/"
ampWebUrl: "https://www.forbes.com/sites/patrickmoorhead/2022/09/26/cadence-brings-big-data-and-ai-analytics-to-soc-verification/amp/"
cdnAmpWebUrl: "https://www-forbes-com.cdn.ampproject.org/c/s/www.forbes.com/sites/patrickmoorhead/2022/09/26/cadence-brings-big-data-and-ai-analytics-to-soc-verification/amp/"
type: article
quality: 89
heat: -1
published: false

provider:
  name: Forbes
  domain: forbes.com
  images:
    - url: "https://everyday-cc.github.io/ai/assets/images/organizations/forbes.com-50x50.jpg"
      width: 50
      height: 50

topics:
  - AI Hardware
  - AI

images:
  - url: "https://imageio.forbes.com/specials-images/imageserve/6331c919636539d4817d2c2f/0x0.jpg?format=jpg&width=1200"
    width: 360
    height: 360
    isCached: true

related:
  - title: "SAS launches first cloud analytics service on Azure"
    excerpt: "SAS is one of the old guards in the data analytics space. Its first tools were developed at North Carolina State University in the late 1960s and commercially launched in 1976. Throughout the last fifty years,"
    publishedDateTime: 2022-09-27T15:30:00Z
    webUrl: "https://venturebeat.com/enterprise-analytics/sas-launches-first-cloud-analytics-service-on-azure/"
    ampWebUrl: "https://venturebeat.com/enterprise-analytics/sas-launches-first-cloud-analytics-service-on-azure/amp/"
    cdnAmpWebUrl: "https://venturebeat-com.cdn.ampproject.org/c/s/venturebeat.com/enterprise-analytics/sas-launches-first-cloud-analytics-service-on-azure/amp/"
    type: article
    provider:
      name: VentureBeat
      domain: venturebeat.com
    quality: 91
    images:
      - url: "https://venturebeat.com/wp-content/uploads/2015/12/Analytics.shutterstock_160050128.jpg?w=1200&strip=all"
        width: 1200
        height: 710
        isCached: true
  - title: "SAS Viya analytics suite now available on Azure Marketplace"
    excerpt: "Viya’s move to the marketplace allows enterprise customers to access its tools and features in a pay-as-you-go model, the company said."
    publishedDateTime: 2022-09-27T13:18:00Z
    webUrl: "https://www.infoworld.com/article/3674838/sas-viya-analytics-suite-now-available-on-azure-marketplace.html"
    type: article
    provider:
      name: InfoWorld
      domain: infoworld.com
    quality: 86
    images:
      - url: "https://images.idgesg.net/images/idge/imported/imageapi/2022/07/05/10/data_analytics_risk_assessment_tracking_trends_graphs_by_ipopba_gettyimages-1150397416_2400x1600-100828857-large-100929801-large.jpg?auto=webp&quality=85,70"
        width: 1200
        height: 800
        isCached: true
  - title: "As extreme weather events worsen, 7Analytics meshes AI and big data to predict flooding"
    excerpt: "Analytics was founded by data scientists and geologists to help reduce the risks of flooding, harnessing the power of AI, ML, and big data."
    publishedDateTime: 2022-09-29T20:40:00Z
    webUrl: "https://techcrunch.com/2022/09/29/as-extreme-weather-events-worsen-7analytics-meshes-ai-and-big-data-to-predict-flooding/"
    ampWebUrl: "https://techcrunch.com/2022/09/29/as-extreme-weather-events-worsen-7analytics-meshes-ai-and-big-data-to-predict-flooding/amp/"
    cdnAmpWebUrl: "https://techcrunch-com.cdn.ampproject.org/c/s/techcrunch.com/2022/09/29/as-extreme-weather-events-worsen-7analytics-meshes-ai-and-big-data-to-predict-flooding/amp/"
    type: article
    provider:
      name: TechCrunch
      domain: techcrunch.com
    quality: 79
    images:
      - url: "https://techcrunch.com/wp-content/uploads/2022/09/GettyImages-1199168364.jpg?resize=1200,400"
        width: 1200
        height: 400
        isCached: true
  - title: "SAS launches first cloud app with pay-as-you-go pricing"
    excerpt: "SAS Institute Inc. is making one of its top software applications available on a pay-as-you-go basis for the first time with today’s announcement that its Viya analytics platform is now available on the Microsoft Azure Marketplace."
    publishedDateTime: 2022-09-27T15:30:00Z
    webUrl: "https://siliconangle.com/2022/09/27/sas-launches-first-cloud-app-pay-go-pricing/"
    type: article
    provider:
      name: SiliconANGLE
      domain: siliconangle.com
    quality: 24
    images:
      - url: "https://d15shllkswkct0.cloudfront.net/wp-content/blogs.dir/1/files/2022/09/1465928356505.jpg"
        width: 1280
        height: 840
        isCached: true

secured: "Cl77vLhNgzJLK7d7A2I26q0PcnB6lcFOSflB1XM9WQwO1DNDu5f8Xa1yF4xVHaDL4Z7j8gSJcwZg1VrGgcjhRNNrZVCfK7OOxTxN4/U0kD817Yg9U64W8XeIGJQu6yQhYzoJLgkdTGbVP3zNDJBYAU3lhjaVEkFqOVszvuI33QZaeOTwROVN5JeQnKQZKVMhO6UIkX+yBMr2Zu8HC/tD+7/6tXIadA5nYQA152NYNHqJFoXVdk9UIAUsVw535aBHtFsDUea6KZUx6hTLahseegpMifKzBIYcbYk2jS0wnvEsNj5jdMR8IEkHJQHk3eY3IFICmAvFWDyUcaz0UyqhPWWqrxAhp4fAbllPLc9E+f2Gai1vNoAapzcoZ0dnId50zwaXLeiYImHu0oXsyIdO76RBxMEnDZApgZaT8xwb8AwQde7qyI+vPaELaYH00a09Z+qi1RqdQQojR85CSulzop9cTN/f/N0yNqbJWX84cVf4ai5hsz1idHq2elN5utJAatuluKuGeTQJNzNoUo4L3w==;fLUwCjV9iMrtmWCSKY9uUA=="
---

