---
category: news
title: "Instagram tests using AI and video selfies for age verification"
excerpt: "Instagram is testing ways to verify the age of people using its service, but users are skeptical about how the company will use its data."
publishedDateTime: 2022-06-26T18:26:00Z
originalUrl: "https://www.whas11.com/article/tech/instagram-testing-age-verification-tools/285-4dac1f40-f069-49ef-8798-354878572102"
webUrl: "https://www.whas11.com/article/tech/instagram-testing-age-verification-tools/285-4dac1f40-f069-49ef-8798-354878572102"
ampWebUrl: "https://www.whas11.com/amp/article/tech/instagram-testing-age-verification-tools/285-4dac1f40-f069-49ef-8798-354878572102"
cdnAmpWebUrl: "https://www-whas11-com.cdn.ampproject.org/c/s/www.whas11.com/amp/article/tech/instagram-testing-age-verification-tools/285-4dac1f40-f069-49ef-8798-354878572102"
type: article
quality: 57
heat: -1
published: false

provider:
  name: WHAS11 News
  domain: whas11.com

topics:
  - AI

images:
  - url: "https://media.whas11.com/assets/KHOU/images/a3d4ed75-b12b-44eb-af5e-6a61172620f9/a3d4ed75-b12b-44eb-af5e-6a61172620f9_1140x641.jpg"
    width: 1140
    height: 641
    isCached: true

related:
  - title: "Instagram is testing AI that verifies your age with a selfie scan. It's not perfect"
    excerpt: "Instagram is testing new ways to verify its youngest users' ages, including by using artificial intelligence that analyzes a photo and estimates how old the user is."
    publishedDateTime: 2022-06-27T12:33:00Z
    webUrl: "https://www.cnn.com/2022/06/27/tech/instagram-ai-age-estimation-face-scan/index.html"
    ampWebUrl: "https://amp.cnn.com/cnn/2022/06/27/tech/instagram-ai-age-estimation-face-scan/index.html"
    cdnAmpWebUrl: "https://amp-cnn-com.cdn.ampproject.org/c/s/amp.cnn.com/cnn/2022/06/27/tech/instagram-ai-age-estimation-face-scan/index.html"
    type: article
    provider:
      name: CNN
      domain: cnn.com
    quality: 83
    images:
      - url: "https://cdn.cnn.com/cnnnext/dam/assets/220624020409-02-instagram-ai-age-estimation-face-scan-restricted-super-tease.jpg"
        width: 1100
        height: 619
        isCached: true
  - title: "A reporter tried the AI Instagram wants to use to verify age. Here's what it found"
    excerpt: "Instagram is testing new ways to verify its youngest users' ages, including by using artificial intelligence that analyzes a photo and estimates how old the user is."
    publishedDateTime: 2022-06-27T23:30:00Z
    webUrl: "https://edition.cnn.com/2022/06/27/tech/instagram-ai-age-estimation-face-scan/index.html"
    ampWebUrl: "https://amp.cnn.com/cnn/2022/06/27/tech/instagram-ai-age-estimation-face-scan/index.html"
    cdnAmpWebUrl: "https://amp-cnn-com.cdn.ampproject.org/c/s/amp.cnn.com/cnn/2022/06/27/tech/instagram-ai-age-estimation-face-scan/index.html"
    type: article
    provider:
      name: CNN
      domain: cnn.com
    quality: 81
    images:
      - url: "https://cdn.cnn.com/cnnnext/dam/assets/220624020409-02-instagram-ai-age-estimation-face-scan-restricted-super-tease.jpg"
        width: 1100
        height: 619
        isCached: true
  - title: "Instagram is testing AI that verifies your age with selfie scan"
    excerpt: "Instagram is testing new ways to verify its youngest users' ages, including by using artificial intelligence that analyzes a photo and estimates how old the user is."
    publishedDateTime: 2022-06-27T16:51:00Z
    webUrl: "https://nbc-2.com/cnn/cnn-tech/2022/06/27/instagram-is-testing-ai-that-verifies-your-age-with-selfie-scan/"
    ampWebUrl: "https://nbc-2.com/cnn/cnn-tech/2022/06/27/instagram-is-testing-ai-that-verifies-your-age-with-selfie-scan/"
    cdnAmpWebUrl: "https://nbc--2-com.cdn.ampproject.org/c/s/nbc-2.com/cnn/cnn-tech/2022/06/27/instagram-is-testing-ai-that-verifies-your-age-with-selfie-scan/"
    type: article
    provider:
      name: NBC2
      domain: nbc-2.com
    quality: 59
    images:
      - url: "https://nbc-2.com/wp-content/uploads/2022/06/instagram-AI-tech.jpg"
        width: 1200
        height: 675
        isCached: true
  - title: "Instagram’s New AI Tool for Age-Verification"
    excerpt: "Instagram is testing various new ways for age verification of its youngest users. Yoti’s AI tool is one of them."
    publishedDateTime: 2022-06-28T07:38:00Z
    webUrl: "https://www.techthirsty.com/instagrams-new-ai-tool-for-age-verification/"
    ampWebUrl: "https://www.techthirsty.com/instagrams-new-ai-tool-for-age-verification/?amp=1"
    cdnAmpWebUrl: "https://www-techthirsty-com.cdn.ampproject.org/c/s/www.techthirsty.com/instagrams-new-ai-tool-for-age-verification/?amp=1"
    type: article
    provider:
      name: Tech Thirsty
      domain: techthirsty.com
    quality: 59
    images:
      - url: "https://www.techthirsty.com/wp-content/uploads/2022/06/Instagrams-New-AI-Tool-for-Age-Verification-1-640x356.jpg"
        width: 640
        height: 356
        isCached: true
  - title: "Instagram to use AI for age verification to protect children"
    excerpt: "Instagram, under fire from safety advocates to keep children off the app and prevent teens from seeing harmful content, is testing new ways to verify users’ age. Among them: running users’ video selfies through an artificial intelligence that can determine if they are adults."
    publishedDateTime: 2022-06-27T03:05:00Z
    webUrl: "https://www.businesslive.co.za/bloomberg/news/2022-06-27-instagram-to-use-ai-for-age-verification-to-protect-children/"
    ampWebUrl: "https://www.businesslive.co.za/amp/bloomberg/news/2022-06-27-instagram-to-use-ai-for-age-verification-to-protect-children/"
    cdnAmpWebUrl: "https://www-businesslive-co-za.cdn.ampproject.org/c/s/www.businesslive.co.za/amp/bloomberg/news/2022-06-27-instagram-to-use-ai-for-age-verification-to-protect-children/"
    type: article
    provider:
      name: businesslive.co.za
      domain: businesslive.co.za
    quality: 57
    images:
      - url: "https://lh3.googleusercontent.com/Alk9pKPUG1-DVcKhi2fbxf1CyzAo5q4vtsI43I4bmS4j3tuWUtWzysp_9HquiLxfkBsSPtYIcRL4gVvqKC_OTa0obToYkE1yuY_5YnuU8rkj=s512"
        width: 512
        height: 341
        isCached: true
  - title: "It's Time To Talk About Instagram's Age Recognition Technology"
    excerpt: "Instagram is working to make browsing safer for younger users through facial recognition software and other age verification methods."
    publishedDateTime: 2022-06-28T23:54:00Z
    webUrl: "https://www.slashgear.com/910919/its-time-to-talk-about-instagrams-age-recognition-technology/"
    type: article
    provider:
      name: SlashGear
      domain: slashgear.com
    quality: 54
    images:
      - url: "https://www.slashgear.com/img/gallery/its-time-to-talk-about-instagrams-age-recognition-technology/l-intro-1656456555.jpg"
        width: 1600
        height: 900
        isCached: true
  - title: "Identifying Instagram Crowdturfers with Machine Learning"
    excerpt: "Researchers in Italy and Iran claim to have formulated the first machine learning system capable of recognizing the ‘crowdturfing’ activity of human (rather than automated) influencer accounts on the Instagram platform."
    publishedDateTime: 2022-06-28T14:09:00Z
    webUrl: "https://www.unite.ai/identifying-instagram-crowdturfers-with-machine-learning/"
    type: article
    provider:
      name: unite
      domain: unite.ai
    quality: 41
    images:
      - url: "https://ml8ygptwlcsq.i.optimole.com/fMKjlhs.QRSi~1ce64/w:800/h:480/q:mauto/rt:fill/g:ce/https://www.unite.ai/wp-content/uploads/2022/06/instagram-crowdturfing-MAIN.jpg"
        width: 800
        height: 480
        isCached: true
  - title: "Instagram is testing artificial intelligence that verifies your age with a selfie scan"
    excerpt: "(CNN) — Instagram is testing new ways to verify its youngest users’ ages, including by using artificial intelligence that analyzes a photo and estimates how old the user is. Meta-owned Instagram said in a blog post on Thursday that AI is one of three ..."
    publishedDateTime: 2022-06-27T19:38:00Z
    webUrl: "https://www.wwaytv3.com/instagram-is-testing-artificial-intelligence-that-verifies-your-age-with-a-selfie-scan/"
    type: article
    provider:
      name: WWAY TV
      domain: wwaytv3.com
    quality: 11

secured: "PNOY0GfzMxfykHyMESFRke3XjlKBYB3GMhJIxubDToJJ0eLtAaWBVELwrtK8ZJHcSlgiiMnUpUd0Ek73BQax1SrPPFZ4X3jpMGfXPb7154muUJKS/D1U2tgIYpunSg6QlrsRjLFE/qDDqHF1Ilv0pxy7sM6ha9DNG2TzWTV2eHoCk3yIz1B6+Fq8WFECd1C6FPBHVWqf1pkqMSfHb8LxINDNNmUN2CsV8DP29dHupb0U9JkPk6XrhFMSLFQZfYn0VyxvBlUZVmEPtvVKrPNuuyCl2wie9XX50wxNP8EAFfXs58XjxtG06QgWXrReIYbvjtfSnB+wKWPZF5NDh39Kxf4xJ0LBwtwJ94SwaRV/UM9gCmA0Ldi8PjV8TW8Tsm8t9mkc2FlG369HKAdxTsdkDtqJTFOSKqn5PARGrbDTuIRcAWwBoe56uVEqjQSnvOxRM6fxiVlqT/UOlkiMHsiJTNINsm/PSNQARJWEizmll9a1Cc6whv2mT4FgFSLdY9R5zD2cZxKPfxVJeM9FpIq8iQ==;NpAU5+Prw3tbLknJFe9FRQ=="
---

