---
category: news
title: "Cadence hails EDA 2.0 with unified data and AI driven verification"
excerpt: "New EDA platform enables engineers to obtain ‘actionable intelligence’ from massive volumes of chip design and verification data."
publishedDateTime: 2022-09-18T05:53:00Z
originalUrl: "https://www.embedded.com/cadence-hails-eda-2-0-with-unified-data-and-ai-driven-verification/"
webUrl: "https://www.embedded.com/cadence-hails-eda-2-0-with-unified-data-and-ai-driven-verification/"
type: article
quality: 39
heat: 39
published: false

provider:
  name: Embedded
  domain: embedded.com

topics:
  - AI Hardware
  - AI

images:
  - url: "https://www.embedded.com/wp-content/uploads/2022/09/Cadence-JedAI-image.jpg"
    width: 863
    height: 447
    isCached: true

secured: "yAPwt3y+zgekyYDxMDbDtD9Q0VqllJ+vgkP11n9MyNaTkluv901uS9krBKrmaIg05mNjA7OnW4wCE6JmVBDhTOEsPoLKxlFTcpRX5kfvripmrR4kTEUEkh015hQeWheuR8edEQcy+PGhR7/aNArxt56NsHbrgPDqrgppFqnJYQBNTM2xQ4kKHXA5bc+LjJf3JaddmA671b7MlEDLoUU/or5Abm/cuH9/lZOMHqKZBTbHMNw+YkEQHtPDuw2cjx4F8jcokuuw3J34+UJoKjnxIchnJ1V1r7qmQWII3pB+ofwMbTKZQRemy0h1I+vBsj10C6BO+GBfQaoLeayWpibP1SmMo3Bgld9r4Dh/nHItO/MlgW1Gme0rKr6Z8i7Z1liE5yqEQ3GhIpR+RzPnSRCyoW5g7YKX+NlpLjvECTs8o7AE42Fk1WE4p/SRktMyT6obW8P7BrTJNb8YKPzByocJ9lh/TkOW+3j8OZZ5DTjjyYJMjr5FtTIQyBqVO8l+xoccdVwrXwGo3zI6YuZQGJ0aLg==;MW+4Xu15ROnvGN9W5rHZ1A=="
---

