---
category: news
title: "Brnovich, Maricopa disagree over use of AI in ballot verification"
excerpt: "Arizona's attorney general claims the county admitted to using artificial intelligence to verify voter signatures, but the letter he cites appears to undermine his claim."
publishedDateTime: 2022-04-14T23:45:00Z
originalUrl: "https://tucson.com/news/state-and-regional/govt-and-politics/brnovich-maricopa-disagree-over-use-of-ai-in-ballot-verification/article_ca1f887e-bc32-11ec-98bc-b71fa529cb96.html"
webUrl: "https://tucson.com/news/state-and-regional/govt-and-politics/brnovich-maricopa-disagree-over-use-of-ai-in-ballot-verification/article_ca1f887e-bc32-11ec-98bc-b71fa529cb96.html"
type: article
quality: 37
heat: 37
published: false

provider:
  name: Arizona Daily Star
  domain: tucson.com

topics:
  - AI

images:
  - url: "https://bloximages.chicago2.vip.townnews.com/tucson.com/content/tncms/assets/v3/editorial/1/5c/15c132d4-bc4a-11ec-8c71-b729ee34e597/624cc3e0a6be8.image.jpg?crop=1666%2C937%2C0%2C152&resize=1120%2C630&order=crop%2Cresize"
    width: 1120
    height: 630
    isCached: true

secured: "3YFKJBw+O69dXcLC6MWXbXUn3auEK+vnX9R7364Q0du22ceUVZNe8KZA46CCBYXrPjZhFEYGoZHHRSivosdKe55WK+pW6ZnY8f8rsgt5cJxVlvrwISVKYNNug0jMS78oxbYN7FEbHmpsP7lJ+450QsetFC0G38sWvJeaaLNg0OvMDqfVCFO5dy4thGIBYHAhyjvhdeRSfsVewxfDpWpLpzD2PAOmOabRXhd2kxfbhtLtYz4RgNIgw5NZIhDMVAYkjKrnc9KSBesb9EijJJEmUv5D9yxL1mIzaK5wWdlcxKnLfeYPjBe06aYGGbssnB56RaFUu/8A0XvPNAvvDdy7MwrCLqYn02BDL8ES8DDJ6NM8vOhgWFnABUP3yZaNCkiVRLTC1EV2C3fMHQHz8LMiOJgA6f9SLzSY+Z2Zo7vFvVZi575PMdfkOvGn1uCTYG6jxh1I+fRJoOHN0dwmbkrC4Ex7TOGP/OMiFm1FrbbyfJcGRgHdGLq/ANizVxjLIzC6xGWbmkaaUBqpl7D3ZUY7hA==;keAXYTApItsUc+ai1rZfwQ=="
---

