---
category: news
title: "Dielectric Applauds FCC OK of AI-Based FM Pattern Verification"
excerpt: "As RBR+TVBR first reported on May 19, the FCC at its May Open Meeting saw its Commissioners unanimously bless a move that permits the use of AI-driven simulated FM signal pattern modeling. The vote is entirely the result of an effort pioneered by a ..."
publishedDateTime: 2022-05-24T05:01:00Z
originalUrl: "https://www.rbr.com/dielectric-applauds-fcc-ok-of-ai-based-fm-pattern-verification/"
webUrl: "https://www.rbr.com/dielectric-applauds-fcc-ok-of-ai-based-fm-pattern-verification/"
type: article
quality: 37
heat: 37
published: false

provider:
  name: Radio & Television Business Report
  domain: rbr.com

topics:
  - AI

images:
  - url: "https://www.rbr.com/wp-content/uploads/Dielectric.jpg"
    width: 312
    height: 250
    isCached: true

secured: "1dJcy7/DK21SfgTjJwO/VJsQyQzGjRuFniYft8Uz3fbhAXD99PavzyxXJs1XTYnn/S4hcLNrwfQ7Eeyw+9IOX17pU7jtbopIOZW0HyA9ixZ/kMTtEntWVTBgAW0rHR3i5hMoEKv2p9pgE6Vml3W2k4qlZjBaKktU1fceKRsdiZiXLdpAfjvpNbehg2AVAd0jd/vReX7t+PvGx8tSI+S66rTA6GXMplWphG+BfGkx85VWUgDtlwvSLmjjPj2l5LtavMlt9t/Xx/Evf4E1NyEe3QBXDmeSPkvYmojIJktwPCtTjOGHeHP33E42qHkA9ptXJ8WqIY8dSvpB7hK4VmYhY1n+n+6VEOGlj7O8S9A+eho=;CdeT+Lm5cycd6ndya5pv3Q=="
---

