---
category: news
title: "Instagram tests using artificial intelligence, other tools for age verification"
excerpt: "Instagram is testing new ways to verify the age of people using its service, including a face-scanning artificial intelligence tool, having mutual friends verify their age or uploading an ID."
publishedDateTime: 2022-06-23T20:24:00Z
originalUrl: "https://www.staradvertiser.com/2022/06/23/news/instagram-tests-using-artificial-intelligence-other-tools-for-age-verification/"
webUrl: "https://www.staradvertiser.com/2022/06/23/news/instagram-tests-using-artificial-intelligence-other-tools-for-age-verification/"
ampWebUrl: "https://www.staradvertiser.com/2022/06/23/news/instagram-tests-using-artificial-intelligence-other-tools-for-age-verification/amp/"
cdnAmpWebUrl: "https://www-staradvertiser-com.cdn.ampproject.org/c/s/www.staradvertiser.com/2022/06/23/news/instagram-tests-using-artificial-intelligence-other-tools-for-age-verification/amp/"
type: article
quality: 57
heat: -1
published: false

provider:
  name: Honolulu Star-Advertiser
  domain: staradvertiser.com

topics:
  - AI in Healthcare
  - AI
  - Facebook AI

images:
  - url: "https://www.staradvertiser.com/wp-content/uploads/2022/06/web1_12669860-40267c0d07df4ef99bac109894984999.jpg"
    width: 760
    height: 507
    isCached: true

related:
  - title: "Instagram is testing AI that verifies your age with a selfie scan. It's not perfect"
    excerpt: "Instagram is testing new ways to verify its youngest users' ages, including by using artificial intelligence that analyzes a photo and estimates how old the user is."
    publishedDateTime: 2022-06-27T12:33:00Z
    webUrl: "https://www.cnn.com/2022/06/27/tech/instagram-ai-age-estimation-face-scan/index.html"
    ampWebUrl: "https://amp.cnn.com/cnn/2022/06/27/tech/instagram-ai-age-estimation-face-scan/index.html"
    cdnAmpWebUrl: "https://amp-cnn-com.cdn.ampproject.org/c/s/amp.cnn.com/cnn/2022/06/27/tech/instagram-ai-age-estimation-face-scan/index.html"
    type: article
    provider:
      name: CNN
      domain: cnn.com
    quality: 83
    images:
      - url: "https://cdn.cnn.com/cnnnext/dam/assets/220624020409-02-instagram-ai-age-estimation-face-scan-restricted-super-tease.jpg"
        width: 1100
        height: 619
        isCached: true
  - title: "Instagram Rolls Out Face Recognition for Teen Age Verification"
    excerpt: "Besides providing Instagram with an ID, young people will have the novel option to upload a video selfie and have it vetted by an AI specialized in facial age estimation from Yoti, a UK-based ..."
    publishedDateTime: 2022-06-23T21:19:00Z
    webUrl: "https://gizmodo.com/instagram-rolls-out-face-recognition-for-teen-age-verif-1849101628"
    ampWebUrl: "https://gizmodo.com/instagram-rolls-out-face-recognition-for-teen-age-verif-1849101628/amp"
    cdnAmpWebUrl: "https://gizmodo-com.cdn.ampproject.org/c/s/gizmodo.com/instagram-rolls-out-face-recognition-for-teen-age-verif-1849101628/amp"
    type: article
    provider:
      name: Gizmodo
      domain: gizmodo.com
    quality: 69
  - title: "Instagram is testing AI that verifies your age with selfie scan"
    excerpt: "Instagram is testing new ways to verify its youngest users' ages, including by using artificial intelligence that analyzes a photo and estimates how old the user is."
    publishedDateTime: 2022-06-27T16:51:00Z
    webUrl: "https://nbc-2.com/cnn/cnn-tech/2022/06/27/instagram-is-testing-ai-that-verifies-your-age-with-selfie-scan/"
    ampWebUrl: "https://nbc-2.com/cnn/cnn-tech/2022/06/27/instagram-is-testing-ai-that-verifies-your-age-with-selfie-scan/"
    cdnAmpWebUrl: "https://nbc--2-com.cdn.ampproject.org/c/s/nbc-2.com/cnn/cnn-tech/2022/06/27/instagram-is-testing-ai-that-verifies-your-age-with-selfie-scan/"
    type: article
    provider:
      name: NBC2
      domain: nbc-2.com
    quality: 59
    images:
      - url: "https://nbc-2.com/wp-content/uploads/2022/06/instagram-AI-tech.jpg"
        width: 1200
        height: 675
        isCached: true
  - title: "Instagram’s New AI Tool for Age-Verification"
    excerpt: "Instagram is testing various new ways for age verification of its youngest users. Yoti’s AI tool is one of them."
    publishedDateTime: 2022-06-28T07:38:00Z
    webUrl: "https://www.techthirsty.com/instagrams-new-ai-tool-for-age-verification/"
    ampWebUrl: "https://www.techthirsty.com/instagrams-new-ai-tool-for-age-verification/?amp=1"
    cdnAmpWebUrl: "https://www-techthirsty-com.cdn.ampproject.org/c/s/www.techthirsty.com/instagrams-new-ai-tool-for-age-verification/?amp=1"
    type: article
    provider:
      name: Tech Thirsty
      domain: techthirsty.com
    quality: 59
    images:
      - url: "https://www.techthirsty.com/wp-content/uploads/2022/06/Instagrams-New-AI-Tool-for-Age-Verification-1-640x356.jpg"
        width: 640
        height: 356
        isCached: true
  - title: "Instagram tests using AI and video selfies for age verification"
    excerpt: "Instagram is testing ways to verify the age of people using its service, but users are skeptical about how the company will use its data."
    publishedDateTime: 2022-06-26T18:26:00Z
    webUrl: "https://www.whas11.com/article/tech/instagram-testing-age-verification-tools/285-4dac1f40-f069-49ef-8798-354878572102"
    ampWebUrl: "https://www.whas11.com/amp/article/tech/instagram-testing-age-verification-tools/285-4dac1f40-f069-49ef-8798-354878572102"
    cdnAmpWebUrl: "https://www-whas11-com.cdn.ampproject.org/c/s/www.whas11.com/amp/article/tech/instagram-testing-age-verification-tools/285-4dac1f40-f069-49ef-8798-354878572102"
    type: article
    provider:
      name: WHAS11 News
      domain: whas11.com
    quality: 57
    images:
      - url: "https://media.whas11.com/assets/KHOU/images/a3d4ed75-b12b-44eb-af5e-6a61172620f9/a3d4ed75-b12b-44eb-af5e-6a61172620f9_1140x641.jpg"
        width: 1140
        height: 641
        isCached: true
  - title: "Instagram to use AI for age verification to protect children"
    excerpt: "Instagram, under fire from safety advocates to keep children off the app and prevent teens from seeing harmful content, is testing new ways to verify users’ age. Among them: running users’ video selfies through an artificial intelligence that can determine if they are adults."
    publishedDateTime: 2022-06-27T03:05:00Z
    webUrl: "https://www.businesslive.co.za/bloomberg/news/2022-06-27-instagram-to-use-ai-for-age-verification-to-protect-children/"
    ampWebUrl: "https://www.businesslive.co.za/amp/bloomberg/news/2022-06-27-instagram-to-use-ai-for-age-verification-to-protect-children/"
    cdnAmpWebUrl: "https://www-businesslive-co-za.cdn.ampproject.org/c/s/www.businesslive.co.za/amp/bloomberg/news/2022-06-27-instagram-to-use-ai-for-age-verification-to-protect-children/"
    type: article
    provider:
      name: businesslive.co.za
      domain: businesslive.co.za
    quality: 57
    images:
      - url: "https://lh3.googleusercontent.com/Alk9pKPUG1-DVcKhi2fbxf1CyzAo5q4vtsI43I4bmS4j3tuWUtWzysp_9HquiLxfkBsSPtYIcRL4gVvqKC_OTa0obToYkE1yuY_5YnuU8rkj=s512"
        width: 512
        height: 341
        isCached: true
  - title: "Instagram testing facial scanning tech for kids to verify ages, lawmakers cry foul"
    excerpt: "“Instagram has a proven track record of knowingly putting children at risk, and their new facial recognition proposal undeniably intrudes on children’s privacy,” Ms. Blackburn said in a statement to The Washington Times. “Instead of using less ..."
    publishedDateTime: 2022-06-24T20:49:00Z
    webUrl: "https://www.washingtontimes.com/news/2022/jun/24/instagram-testing-facial-scanning-tech-kids-verify/"
    ampWebUrl: "https://amp.washingtontimes.com/news/2022/jun/24/instagram-testing-facial-scanning-tech-kids-verify/"
    cdnAmpWebUrl: "https://amp-washingtontimes-com.cdn.ampproject.org/c/s/amp.washingtontimes.com/news/2022/jun/24/instagram-testing-facial-scanning-tech-kids-verify/"
    type: article
    provider:
      name: Washington Times
      domain: washingtontimes.com
    quality: 38
    images:
      - url: "https://twt-thumbs.washtimes.com/media/image/2022/06/24/shutterstock_712489231_c0-196-4707-2941_s1200x700.jpeg?252bacb6c34fcb4f7b3ea742705da80edbc49450"
        width: 1200
        height: 700
        isCached: true
  - title: "Instagram tests using AI and video selfies for age verification"
    excerpt: "Instagram is testing ways to verify the age of people using its service, but users are skeptical about how the company will use its data."
    publishedDateTime: 2022-06-26T16:40:00Z
    webUrl: "https://www.khou.com/video/tech/instagram-tests-using-ai-and-video-selfies-for-age-verification/285-20af8952-82e1-49de-af4e-dd3fda504d51"
    type: article
    provider:
      name: KHOU 11
      domain: khou.com
    quality: 37
    images:
      - url: "https://media.khou.com/assets/KHOU/images/a3d4ed75-b12b-44eb-af5e-6a61172620f9/a3d4ed75-b12b-44eb-af5e-6a61172620f9_1140x641.jpg"
        width: 1140
        height: 641
        isCached: true
  - title: "Instagram to test artificial intelligence on faces to verify users are over 18"
    excerpt: "Starting in the US, Instagram will be accepting video selfies, which Meta will submit to the identity verification company Yoti."
    publishedDateTime: 2022-06-24T05:27:00Z
    webUrl: "https://gulfbusiness.com/instagram-to-test-artificial-intelligence-on-faces-to-verify-users-are-over-18/"
    type: article
    provider:
      name: Gulf Business
      domain: gulfbusiness.com
    quality: 33
    images:
      - url: "https://gulfbusiness.com/wp-content/uploads/2022/06/brett-jordan-fmqhTMu4IVU-unsplash.jpg"
        width: 921
        height: 620
        isCached: true
  - title: "Instagram is testing artificial intelligence that verifies your age with a selfie scan"
    excerpt: "(CNN) — Instagram is testing new ways to verify its youngest users’ ages, including by using artificial intelligence that analyzes a photo and estimates how old the user is. Meta-owned Instagram said in a blog post on Thursday that AI is one of three ..."
    publishedDateTime: 2022-06-27T19:38:00Z
    webUrl: "https://www.wwaytv3.com/instagram-is-testing-artificial-intelligence-that-verifies-your-age-with-a-selfie-scan/"
    type: article
    provider:
      name: WWAY TV
      domain: wwaytv3.com
    quality: 11

secured: "+289mczr1KgIISMUFCI4ao1ivL5z5L7LBzLnt+jRy1UfT/ti/CvsQziA8hEF0pevNtMsJ2W3qYdRUMbpY3I0jPhrFFBnt5qfEhZO5ei7+i6SEggu7rcILt1ousGAN3Ie0h/H05i2hvwT4bESkETN/Hlqxy4qAPrdtJfWrQFJNhRNUJ1KhXKpWhHoiBNJBvh2XfdtYbLgBkYYakQvhbmPUnZf+oCE8IWX5kuqnppG+TBlFuMPoGeZeglkpSMBSXzwEbLM2ieZDbY4KN4xtd7Eh87ZefwponxjN7Mgbi/G7l6GzzlyIlCbp5ckrW1ICrOWGKLI8oimABa7YkpruhpM2yaZa/HVCmXwIJt5K5NbYK6r02i2zxTJNovWsmxxOELGkSOouoFOP7UI2Uf7XfLTRafubtFn9Z38AjDBUZc1nz//MgmsRMOdE4/gB1WToH5HsKwgfnoqYIJRhCH55/KcXYyasAUxGvasEPoSEGyqzNLJq9CxtVmPiuv26NioRh6Ba1nQyz+MOoc/G41q0WZxpQ==;DQTwpFGgfrW0pCykuBfc1A=="
---

