---
category: news
title: "Regula reports major client operational savings from travel ID document verification"
excerpt: "Sherpa has realized $200,000 in annual savings, 15 percent of its operational cost by adopting Regula’s ID document scanning and selfie capture software."
publishedDateTime: 2023-09-14T15:51:00Z
originalUrl: "https://www.biometricupdate.com/202309/regula-reports-major-client-operational-savings-from-travel-id-document-verification"
webUrl: "https://www.biometricupdate.com/202309/regula-reports-major-client-operational-savings-from-travel-id-document-verification"
type: article
quality: 17
heat: 17
published: false

provider:
  name: Biometric Companies
  domain: biometricupdate.com

topics:
  - Computer Vision
  - AI

images:
  - url: "https://d1sr9z1pdl3mb7.cloudfront.net/wp-content/uploads/2023/06/28124120/Regula-Doc-Reader-SDK.png"
    width: 1400
    height: 667
    isCached: true

secured: "u3z+HQ6Bxy9V4IEUbdsUWeTHvLJB0W3RIffoM6jceaTB8LRPT21wsVN/mK0iEqEvvlS70MzXz1ZOVhbYFdBuC2EZGKRBtQWKGWg37bMDub8yumsQtnuNCCNV6fVXEAtJnHNn/4fpt3a2XRZxAsImLeY7RBKQ0Y/J/1qK1KkLD6aGqvlHgZglDFL3qMIksStP1LxB7C/0iQJ+Ww0Z3hIyadQ3Kh8p2cGn/4Hi3y/2ajKYwTUJJNhNlf/bH6oS6iLwH4VtEXvJORInpueXqU9OLAvK3sa9jNlIApPoX2jn2p9rr4ei1PoAHsH5TTzKI11sjx+XQqwGk5DmdwKVx5XkDQTusYq1if4+XovUSL/BY84=;na2ogFEEYWDqVrsftYDqMA=="
---

