---
category: news
title: "ESRB plans “facial age estimation” checker for age verification"
excerpt: "The video game rating board for the US, the ESRB, has had its new plans unearthed after the FTC put them up for public opinion. Dubbed Privacy-Protective Facial Age Estimation, the tech would allow parents to upload a photo of themselves to give permission to their child to play certain games."
publishedDateTime: 2023-07-25T17:39:00Z
originalUrl: "https://www.dexerto.com/tech/esrb-plans-facial-recognition-age-checker-for-age-verification-2224056/"
webUrl: "https://www.dexerto.com/tech/esrb-plans-facial-recognition-age-checker-for-age-verification-2224056/"
type: article
quality: 24
heat: 24
published: false

provider:
  name: Dexerto
  domain: dexerto.com

topics:
  - Computer Vision
  - AI

images:
  - url: "https://editors.dexerto.com/wp-content/uploads/2023/07/25/esrb.jpg"
    width: 1600
    height: 900
    isCached: true

related:
  - title: "ESRB proposes facial age estimation technology for parental consent"
    excerpt: "UPDATE 26/07 11:40am: In a statement shared with Eurogamer, the ESRB has clarified its proposed \"Privacy-Protective Facial Age Estimation\" technology is to be used to verify the age of people giving consent for a child."
    publishedDateTime: 2023-07-26T10:39:00Z
    webUrl: "https://www.eurogamer.net/esrb-proposes-facial-recognition-age-verification-for-parental-consent"
    type: article
    provider:
      name: Eurogamer
      domain: eurogamer.net
    quality: 24
    images:
      - url: "https://assetsio.reedpopcdn.com/AdobeStock_331209580.jpeg?width=1200&height=630&fit=crop&enable=upscale&auto=webp"
        width: 1200
        height: 630
        isCached: true

secured: "qGkTu54iJFFUTGe9MbEcol6IEtLJ0rRolHVAGRKgdu/G54T6QHwnV0DeuF94GSwHDs7wK5O5UtWpS+u4k1SfcPLRfthoXZkyG+fo/ii+gbvKZDfmUMMd03sQAVNg3uBIvsUeVZJfDAbcojvDSWDlSoKvXUtmGKjvZAr/bgcV3FoNnZSNhFF9vvqk2q6YxEANXoYqKkqTbw+gxCeW+BU3JbbTESWCUoLMsImK2p+Jfvuni7UWbwQZZRPUmfljTleZnoJE3QMyv79IaM7iFh7lT2iATSSb6CPn+YMQJaeywKbrN9nO5R9F1KuHCOigW37/yBHSqrWLYoogLT5sSQq5/W4oJn9aPB3sJYjt35geFgiogNiPwi+tWS61bV5zSas4O89/GyBxjPycwhzKGRDIG3oo0NnUSXH3I/dtzvnX4QTfi0WAPv7lllw1nGBzMsBNesx9nqOOWeWRO1LCcEmyLIVGALWJmY4Z/jrYKPtfMB271pdsf8DCmtPe7g1WeRCToIzfUZ+ZOemhz1XWEio2FQ==;MVntXMzHPTJ5DD2sUiptjQ=="
---

