---
category: news
title: "Botco.ai and VerifyTreatment Release an Out-of-the-Box Chatbot for Fast, Simple Insurance Benefits Verification"
excerpt: "SOURCE Botco.ai Expanding on their partnership, the new solution enables healthcare companies to add a dedicated insurance verification chatbot to their website with just a snippet of code SCOTTSDALE,"
publishedDateTime: 2021-12-09T16:47:00Z
originalUrl: "https://www.wicz.com/story/45412676/botcoai-and-verifytreatment-release-an-out-of-the-box-chatbot-for-fast-simple-insurance-benefits-verification"
webUrl: "https://www.wicz.com/story/45412676/botcoai-and-verifytreatment-release-an-out-of-the-box-chatbot-for-fast-simple-insurance-benefits-verification"
type: article
quality: 17
heat: 17
published: false

provider:
  name: FOX 40 WICZ TV
  domain: wicz.com

topics:
  - AI

images:
  - url: "https://WICZ.images.worldnow.com/images/20397967_G.png"
    width: 1200
    height: 628
    isCached: true

secured: "3WWlHirUCxzcnHDtnliiBf/MVFB66L6It4TDsMlUj9I0vpfrYn+l65tXbuFZodz7G75QkWt/9mV5w31BMvX0q5JBPG9DoeKK424ALx+wxFbQZpma4tiL+8h7VTOkxQIiEujRh13qJ8fNH1nRefJEknJkChadI/glBY+GLj44VvA8oCQAxmeNW4aRVdhSj2dNs01I1iaUxyIIPCBnGs7lT61wZ4xv1qp/t055Un8OwUCKGs0csGKHHo7vP8camWEgdKl8lt/wEuDmnlc+CM6OoORBZ/wu7NF0kUynBTubGwREI7pLvGfiMZR2+eY/AxQah0CWpsdi0uPzKzCSt0BSIl/LQcFyQcDSpsp3lddiKpc=;OBswpSCyTr7l21OZ0I5HQA=="
---

