---
category: news
title: "ITL launches USB device for facial recognition, age verification"
excerpt: "The edge solution converts any USB camera into a smart camera and is an inexpensive way to realize the advantages of biometric technology."
publishedDateTime: 2021-06-24T20:25:00Z
originalUrl: "https://www.biometricupdate.com/202106/itl-launches-usb-device-for-facial-recognition-age-verification"
webUrl: "https://www.biometricupdate.com/202106/itl-launches-usb-device-for-facial-recognition-age-verification"
type: article
quality: 39
heat: -1
published: false

provider:
  name: Biometric Companies
  domain: biometricupdate.com

topics:
  - Computer Vision
  - AI

images:
  - url: "https://d1sr9z1pdl3mb7.cloudfront.net/wp-content/uploads/2020/04/01130554/biometric-facial-recognition.jpg"
    width: 730
    height: 499
    isCached: true

related:
  - title: "Tinder And Stripe Launch Facial Recognition Tools"
    excerpt: "Tinder is now requiring users to submit to facial recognition to validate their identity. This news comes right on the heels of Stripe"
    publishedDateTime: 2021-06-22T17:14:00Z
    webUrl: "https://www.valuewalk.com/tinder-stripe-launch-facial-recognition-tools/"
    type: article
    provider:
      name: ValueWalk
      domain: valuewalk.com
    quality: 39
    images:
      - url: "https://www.valuewalk.com/wp-content/uploads/2019/12/facial_recognition_1575578207.png"
        width: 1280
        height: 1066
        isCached: true

secured: "XRlSCgT5OZFwe4HlCEbtCYcpFPMMXuA48goH+46czc+gyVXuP4CSw4CWpBOIAXegexFOR3M0W35d3/nIhcL/8GHM2Ax/qs7LMhrk2sphh3e/j4Ei06EimUrSDy9vJPlW0ffIQg2Z9kMFki8o05qxGOFXn4Jdf8K2pdgcf0m73/BWEdylWBfXz2+5CEbWQ1ZB7/j41aSeZbAgF+FxZ5YiLc9uHT0NWw4zQAhwP1GZGaa7KPckRpCHj/SKXbnv2TTD/ZPtoMa16jfZZEAW3r+FJ5jWP6cIx+XhTMJqeGkeP54e/gm2Nigkxg9SASIPtnkm0IuD4bfDNGWBJP4v3PBKIvKl2BWgDZqC4feWW+lprUw=;VP+EDyJTVaqFMV5ogpX1pQ=="
---

