---
category: news
title: "How Stash Is Tapping Machine Learning, Behavioral Biometrics For Robust, Digital-First Identity Verification"
excerpt: "In an interview, Caleb Callahan, VP of fraud at personal finance app Stash, discusses the use of machine learning for digital-first identity verification."
publishedDateTime: 2021-04-19T13:00:00Z
originalUrl: "https://www.pymnts.com/identity/2021/stash-machine-learning-behavioral-biometrics-identity-verification/"
webUrl: "https://www.pymnts.com/identity/2021/stash-machine-learning-behavioral-biometrics-identity-verification/"
ampWebUrl: "https://www.pymnts.com/identity/2021/stash-machine-learning-behavioral-biometrics-identity-verification/amp/"
cdnAmpWebUrl: "https://www-pymnts-com.cdn.ampproject.org/c/s/www.pymnts.com/identity/2021/stash-machine-learning-behavioral-biometrics-identity-verification/amp/"
type: article
quality: 42
heat: 42
published: false

provider:
  name: pymnts.com
  domain: pymnts.com

topics:
  - AI in Finance
  - AI
  - Machine Learning

images:
  - url: "https://securecdn.pymnts.com/wp-content/uploads/2021/04/stasfs0421-457x274.jpg"
    width: 457
    height: 274
    isCached: true

secured: "w/Txt4+ILzSKp+fUr2ykzB+6RK1aVjliKbsq+ESHW5fxt1VvwVpM+vbxmXv1E0YnG37KuhaKNv12Nr/Vp3+E4q38Z3fgVrv/Ve7+Q3bB1PdCkvBxG14FJfc7FHrSoExXzaWmKkb+rANIgGU6kycBFYw7gi2Yfb0uja6/YcIsTOob6uMsxmcD5DU6nfN61LNkp0gHxXr4nlpfOMCsuCHNplUeVrhOsBqDwyUanv2I9gr8n8zce7NLHATwGso/l/gr7BARcqGlQJfZGkbKHeaX6aL1bVRQ3CYweEOZDiPgfvrttfc/7B9OLH7Muar5Kg5KMjaZtWaq56/yaDsdjVrSBQW4I3NT0mL8jCG2EzjZfhU=;CMCNCCbBzBhMgFs862vILg=="
---

