---
category: news
title: "Deep learning could transform the ability to accurately interpret HIV test results"
excerpt: "Pioneering technology developed by UCL and Africa Health Research Institute researchers could transform the ability to accurately interpret HIV test results, particularly in low- and middle-income countries."
publishedDateTime: 2021-06-19T01:34:00Z
originalUrl: "https://www.news-medical.net/news/20210618/Deep-learning-could-transform-the-ability-to-accurately-interpret-HIV-test-results.aspx"
webUrl: "https://www.news-medical.net/news/20210618/Deep-learning-could-transform-the-ability-to-accurately-interpret-HIV-test-results.aspx"
ampWebUrl: "https://www.news-medical.net/amp/news/20210618/Deep-learning-could-transform-the-ability-to-accurately-interpret-HIV-test-results.aspx"
cdnAmpWebUrl: "https://www-news--medical-net.cdn.ampproject.org/c/s/www.news-medical.net/amp/news/20210618/Deep-learning-could-transform-the-ability-to-accurately-interpret-HIV-test-results.aspx"
type: article
quality: 55
heat: 65
published: false

provider:
  name: News Medical
  domain: news-medical.net

topics:
  - Machine Learning
  - AI
  - AI in Healthcare

images:
  - url: "https://d2jx2rerrg6sh3.cloudfront.net/image-handler/picture/2014/7/HIV-620x480.jpg"
    width: 620
    height: 480
    isCached: true

related:
  - title: "AI app could help diagnose HIV more accurately"
    excerpt: "Their findings, published today in Nature Medicine, involve the first and largest study of field-acquired HIV test results, which have applied machine learning (AI) to help classify them as positive or negative."
    publishedDateTime: 2021-06-18T04:00:00Z
    webUrl: "https://www.eurekalert.org/pub_releases/2021-06/ucl-aac061821.php"
    type: article
    provider:
      name: EurekAlert!
      domain: eurekalert.org
    quality: 39
    images:
      - url: "https://www.eurekalert.org/multimedia/pub/web/268331_web.jpg"
        width: 1440
        height: 960
        isCached: true

secured: "6J6jQKrNGaHYXHCjzrCoP8E/FsrDdmFvMX570iNUtiJaz/48JZQdaRZ0JpIq01pT6D7FgcyJ4vBh4h85EFV5bK97VD4HwV9yVV8qHzWaY3b8EDqcpWTV8PASAL+F9of2SUhdWArVjY3X+8pOD66lBw9rCOxQXHvIqmK1M+gPRR4nKDkqq9Ii83DOpx0o2ZUOWWi7rc19R6c8u4f1bez9GDxlF58Eo5lry+6gjyywzqzNDBmypd7JP5hrnODyAUntrxnvgd+9WkVtNh+jE7nQg+2YppLKXpXPTjccwHXptJiAL43xLoTDSGNUZsFr97uTIYKfY1s0Ku3i/J4suy1AAvONl3DALBUjeFxdwHrsdvDpcvSY88P+sP6XV4Xp/D8i7WTBBJ/DQRZBwfwX2EdK1pLzWkDXTDEq4Y1Iloo6x+8jlPOBER4R1PZ2M5pXYobn5wNj+uNYYGKhFJf9O29ziqonOqAuDJGfeSc4SXfdHrq4mgF34s+sWfOhS/1izbN0dHMBJLeX9QT2U6MlW57BWA==;ajWkyqZV/tgI3hVutwRUHQ=="
---

