---
category: news
title: "Veridas face biometrics upgraded, voice biometrics deployed for pensioner verification"
excerpt: "Veridas has upgraded its facial recognition matching engine, resulting in improved performance in NIST FRVT 1:N benchmarking, and also announced a collaborative partnership, a customer win for the company’s voice biometrics,"
publishedDateTime: 2021-08-20T19:34:00Z
originalUrl: "https://www.biometricupdate.com/202108/veridas-face-biometrics-upgraded-voice-biometrics-deployed-for-pensioner-verification"
webUrl: "https://www.biometricupdate.com/202108/veridas-face-biometrics-upgraded-voice-biometrics-deployed-for-pensioner-verification"
type: article
quality: 16
heat: -1
published: false

provider:
  name: Biometric Companies
  domain: biometricupdate.com

topics:
  - Natural Language Processing
  - AI

images:
  - url: "https://d1sr9z1pdl3mb7.cloudfront.net/wp-content/uploads/2021/07/21110527/passive-biometric-liveness.jpg"
    width: 1200
    height: 900
    isCached: true

related:
  - title: "Iris and face biometrics on the rise for access control worldwide"
    excerpt: "Two separate market studies have highlighted the emerging relevance of iris biometrics for access control applications worldwide."
    publishedDateTime: 2021-08-23T21:07:00Z
    webUrl: "https://www.biometricupdate.com/202108/iris-and-face-biometrics-on-the-rise-for-access-control-worldwide"
    type: article
    provider:
      name: Biometric Companies
      domain: biometricupdate.com
    quality: 24
    images:
      - url: "https://d1sr9z1pdl3mb7.cloudfront.net/wp-content/uploads/2018/01/09161443/iris-and-face-biometrics.jpg"
        width: 1720
        height: 1032
        isCached: true

secured: "6qaKY4In0g2QgxewTFpu5U3FIAIhz7GkH0rklNXdpsopxaLfy2Q1qDe1hBol5cXjK9kmuElutL2jqEyudZA6vRRbuadY77RyuncGNtKTFTZqHifoYMXuGbhPoRid+wsnFTzpTMMZIf2ZZlQGOmbQ5iPNv71z4a7S9YSHjL3YuG6cBAU/BihWnwOEHTMQfGtZt+dikXvtQ4/Yer4Dh4THUuZe/IOUzaeS0z8VGT6ecmOiHXXE4uUJBh6+KWhWZjqwPVJjdTL7ZX1DvDEGao+WfwfyKTnMDf3VJHi6rYdT3PIrd+7QV4PF+dL9ADUZYnMFLzsFXXfD5EzbVGN3sIXD7ZbEokcokvsI80tzjPTDS08=;IBzwsMowpWtF6DeC+L8n7g=="
---

