---
category: news
title: "ITL launches USB device for facial recognition, age verification"
excerpt: "The edge solution converts any USB camera into a smart camera and is an inexpensive way to realize the advantages of biometric technology."
publishedDateTime: 2021-06-24T20:25:00Z
originalUrl: "https://www.biometricupdate.com/202106/itl-launches-usb-device-for-facial-recognition-age-verification"
webUrl: "https://www.biometricupdate.com/202106/itl-launches-usb-device-for-facial-recognition-age-verification"
type: article
quality: 39
heat: -1
published: false

provider:
  name: Biometric Companies
  domain: biometricupdate.com

topics:
  - Computer Vision
  - AI

images:
  - url: "https://d1sr9z1pdl3mb7.cloudfront.net/wp-content/uploads/2020/04/01130554/biometric-facial-recognition.jpg"
    width: 730
    height: 499
    isCached: true

related:
  - title: "Tinder And Stripe Launch Facial Recognition Tools"
    excerpt: "Tinder is now requiring users to submit to facial recognition to validate their identity. This news comes right on the heels of Stripe"
    publishedDateTime: 2021-06-22T17:14:00Z
    webUrl: "https://www.valuewalk.com/tinder-stripe-launch-facial-recognition-tools/"
    type: article
    provider:
      name: ValueWalk
      domain: valuewalk.com
    quality: 39
    images:
      - url: "https://www.valuewalk.com/wp-content/uploads/2019/12/facial_recognition_1575578207.png"
        width: 1280
        height: 1066
        isCached: true

secured: "QhIZxrXBs8ycAISobQzhfqY6cl9RxofqwOYy8Nd4y7th7/YX4uPySVFsNFst8XTVHnAcap/ZD0t5bpeL8aAllBxZDJvXcjzQNawCU+t6CnhNDGklzlZ32bRIHcYbM6HM+1MRC40HdS6baz/SEs3fGBc8hoS4/6HgmxtvtHbl67UpWIbG7NpkQheCjNtuRJ3xp44nV/rS7aLOZzg+bQkRoPp34IncodVLSlYj1qxuyYUhXHcVeJRY/ueIScJ5oMJXGp580PzrtAf1d11W6pMkNny3WK5AvBB80XCB9PAiu0GkSVIOqiXZUbo+69qDo0d7QVQd9SsMKdLKlHH0k6kUONjTLSowiXnZueWmMhwjv45lixzXhaMN5662ou+XbiNR3zm+b3HujWuyx/yt4eoleH4PhE0/ECvEYieTYavU143rHVa4Dw8QxY0Lpvwtci0jZureDS9Z9xo8dou2hc/ys87+TUn1Pn/a6YH8TrEvhxItwY9nzJXjgbXGUYvfQ89ibKODhj7ddWvt6rnxMrgjTA==;qoSa5iHjvzmc0kjXI0dMjA=="
---

