---
category: news
title: "Specialist platform OMS delivers facial recognition ID verification"
excerpt: "One Mortgage System (OMS), the single-input enquiry to completion specialist processing platform, has partnered with Nivo, a secure mobile messaging platform to offer facial recognition ID verification."
publishedDateTime: 2021-05-11T14:06:00Z
originalUrl: "https://www.mortgagesolutions.co.uk/specialist-lending/2021/05/11/specialist-platform-oms-delivers-facial-recognition-id-verification/"
webUrl: "https://www.mortgagesolutions.co.uk/specialist-lending/2021/05/11/specialist-platform-oms-delivers-facial-recognition-id-verification/"
type: article
quality: 39
heat: -1
published: false

provider:
  name: mortgagesolutions.co.uk
  domain: mortgagesolutions.co.uk

topics:
  - Computer Vision
  - AI

images:
  - url: "https://www.mortgagesolutions.co.uk/wp-content/uploads/sites/1/2019/09/Neal-Jannels-OMS.jpg"
    width: 960
    height: 640
    isCached: true

related:
  - title: "OMS partners with Nivo to offer facial recognition"
    excerpt: "One Mortgage System (OMS) has partnered with Nivo, a mobile messaging platform to offer facial recognition ID verification."
    publishedDateTime: 2021-05-11T03:00:00Z
    webUrl: "https://www.mortgageintroducer.com/oms-partners-nivo-facial-recognition/"
    type: article
    provider:
      name: Mortgage Introducer
      domain: mortgageintroducer.com
    quality: 39
    images:
      - url: "https://www.mortgageintroducer.com/wp-content/uploads/2020/06/shutterstock_395378116.jpg"
        width: 616
        height: 370
        isCached: true
  - title: "One Mortgage System signs facial recognition deal with Nivo"
    excerpt: "Platform One Mortgage System has partnered with tech firm Nivo to offer facial recognition verification. The Horsham-based platform says the new system helps navigate the previous requirement for certified ID,"
    publishedDateTime: 2021-05-11T14:21:00Z
    webUrl: "https://www.mortgagestrategy.co.uk/news/one-mortgage-system-signs-facial-recognition-deal-with-nivo/"
    type: article
    provider:
      name: Mortgage Strategy
      domain: mortgagestrategy.co.uk
    quality: 39
    images:
      - url: "https://cdn.mortgagestrategy.co.uk/content/uploads/2019/06/p34-Neal-Jannels.jpg"
        width: 960
        height: 640
        isCached: true

secured: "7qSl16u8Alx+fBCmYG/rY7FssM9BSe87QAQxTudG/u/r/2J+pxEpXv/ZNzxpuoOjPLJ5aPQBnZjOytH0R3JB108sUGZ8eZGqBnyDCxz0hOrov9bwKNa383zOCRQ+odqh+RLdoLGm2XVtN7ZeYNPaNi6Il2BEjVjtDyi/fYaZtQyqUq9vI4iZOpd6AedrCMmidl+WO+34G8e69cSu8hdUPEHQOHacqlL1zN5ia5ijVnWd+6ct0SH9LM9Ks9CuWCMweu2f+EwjwaduLHCa0q9l0bu22UlafIqiHluLjQCaO13cUkjei8CWn4r1F/sQ5UclQaEQiUV6rOhMKLRZ+gwWTUnkQh4vIsKZjoo0A6SSokA=;8gqSjivyZgtEcOD0KA35Vw=="
---

