---
category: news
title: "AI can automate income verification"
excerpt: "Informed.IQ says it can automate \"over 95 percent of situations\" by having artificial intelligence review documents uploaded by the consumer."
publishedDateTime: 2021-11-24T17:23:00Z
originalUrl: "https://www.autonews.com/finance-insurance/ai-can-automate-income-verification"
webUrl: "https://www.autonews.com/finance-insurance/ai-can-automate-income-verification"
type: article
quality: 37
heat: 37
published: false

provider:
  name: Automotive News
  domain: autonews.com

topics:
  - AI

images:
  - url: "https://s3-prod.autonews.com/s3fs-public/styles/800x600/public/FIN1110INFORMEDNEW-MAIN.jpg"
    width: 800
    height: 600
    isCached: true

secured: "ogO7x6bZUPyd8ehbAOWUZoJMtJfO4xnbf85nnF4M32aADRFL6wJHKjztPbdzHiND7vHHei7BFxAI8tj8Uh0y4kXwkOkM05wOMHDMQ6GK5rh8V3rf1v/GIfdLdGgdvPDpB/0GZFIGAvXl3/ANpM/PAFIpc+CkZsngtEvSKO9N/Id0EHwSQHMJ4ez9KByYDJ6vb2fW7O87mm44londWXKwgCKDNrDk44knszn5Xa1pW9aoBpmtGaJg8Bkf27RRZYxj29N/giG3+F8PASqeUeBcHg8D+tbxrN0+wUskU9V9aG0RMrlfvTFwqJjBXrhuaxLgBoobi/fNJUfSJFVetYMWpfOrvytqD1A2aWMAMefW7uc=;sNWA+bcDePkqlJiNXFedvw=="
---

