---
category: news
title: "Specialist platform OMS delivers facial recognition ID verification"
excerpt: "One Mortgage System (OMS), the single-input enquiry to completion specialist processing platform, has partnered with Nivo, a secure mobile messaging platform to offer facial recognition ID verification."
publishedDateTime: 2021-05-11T14:06:00Z
originalUrl: "https://www.mortgagesolutions.co.uk/specialist-lending/2021/05/11/specialist-platform-oms-delivers-facial-recognition-id-verification/"
webUrl: "https://www.mortgagesolutions.co.uk/specialist-lending/2021/05/11/specialist-platform-oms-delivers-facial-recognition-id-verification/"
type: article
quality: 39
heat: -1
published: false

provider:
  name: mortgagesolutions.co.uk
  domain: mortgagesolutions.co.uk

topics:
  - Computer Vision
  - AI

images:
  - url: "https://www.mortgagesolutions.co.uk/wp-content/uploads/sites/1/2019/09/Neal-Jannels-OMS.jpg"
    width: 960
    height: 640
    isCached: true

related:
  - title: "The Politics of Recognition vs. Redistribution"
    excerpt: "Progressive politics based on an honest assessment of the multiple crises of today can only succeed if it includes all sectors of society."
    publishedDateTime: 2021-05-12T12:30:00Z
    webUrl: "https://www.fairobserver.com/region/europe/hans-georg-betz-radical-right-populism-marine-le-pen-donald-trump-world-politics-news-30246/"
    ampWebUrl: "https://www.fairobserver.com/region/europe/hans-georg-betz-radical-right-populism-marine-le-pen-donald-trump-world-politics-news-30246/amp/"
    cdnAmpWebUrl: "https://www-fairobserver-com.cdn.ampproject.org/c/s/www.fairobserver.com/region/europe/hans-georg-betz-radical-right-populism-marine-le-pen-donald-trump-world-politics-news-30246/amp/"
    type: article
    provider:
      name: Fair Observer
      domain: fairobserver.com
    quality: 46
    images:
      - url: "https://www.fairobserver.com/wp-content/uploads/2021/05/Marine-Le-Pen.jpg"
        width: 938
        height: 450
        isCached: true
  - title: "The Worldwide Emotion Detection and Recognition Industry is Expected to Reach $37.1 Billion by 2026"
    excerpt: "In the post-COVID-19 scenario, the global emotion detection and recognition market size is projected to grow from USD 19.5 billion in 2020 to USD 37.1 billion by 2026, at a Compound Annual Growth Rate (CAGR) of 11."
    publishedDateTime: 2021-05-13T15:39:00Z
    webUrl: "https://www.tmcnet.com/usubmit/-worldwide-emotion-detection-recognition-industry-expected-reach-371-/2021/05/13/9369134.htm"
    type: article
    provider:
      name: TMCnet
      domain: tmcnet.com
    quality: 0

secured: "7qSl16u8Alx+fBCmYG/rY7FssM9BSe87QAQxTudG/u/r/2J+pxEpXv/ZNzxpuoOjPLJ5aPQBnZjOytH0R3JB108sUGZ8eZGqBnyDCxz0hOrov9bwKNa383zOCRQ+odqh+RLdoLGm2XVtN7ZeYNPaNi6Il2BEjVjtDyi/fYaZtQyqUq9vI4iZOpd6AedrCMmidl+WO+34G8e69cSu8hdUPEHQOHacqlL1zN5ia5ijVnWd+6ct0SH9LM9Ks9CuWCMweu2f+EwjwaduLHCa0q9l0bu22UlafIqiHluLjQCaO13cUkjei8CWn4r1F/sQ5UclQaEQiUV6rOhMKLRZ+gwWTUnkQh4vIsKZjoo0A6SSokA=;8gqSjivyZgtEcOD0KA35Vw=="
---

