---
category: news
title: "ITL launches USB device for facial recognition, age verification"
excerpt: "The edge solution converts any USB camera into a smart camera and is an inexpensive way to realize the advantages of biometric technology."
publishedDateTime: 2021-06-24T20:25:00Z
originalUrl: "https://www.biometricupdate.com/202106/itl-launches-usb-device-for-facial-recognition-age-verification"
webUrl: "https://www.biometricupdate.com/202106/itl-launches-usb-device-for-facial-recognition-age-verification"
type: article
quality: 39
heat: -1
published: false

provider:
  name: Biometric Companies
  domain: biometricupdate.com

topics:
  - Computer Vision
  - AI

images:
  - url: "https://d1sr9z1pdl3mb7.cloudfront.net/wp-content/uploads/2020/04/01130554/biometric-facial-recognition.jpg"
    width: 730
    height: 499
    isCached: true

related:
  - title: "Facial recognition use by Liberals raises issues, says B.C.'s privacy commissioner"
    excerpt: "British Columbia's information and privacy commissioner says he's considering launching an investigation into the use of facial recognition technology by the Liberal Party of Canada."
    publishedDateTime: 2021-06-25T00:32:00Z
    webUrl: "https://bc.ctvnews.ca/facial-recognition-use-by-liberals-raises-issues-says-b-c-s-privacy-commissioner-1.5484881"
    ampWebUrl: "https://beta.ctvnews.ca/local/british-columbia/2021/6/24/1_5484881.html"
    cdnAmpWebUrl: "https://beta-ctvnews-ca.cdn.ampproject.org/c/s/beta.ctvnews.ca/local/british-columbia/2021/6/24/1_5484881.html"
    type: article
    provider:
      name: CTV News
      domain: ctvnews.ca
    quality: 68
    images:
      - url: "https://beta.ctvnews.ca/local/british-columbia/2021/6/24/1_5484881/_jcr_content/root/responsivegrid/image.coreimg.jpg"
        width: 1020
        height: 575
        isCached: true
  - title: "Civil liberties group urges Liberal Party to stop using facial recognition technology"
    excerpt: "In a letter obtained by The Globe and Mail on Wednesday, the association calls on the Liberal Party of Canada to “cease and desist using it” to verify the identity of people voting in candidate nomina"
    publishedDateTime: 2021-06-23T16:04:00Z
    webUrl: "https://www.theglobeandmail.com/politics/article-civil-liberties-group-urges-liberal-party-to-stop-using-facial/"
    type: article
    provider:
      name: The Globe and Mail
      domain: theglobeandmail.com
    quality: 32
    images:
      - url: "https://www.theglobeandmail.com/resizer/nj5_Fane0STgEM8VWaLc4E-1hek=/1200x0/filters:quality(80)/cloudfront-us-east-1.images.arcpublishing.com/tgam/EIFYUZQ6QZPW7FQV6YMGKIYNA4.jpg"
        width: 1200
        height: 845
        isCached: true
  - title: "B.C. privacy commissioner considering investigation of Liberal Party use of facial-recognition technology"
    excerpt: "B.C.’s privacy commissioner says the use of facial recognition by the Liberal Party of Canada raises privacy concerns and he is considering launching an investigation"
    publishedDateTime: 2021-06-24T20:22:00Z
    webUrl: "https://www.theglobeandmail.com/canada/british-columbia/article-bc-privacy-commissioner-considering-investigation-of-liberal-party-use/"
    ampWebUrl: "https://www.theglobeandmail.com/amp/canada/british-columbia/article-bc-privacy-commissioner-considering-investigation-of-liberal-party-use/"
    cdnAmpWebUrl: "https://www-theglobeandmail-com.cdn.ampproject.org/c/s/www.theglobeandmail.com/amp/canada/british-columbia/article-bc-privacy-commissioner-considering-investigation-of-liberal-party-use/"
    type: article
    provider:
      name: The Globe and Mail
      domain: theglobeandmail.com
    quality: 27
    images:
      - url: "https://www.theglobeandmail.com/resizer/gdZLmTqQH5ZX8Bzxt21XRnn0P1Q=/760x0/filters:quality(80)/cloudfront-us-east-1.images.arcpublishing.com/tgam/OQSDFMKXJVNDVCJ4XQLDA2GQOQ.jpg"
        width: 760
        height: 481
        isCached: true

secured: "QhIZxrXBs8ycAISobQzhfqY6cl9RxofqwOYy8Nd4y7th7/YX4uPySVFsNFst8XTVHnAcap/ZD0t5bpeL8aAllBxZDJvXcjzQNawCU+t6CnhNDGklzlZ32bRIHcYbM6HM+1MRC40HdS6baz/SEs3fGBc8hoS4/6HgmxtvtHbl67UpWIbG7NpkQheCjNtuRJ3xp44nV/rS7aLOZzg+bQkRoPp34IncodVLSlYj1qxuyYUhXHcVeJRY/ueIScJ5oMJXGp580PzrtAf1d11W6pMkNny3WK5AvBB80XCB9PAiu0GkSVIOqiXZUbo+69qDo0d7QVQd9SsMKdLKlHH0k6kUONjTLSowiXnZueWmMhwjv45lixzXhaMN5662ou+XbiNR3zm+b3HujWuyx/yt4eoleH4PhE0/ECvEYieTYavU143rHVa4Dw8QxY0Lpvwtci0jZureDS9Z9xo8dou2hc/ys87+TUn1Pn/a6YH8TrEvhxItwY9nzJXjgbXGUYvfQ89ibKODhj7ddWvt6rnxMrgjTA==;qoSa5iHjvzmc0kjXI0dMjA=="
---

