---
category: news
title: "Stash Banks On Biometrics, Machine Learning To Support Digital-First ID Verification"
excerpt: "The latest Future Of Identity Report examines how identity verification needs are changing in the financial sector and how machine learning can help meet them."
publishedDateTime: 2021-04-16T08:00:00Z
originalUrl: "https://www.pymnts.com/identity/2021/stash-banks-on-biometrics-machine-learning-to-support-digital-first-id-verification/"
webUrl: "https://www.pymnts.com/identity/2021/stash-banks-on-biometrics-machine-learning-to-support-digital-first-id-verification/"
ampWebUrl: "https://www.pymnts.com/identity/2021/stash-banks-on-biometrics-machine-learning-to-support-digital-first-id-verification/amp/"
cdnAmpWebUrl: "https://www-pymnts-com.cdn.ampproject.org/c/s/www.pymnts.com/identity/2021/stash-banks-on-biometrics-machine-learning-to-support-digital-first-id-verification/amp/"
type: article
quality: 69
heat: 69
published: false

provider:
  name: pymnts.com
  domain: pymnts.com

topics:
  - AI in Finance
  - AI
  - Machine Learning

images:
  - url: "https://securecdn.pymnts.com/wp-content/uploads/2021/04/aufsap21-457x274.jpg"
    width: 457
    height: 274
    isCached: true

secured: "bIoNI1N4hSmXqBOh/3jfoVWLGbgNg2PmBfQKbw2AQ3l2zBbUYr3PLPOf70IwHxreH1Lr2Mpr3+jCWkm6ZCPkd9hwVwvYFc6dkg+NS6l7bL587/idvVHR/xDKsoCUygthhcQYX4HVAmKmooynhujQJrekSIIITzRdBYk5pG3eDxKVal3ExdEQJF/36ORqTwxTKF/hFT54ryd9U/nog0rKLEpylk1yqx23gi+TGq1ZE/uWwG3d3gYrohDM5gn1gkaS/fNUedZIgiDzC9hrSvjEEnR1KC6q2gE4de064O/9X9HKjw7YRxe1jr8qvCF08aQOL32sDxmtJBKz64KjXIPdSyVTHZjPP0wb9YpXZZ79TNE=;89805wusZA0oq/2d5sc24w=="
---

