---
category: news
title: "Deep learning could transform the ability to accurately interpret HIV test results"
excerpt: "Pioneering technology developed by UCL and Africa Health Research Institute researchers could transform the ability to accurately interpret HIV test results, particularly in low- and middle-income countries."
publishedDateTime: 2021-06-19T01:34:00Z
originalUrl: "https://www.news-medical.net/news/20210618/Deep-learning-could-transform-the-ability-to-accurately-interpret-HIV-test-results.aspx"
webUrl: "https://www.news-medical.net/news/20210618/Deep-learning-could-transform-the-ability-to-accurately-interpret-HIV-test-results.aspx"
ampWebUrl: "https://www.news-medical.net/amp/news/20210618/Deep-learning-could-transform-the-ability-to-accurately-interpret-HIV-test-results.aspx"
cdnAmpWebUrl: "https://www-news--medical-net.cdn.ampproject.org/c/s/www.news-medical.net/amp/news/20210618/Deep-learning-could-transform-the-ability-to-accurately-interpret-HIV-test-results.aspx"
type: article
quality: 53
heat: 63
published: false

provider:
  name: News Medical
  domain: news-medical.net

topics:
  - Machine Learning
  - AI

images:
  - url: "https://d2jx2rerrg6sh3.cloudfront.net/image-handler/picture/2014/7/HIV-620x480.jpg"
    width: 620
    height: 480
    isCached: true

related:
  - title: "AI app could help diagnose HIV more accurately"
    excerpt: "Their findings, published today in Nature Medicine, involve the first and largest study of field-acquired HIV test results, which have applied machine learning (AI) to help classify them as positive or negative."
    publishedDateTime: 2021-06-18T04:00:00Z
    webUrl: "https://www.eurekalert.org/pub_releases/2021-06/ucl-aac061821.php"
    type: article
    provider:
      name: EurekAlert!
      domain: eurekalert.org
    quality: 39
    images:
      - url: "https://www.eurekalert.org/multimedia/pub/web/268331_web.jpg"
        width: 1440
        height: 960
        isCached: true

secured: "sAxX/KSge0B/Z2ezRhwb0Sef605/3abf0pylAmYK3tidjCL3cyZFhNPjrM0ri1Mon8ZISpMV16l64APXeyaV5Egvyz2jEWT1/40NBZX3hKO4C7oknVpr4nSl8i9F932+uwi7tZx2p8TkclmY0qebwb32uiWw4Tae0/6O8XSRt8HTfEnxcLXAJ7lFD7Ry5IS6OP51IQDDNF4puCuGvwzsMXdHLXkd71zh7GaH7v+G0xma+kjYT+eTZsjijmN6fXOXyXCplOlK3iCO7FanE61pFFZTa5z+NFrmdnPTFpnjHjvcwJ1LrfKGG/1NoWnsVRSQk+YkhZ8j+v0d0qvFh0kql4hgE8pculA7ZmtznLKZ5Yg=;cYcgZwww0uykkEsZ9UxV1A=="
---

