---
category: news
title: "Machine Learning Model Helps Predict Clinical Lab Test Results"
excerpt: "Wearable device data applied to a machine learning model has the ability to predict clinical laboratory measurements without a visit to the doctor's office, a recent study suggests."
publishedDateTime: 2021-05-27T13:30:00Z
originalUrl: "https://healthitanalytics.com/news/machine-learning-model-helps-predict-clinical-lab-test-results"
webUrl: "https://healthitanalytics.com/news/machine-learning-model-helps-predict-clinical-lab-test-results"
type: article
quality: 39
heat: -1
published: false

provider:
  name: Analytics
  domain: healthitanalytics.com

topics:
  - Machine Learning
  - AI

images:
  - url: "https://healthitanalytics.com/images/site/article_headers/_normal/GettyImages-1127125431.jpeg"
    width: 700
    height: 431
    isCached: true

related:
  - title: "Machine Learning Models Predict Gastrointestinal Bleeding"
    excerpt: "Researchers found that trained machine learning models can predict gastrointestinal bleeding in patients using antithrombotic drugs better than the current risk model."
    publishedDateTime: 2021-05-26T13:30:00Z
    webUrl: "https://healthitanalytics.com/news/machine-learning-models-predict-gastrointestinal-bleeding"
    type: article
    provider:
      name: Analytics
      domain: healthitanalytics.com
    quality: 39
    images:
      - url: "https://healthitanalytics.com/images/site/article_headers/_normal/Use_and_Optimization.jpg"
        width: 690
        height: 400
        isCached: true

secured: "RmE7V40jh1Ub2ZcQR1yRUYCO8TkQI5F2vus3CGQb9HXmqc5OtjwdhvYz7sRuvaLGgFKL2P0YEaxLD67MTkPEBfYgQGLedVq/Xbo4iF7jL28JMedJVXTNAWd++Nkpw/03rad51h69//awzqL/veJkllq0OH9uEN9GVR+3qabW6JTaoEiXRMDgLu2LazNYEq4N1VglOarVpUXQ8E3rnhazrpkzu6L4iCbC4f/rnkzGu3+bM2GqKE4XrRjibsSqQcqinkVo8dV4nCmzlbRNsartogiS1hgFfSKZ97P4GsItwzdQXK4YNZi7/q9HqD5G2izTCjAnxR89d3NQxFbDhMTPYJHrYb/TxaeuwUx3GBBh8Bc=;TC9ZCrMpLBfCHsIeCtL6vQ=="
---

