---
category: news
title: "NAB pilots facial recognition for identity verification"
excerpt: "NAB has piloted the same facial recognition technology as Westpac to allow consumers to verify their identity via a smartphone. The bank revealed to iTnews that it tested the service supplied by Sydney-headquartered OCR Labs. iTnews revealed in April that ..."
publishedDateTime: 2021-07-12T02:08:00Z
originalUrl: "https://www.itnews.com.au/news/nab-pilots-facial-recognition-for-identity-verification-567155"
webUrl: "https://www.itnews.com.au/news/nab-pilots-facial-recognition-for-identity-verification-567155"
type: article
quality: 39
heat: -1
published: false

provider:
  name: IT News For Australia Business
  domain: itnews.com.au

topics:
  - Computer Vision
  - AI

images:
  - url: "https://i.nextmedia.com.au/News/NAB_Media_image.jpg"
    width: 670
    height: 447
    isCached: true

related:
  - title: "Tencent uses facial recognition to stop kids from gaming at night"
    excerpt: "Chinese technology and media company Tencent has revealed that it is now using facial recognition technology to stop kids in China from spending their late night hours on mobile games. In a social media post on the Chinese platform QQ,"
    publishedDateTime: 2021-07-12T08:55:00Z
    webUrl: "https://sea.mashable.com/tech/16612/tencent-uses-facial-recognition-to-stop-kids-from-gaming-at-night"
    ampWebUrl: "https://sea.mashable.com/tech/16612/tencent-uses-facial-recognition-to-stop-kids-from-gaming-at-night?amp=1"
    cdnAmpWebUrl: "https://sea-mashable-com.cdn.ampproject.org/c/s/sea.mashable.com/tech/16612/tencent-uses-facial-recognition-to-stop-kids-from-gaming-at-night?amp=1"
    type: article
    provider:
      name: Mashable
      domain: mashable.com
    quality: 89
    images:
      - url: "https://sm.mashable.com/t/mashable_sea/photo/default/tencent-china-kids-facial-recognition-gaming-header_9zph.620.png"
        width: 620
        height: 310
        isCached: true
  - title: "Tencent taps facial recognition to stop kids in China from gaming past curfew"
    excerpt: "Tencent has announced that it is now using facial recognition to enforce China’s gaming curfew for minors, one that forces them to play games only during allotted hours during the day and to turn off their games by 10 PM. The law, which has proven ..."
    publishedDateTime: 2021-07-11T13:00:00Z
    webUrl: "https://www.slashgear.com/tencent-taps-facial-recognition-to-stop-kids-in-china-from-gaming-past-curfew-11682003/"
    ampWebUrl: "https://www.slashgear.com/tencent-taps-facial-recognition-to-stop-kids-in-china-from-gaming-past-curfew-11682003/amp/"
    cdnAmpWebUrl: "https://www-slashgear-com.cdn.ampproject.org/c/s/www.slashgear.com/tencent-taps-facial-recognition-to-stop-kids-in-china-from-gaming-past-curfew-11682003/amp/"
    type: article
    provider:
      name: SlashGear
      domain: slashgear.com
    quality: 86
    images:
      - url: "https://cdn.slashgear.com/wp-content/uploads/2021/07/tencent-facial-recognition-enforce-curfew.jpg"
        width: 1440
        height: 810
        isCached: true
  - title: "Activist Groups Urge Retailers to Halt Facial Recognition Use"
    excerpt: "A new coalition of civil rights organizations is calling on retailers to stop using facial recognition tools to screen shoppers, saying the technology can lead to abuses."
    publishedDateTime: 2021-07-14T09:30:00Z
    webUrl: "https://www.bloomberg.com/news/articles/2021-07-14/activist-groups-urge-retailers-to-halt-facial-recognition-use"
    type: article
    provider:
      name: Bloomberg
      domain: bloomberg.com
    quality: 84
    images:
      - url: "https://assets.bwbx.io/images/users/iqjWHBFdfxIU/icrAaz7etyfo/v0/1200x793.jpg"
        width: 1200
        height: 793
        isCached: true
  - title: "Rights Coalition Demands US Retailers Reject Use of Facial Recognition"
    excerpt: "On the heels of a congressional hearing that highlighted concerns about facial recognition, more than 35 civil rights groups on Wednesday collectively called for retailers to reject the technology in their stores \"to protect the privacy and rights of shoppers and staff."
    publishedDateTime: 2021-07-14T18:47:00Z
    webUrl: "https://www.commondreams.org/news/2021/07/14/rights-coalition-demands-us-retailers-reject-use-facial-recognition"
    type: article
    provider:
      name: Common Dreams
      domain: commondreams.org
    quality: 54
    images:
      - url: "https://www.commondreams.org/sites/default/files/styles/social_share_image/public/2021-07/FacialRecognition-Russia-Store-2600x1361.jpg?h=d3fce584&itok=4suLjali"
        width: 1200
        height: 630
        isCached: true
  - title: "SoftBank backs facial-recognition startup"
    excerpt: "SoftBank Group is leading an investment in AnyVision Interactive Technologies that values the facial-recognition company at over $1bn"
    publishedDateTime: 2021-07-12T08:55:00Z
    webUrl: "https://www.penews.com/articles/softbank-backs-facial-recognition-startup-20210712"
    ampWebUrl: "https://www.penews.com/amp/articles/softbank-backs-facial-recognition-startup-20210712"
    cdnAmpWebUrl: "https://www-penews-com.cdn.ampproject.org/c/s/www.penews.com/amp/articles/softbank-backs-facial-recognition-startup-20210712"
    type: article
    provider:
      name: Private Equity News
      domain: penews.com
    quality: 44
    images:
      - url: "https://images.penews.com/im-367160/?width=749&height=499"
        width: 749
        height: 499
        isCached: true
  - title: "Tencent To Use Facial Recognition So Kids Don’t Play Past Curfew"
    excerpt: "For adults, playing games when they want, wherever they want isn’t an issue. But in China, to help curb addiction, the country has a law that puts a"
    publishedDateTime: 2021-07-12T06:14:00Z
    webUrl: "https://www.geeky-gadgets.com/tencent-to-use-facial-recognition-so-kids-dont-play-past-curfew-12-7-21/"
    type: article
    provider:
      name: Geeky Gadgets
      domain: geeky-gadgets.com
    quality: 39
    images:
      - url: "https://www.geeky-gadgets.com/wp-content/uploads/2021/07/tencentf.jpg"
        width: 700
        height: 409
        isCached: true
  - title: "Tencent uses facial recognition to curb young late-night gamers"
    excerpt: "SHENZHEN • For almost every video game restriction, children and teenagers will find a way around it.. Read more at straitstimes.com."
    publishedDateTime: 2021-07-12T21:00:00Z
    webUrl: "https://www.straitstimes.com/tech/tech-news/tencent-uses-facial-recognition-to-curb-young-late-night-gamers-0"
    type: article
    provider:
      name: The Straits Times
      domain: straitstimes.com
    quality: 39
    images:
      - url: "https://static.straitstimes.com.sg/s3fs-public/styles/x_large/public/articles/2021/07/13/ST_20210713_TECH13_6682990.jpg?itok=5Y6ps2He"
        width: 763
        height: 509
        isCached: true
  - title: "Facial Recognition Technology: Examining Its Use by Law Enforcement"
    excerpt: "Brett L. Tolman is the founder of the Tolman Group and the executive director for Right on Crime. If one considers this technology as creating the ability to find a needle in a haystack, it seems entirely reasonable to demand the police to first know which needle they are looking for,"
    publishedDateTime: 2021-07-13T19:41:00Z
    webUrl: "https://www.texaspolicy.com/facial-recognition-technology-examining-its-use-by-law-enforcement/"
    type: article
    provider:
      name: Texas Public Policy Foundation
      domain: texaspolicy.com
    quality: 39
    images:
      - url: "https://files.texaspolicy.com/uploads/2021/06/23154309/Police-1350x759.jpg"
        width: 1350
        height: 759
        isCached: true
  - title: "Activists call out Ace Hardware, Apple stores for using facial recognition on customers"
    excerpt: "A coalition of civil rights groups are urging retail stores to stop their use of facial recognition technology with a new campaign."
    publishedDateTime: 2021-07-14T15:53:00Z
    webUrl: "https://www.dailydot.com/debug/facial-recognition-retail-stores-scorecard/"
    ampWebUrl: "https://www.dailydot.com/debug/facial-recognition-retail-stores-scorecard/?amp"
    cdnAmpWebUrl: "https://www-dailydot-com.cdn.ampproject.org/c/s/www.dailydot.com/debug/facial-recognition-retail-stores-scorecard/?amp"
    type: article
    provider:
      name: The Daily Dot
      domain: dailydot.com
    quality: 31
  - title: "Facial Recognition Is Doing Harm Right Now. It’s Unacceptable for Lawmakers To Do Anything Other Than Ban It."
    excerpt: "The House Judiciary Committee is holding a hearing today on facial recognition technology. They’re expected to discuss a wide range of issues including the recent GAO report on federal government use of facial recognition and the Facial Recognition and Biometric Technology Moratorium Act."
    publishedDateTime: 2021-07-13T15:27:00Z
    webUrl: "https://www.commondreams.org/newswire/2021/07/13/facial-recognition-doing-harm-right-now-its-unacceptable-lawmakers-do-anything"
    type: article
    provider:
      name: Common Dreams
      domain: commondreams.org
    quality: 20
    images:
      - url: "https://www.commondreams.org/sites/default/files/styles/media_image_1x_xl/public/2021-07/merkel-white-house-3600x2367.jpg?h=5526124e&itok=T129sNw1"
        width: 391
        height: 221
        isCached: true

secured: "L/ovNyLNdGs7DtRa35VPOPUCnvwByRkLnaYnC/PSBmEPFFkt/yM5oMCOZwHars2CaL8UPzn0jlqwENL+ma3S0ZHZxVe2Dxs30Ngz4YFDsawGV47H6M7sXusnETkjlrxbopkzwKgww2bTLF40lCyyqn2G/6KZP6z0Apuqahy5RMPq6/MDP7+TZ4fK5tWxegKj24lQjLfbC9mdZH/TaWNufGAiDK2qZNtvt5/dXpKerOpCvKLaXNv1BnH4VsZNK9H65zJ7oPKY6uW4rZMzXhms6QGUpogSSQ1xibS6wflq8AcHcFMIZuo/6cyoCESTeppfOOgexg0GG4TqTiS5osL1XAhJII4H10RfT/LlKsA2xOnNOMH3uTf86KBUzXaqdse83Mo9Y/jHux6wrobwV0COOI50//Sn4bHwMCjTZtTRreywM4eX9jJPu4J2fTk8+QWfT//EnkiAdX4EXgaIvqgIbM2I543cnO2mAnbbAY34a1BI/Oj4e13pm1fciyo1k727JHz2LDpdXTnGYAt1E2iLwA==;w3eHP0zUcP0TZ+sIDcc4BQ=="
---

