---
category: news
title: "California EDD looks at ending facial recognition technology in unemployment verification"
excerpt: "AP The state’s Employment Development Department is “certainly looking” at different ways to verify identities other than facial recognition, Director Nancy Farias told an Assembly subcommittee Tuesday."
publishedDateTime: 2022-02-23T20:20:00Z
originalUrl: "https://www.sacbee.com/news/politics-government/capitol-alert/article258661808.html"
webUrl: "https://www.sacbee.com/news/politics-government/capitol-alert/article258661808.html"
ampWebUrl: "https://amp.sacbee.com/news/politics-government/capitol-alert/article258661808.html"
cdnAmpWebUrl: "https://amp-sacbee-com.cdn.ampproject.org/c/s/amp.sacbee.com/news/politics-government/capitol-alert/article258661808.html"
type: article
quality: 30
heat: -1
published: false

provider:
  name: Sacramento Bee
  domain: sacbee.com

topics:
  - Computer Vision
  - AI

related:
  - title: "Unemployment system to soon move away from facial recognition"
    excerpt: "The state’s unemployment assistance agency will in the “coming weeks” stop utilizing facial recognition technology to verify the identities of benefit applicants after senior"
    publishedDateTime: 2022-02-24T17:14:00Z
    webUrl: "https://www.wwlp.com/news/massachusetts/unemployment-system-to-soon-move-away-from-facial-recognition/"
    ampWebUrl: "https://www.wwlp.com/news/massachusetts/unemployment-system-to-soon-move-away-from-facial-recognition/amp/"
    cdnAmpWebUrl: "https://www-wwlp-com.cdn.ampproject.org/c/s/www.wwlp.com/news/massachusetts/unemployment-system-to-soon-move-away-from-facial-recognition/amp/"
    type: article
    provider:
      name: WWLP
      domain: wwlp.com
    quality: 59
    images:
      - url: "https://www.wwlp.com/wp-content/uploads/sites/26/2021/05/GettyImages-905549076-e1621418586533.jpg?w=1280"
        width: 1280
        height: 720
        isCached: true
  - title: "Erasing tattoos from photos via AI could aid facial recognition systems"
    excerpt: "face painting and tattoos can potentially impair the performance of computer vision systems like facial recognition algorithms by altering what models “expect to see” in key areas of the face. To better understand and mitigate the effect of facial ..."
    publishedDateTime: 2022-02-22T17:12:00Z
    webUrl: "https://www.biometricupdate.com/202202/erasing-tattoos-from-photos-via-ai-could-aid-facial-recognition-systems"
    type: article
    provider:
      name: Biometric Companies
      domain: biometricupdate.com
    quality: 54
    images:
      - url: "https://d1sr9z1pdl3mb7.cloudfront.net/wp-content/uploads/2021/07/28184202/face-biometric-database.jpeg"
        width: 1800
        height: 734
        isCached: true
  - title: "Will EDD stop using facial recognition technology for benefits?"
    excerpt: "The state’s Employment Development Department is “certainly looking” at different ways to verify identities other than facial recognition, Director Nancy Farias told an Assembly subcommittee Tuesday. EDD’s ID.me, regarded as highly effective in ..."
    publishedDateTime: 2022-02-23T00:45:00Z
    webUrl: "https://www.modbee.com/news/california/article258661808.html"
    ampWebUrl: "https://amp.modbee.com/news/california/article258661808.html"
    cdnAmpWebUrl: "https://amp-modbee-com.cdn.ampproject.org/c/s/amp.modbee.com/news/california/article258661808.html"
    type: article
    provider:
      name: Modesto Bee
      domain: modbee.com
    quality: 39
  - title: "Employment Department Looking Beyond Facial Recognition to Verify Identity"
    excerpt: "That’s what Employment Development Department Director Nancy Farias told an Assembly subcommittee Tuesday, after questions were raised about the use of the technology last week by the Legislative Analyst’s Office."
    publishedDateTime: 2022-02-23T23:33:00Z
    webUrl: "https://www.techwire.net/news/employment-department-looking-beyond-facial-recognition-to-verify-identity"
    ampWebUrl: "https://www.techwire.net/news/employment-department-looking-beyond-facial-recognition-to-verify-identity?_amp=true"
    cdnAmpWebUrl: "https://www-techwire-net.cdn.ampproject.org/c/s/www.techwire.net/news/employment-department-looking-beyond-facial-recognition-to-verify-identity?_amp=true"
    type: article
    provider:
      name: California Techwire
      domain: techwire.net
    quality: 37

secured: "skecaA2Ry9XGFZpS0xguURtnLtNuWofW6L7fo/my2X7X9trPkSLN08rBgset7m/EFgb05a8CwCCWs4fZQUAGYQuAlEXJ+0fGh9zStgl1rAMjJPsNKGaJOdG5tgbUeYQzFlJTp6SJNAFqUBGajhqx3xpMTOr5bGm7158cnP8OEDGdJv4FilUFSl6rNEdfJpGlrwpoSpL6NWUY6SHj5KRZGIBHuAnZfXxh4p3gxG+E22g/TepO4H4fMZkHhSMd87DPHoEX46RLOLSgYK0r95M1wemW6XAelrlSSppcV8PeIzCmbGudP4K2md8rUMJ4yA6KSb010c8/217Q/ZORHM2zXe/TXMlT83dsKz8XfEDgkLbe1A4YrDqM9aeDS1fCw1qahkeyknj5Y0BmLZv5dLp73DS5Q0Hp+gC3OLLqPmTSEEcyx9bADrEiJJDyTRNzZp3Wzn2ZERzBPH16LdjMdvHSTOOX0XcvIzmebTwhvF4Mjwn4xSqd+0e21buMrXj0nt4hEsGb/4VVIQX7GdnZMHO8GA==;33FS418/DMkOQUaWTqLdvA=="
---

