---
category: news
title: "Instagram tests using AI, other tools for age verification"
excerpt: "By BARBARA ORTUTAY and MATT O’BRIEN AP Technology Writers Instagram is testing new ways to verify the age of people using its service, including a face-scanning artificial intelligence tool, having mutual friends verify their age or uploading an ID."
publishedDateTime: 2022-06-23T17:38:00Z
originalUrl: "https://krdo.com/news/ap-national-business/2022/06/23/instagram-tests-using-ai-other-tools-for-age-verification/"
webUrl: "https://krdo.com/news/ap-national-business/2022/06/23/instagram-tests-using-ai-other-tools-for-age-verification/"
type: article

provider:
  name: KRDO
  domain: krdo.com

topics:
  - Facebook AI
  - AI

images:
  - url: "https://krdo.b-cdn.net/2021/06/krdo-biz-and-tech.png"
    width: 1024
    height: 576
    isCached: true

secured: "4/KyjAtVLYedzon+8wmCfevYOJCEWsmdV5+jRMZJyz6FpV/f4vODEPu5HEvw0LPS6aWRCojOEUCDyyvO0tSp/6+yxVt2q6ZTJ/rz7l4GcoXkjztGL8octhMojw0j6GRfJdoKi0zb4S1Z32XMfeDx9RECaJcIzTRk+22hA2cNQHvYRWfTe8nj+tWflP2OWAFmb/P9icQ2bW8sw9gGSEwGsUeSX+vS+iKYWR5SyJv02TSx8EO67c4+EyfoPiGaQt0g8AXdGwal2bAgEv6BWQthfj+fE0ndwkbq0ymCfOIqDV+1H++7Rjb9WNAzvaSXH0yN1gn5tQxAQZgKNgTvGWuGvedblMwqEdatOdbMYHXTZPA=;uXHEHgOR7vt7fYAi7Ps8KA=="
---

