---
category: news
title: "CBP, TSA expanding facial recognition for traveler identity verification"
excerpt: "TSA is looking to scale up a pilot program that uses CBP’s “Traveler Verification Service” to check the identity of travelers at airports."
publishedDateTime: 2022-10-11T14:49:00Z
originalUrl: "https://federalnewsnetwork.com/technology-main/2022/10/cbp-tsa-expanding-facial-recognition-for-traveler-identity-verification/"
webUrl: "https://federalnewsnetwork.com/technology-main/2022/10/cbp-tsa-expanding-facial-recognition-for-traveler-identity-verification/"
type: article
quality: 38
heat: 38
published: false

provider:
  name: federalnewsnetwork.com
  domain: federalnewsnetwork.com

topics:
  - Computer Vision
  - AI

images:
  - url: "https://federalnewsnetwork.com/wp-content/uploads/2022/10/AP20330737698549-scaled.jpg"
    width: 2560
    height: 1706
    isCached: true

secured: "XQeVakdcsuyre9MJyNj4AVYIr6gkACDXsreChRBP9gFow4qWzo+yNll2mZxBpa5SKpGiOFbu5VoWsf2QLeBcGOWACXfbIUjzorv9jjKvLFFbCd6fYqq6lWEc80JC++eg+qhMyUw65KurlZsISJZe4IhvLyf0qlRxJL/7z5UrL5297G0sCWniRAzXamkhihhvBP5lHMoMN40r2EUikUG8OcQwCK3JVkBy7Au2/tGhh5XR+utIDr3c18QeuP4qx79R/Ys0FrseiFTAAEsN7xE/Sr7H0dKTW/TGfoXnxEC2vcmaeyLFEAI9Eq1pkY6wcEgrjX9FlF+sNeduYYgo/WV61A8oaxzR5tXHhWNBLfXmIsm+h2Ss/AGmDgjnLnMeW5tpJq13f0Xiryelayg5OnrvknbPcWr1Hh2vhrplDcobtv+9qhfAC4cBodd7mmhDCBUIaMKhmXZOoWkkqUEyCjFb8aQ55RQfVF57+xo2gqBXfpQFheGwBRtSqajZXzGWU2O5b9zDS6HvzdNqNazCneBRTQ==;sHk0gE4x60ojdVbk5w8RNQ=="
---

