---
category: news
title: "Brnovich, Maricopa disagree over use of AI in ballot verification"
excerpt: "Arizona's attorney general claims the county admitted to using artificial intelligence to verify voter signatures, but the letter he cites appears to undermine his claim."
publishedDateTime: 2022-04-14T23:45:00Z
originalUrl: "https://tucson.com/news/state-and-regional/govt-and-politics/brnovich-maricopa-disagree-over-use-of-ai-in-ballot-verification/article_ca1f887e-bc32-11ec-98bc-b71fa529cb96.html"
webUrl: "https://tucson.com/news/state-and-regional/govt-and-politics/brnovich-maricopa-disagree-over-use-of-ai-in-ballot-verification/article_ca1f887e-bc32-11ec-98bc-b71fa529cb96.html"
type: article
quality: 37
heat: 37
published: false

provider:
  name: Arizona Daily Star
  domain: tucson.com

topics:
  - AI

images:
  - url: "https://bloximages.chicago2.vip.townnews.com/tucson.com/content/tncms/assets/v3/editorial/1/5c/15c132d4-bc4a-11ec-8c71-b729ee34e597/624cc3e0a6be8.image.jpg?crop=1666%2C937%2C0%2C152&resize=1120%2C630&order=crop%2Cresize"
    width: 1120
    height: 630
    isCached: true

secured: "ZWx+1y+btrtaIOmtHNcagmilKF0u7ygXwnc8QXVb11EtNGCrE1GzWcYhJ0jMwEQUHY6Stso/bxddNOfI3mN3ka1QAcLMKaYOcAccQgw4BRtOvOP2tJt7xyWZGzsrFAuOBy8LfC9y3JBqwwAKoqQ07ytxc202hJ306Fpq+ZhqVhyp9efG2tlsg4BCk3kMLGTa9UV5sbKTKMJLUpsLgcMQRg/lbwVPBjk34r04pC+u9B/koWL45YyagKtgjNb2WrzerDOhFmIlgP3GirPzLwGgn9bto2zGsU8c1nMpnDj+Zi+/3DE9tJnqq4jl7+eKYAYcoSxleZlCSwLT7cvR1gxjT5uCqzSAtAzfUq6U2CfqFOg=;3n6463ZbX5QQCjwv7Iqcvg=="
---

