---
category: news
title: "Cadence Brings Big Data And AI Analytics To SoC Verification"
excerpt: "Ranked Industry Analyst Patrick Moorhead gives his analysis of Cadence's newly announced Verisium AI-Driven Verification platform and JedAI platform for speeding up verification workloads for SoC designs."
publishedDateTime: 2022-09-26T15:51:00Z
originalUrl: "https://www.forbes.com/sites/patrickmoorhead/2022/09/26/cadence-brings-big-data-and-ai-analytics-to-soc-verification/"
webUrl: "https://www.forbes.com/sites/patrickmoorhead/2022/09/26/cadence-brings-big-data-and-ai-analytics-to-soc-verification/"
ampWebUrl: "https://www.forbes.com/sites/patrickmoorhead/2022/09/26/cadence-brings-big-data-and-ai-analytics-to-soc-verification/amp/"
cdnAmpWebUrl: "https://www-forbes-com.cdn.ampproject.org/c/s/www.forbes.com/sites/patrickmoorhead/2022/09/26/cadence-brings-big-data-and-ai-analytics-to-soc-verification/amp/"
type: article
quality: 89
heat: 129
published: true

provider:
  name: Forbes
  domain: forbes.com
  images:
    - url: "https://everyday-cc.github.io/ai/assets/images/organizations/forbes.com-50x50.jpg"
      width: 50
      height: 50

topics:
  - AI Hardware
  - AI

images:
  - url: "https://imageio.forbes.com/specials-images/imageserve/6331c919636539d4817d2c2f/0x0.jpg?format=jpg&width=1200"
    width: 360
    height: 360
    isCached: true

related:
  - title: "Manufacturing industry transformed by AI, IoT and analytics"
    excerpt: "SAS hosts MFG Day flagship event on Oct. 5th featuring smart trucks, tractors and buildingsCARY, N.C., Sept. 26, 2022 /PRNewswire/ -- For"
    publishedDateTime: 2022-09-26T14:50:00Z
    webUrl: "https://markets.businessinsider.com/news/stocks/manufacturing-industry-transformed-by-ai-iot-and-analytics-1031765018"
    type: article
    provider:
      name: Business Insider
      domain: businessinsider.com
    quality: 67
    images:
      - url: "https://mma.prnewswire.com/media/1907513/MFG_Day_Manufacturing_Institute_Logo.jpg"
        width: 365
        height: 400
        isCached: true
  - title: "Pepperstone adds Capitalise.ai analytics and automated trading tools free of charge"
    excerpt: "\"We look forward to bringing significant value to Pepperstone traders and making a real, positive impact in their daily trading habits. We are excited to welcome them on board.\""
    publishedDateTime: 2022-09-26T09:50:00Z
    webUrl: "https://financefeeds.com/pepperstone-adds-capitalise-ai-analytics-and-automated-trading-tools-free-of-charge/"
    type: article
    provider:
      name: financefeeds
      domain: financefeeds.com
    quality: 13
  - title: "Enabling Federated Querying & Analytics While Accelerating Machine Learning Projects"
    excerpt: "In this special guest feature, Brendan Newlon, Solutions Architect at Stardog, indicates that for an increasing number of organizations, a semantic data layer powered by an enterprise knowledge graph provides the solution that enables them to connect relevant data elements in their true context and provide greater meaning to their data."
    publishedDateTime: 2022-09-26T13:00:00Z
    webUrl: "https://insidebigdata.com/2022/09/26/enabling-federated-querying-analytics-while-accelerating-machine-learning-projects/"
    type: article
    provider:
      name: insidebigdata.com
      domain: insidebigdata.com
    quality: 12
  - title: "Data analytics: Seeing deeper, optimizing better"
    excerpt: "Just as updating eyeglass prescriptions bring the world into sharper focus, longstanding data analytics solutions can be extended by new and more digitalized tools that identify details and opportunities that weren’t visible before."
    publishedDateTime: 2022-09-23T12:57:00Z
    webUrl: "https://www.controlglobal.com/manage/data-analytics/article/21435305/data-analytics-seeing-deeper-optimizing-better"
    type: article
    provider:
      name: Control Global
      domain: controlglobal.com
    quality: 4

secured: "lCNEEZxtwTuR3IM33eDDJSCMiz89JfL01kX4UlTH3AouhpGEZz2s6qCuAXMwgiSFl41Tb3l8r8JXnCx2pTftl8QFGQFsAJXFII5fZuAeVyI6ZNc/Beb3aEk3xTfgkTumEgFDJ2k0cITIb/eLKtGdZf1HQ/Y4iwGIaHlvLSO2M1NrYNLMhacLaKvQ7LtmfpVm1GyQnhIH+YZdYp9TFri0pQt9W7qEPgWRA1WpexI+3Yw0HbzWweTrhu36FiDjwc1rbzYiFEMV4Blcwc7/xMfbRTq0cG9D0i1NHVGsKCCQAquDKPKLZ89Ay2+cb03W4Qqn4118dLbPt0bynvbcRrp32xrsN/zB4Nuv/Bq5BJUEsGA=;F+fUVrTtEJ1KnD1UJaWv5Q=="
---

