---
category: news
title: "Instagram Rolls Out Face Recognition for Teen Age Verification"
excerpt: "Besides providing Instagram with an ID, young people will have the novel option to upload a video selfie and have it vetted by an AI specialized in facial age estimation from Yoti, a UK-based ..."
publishedDateTime: 2022-06-23T21:19:00Z
originalUrl: "https://gizmodo.com/instagram-rolls-out-face-recognition-for-teen-age-verif-1849101628"
webUrl: "https://gizmodo.com/instagram-rolls-out-face-recognition-for-teen-age-verif-1849101628"
ampWebUrl: "https://gizmodo.com/instagram-rolls-out-face-recognition-for-teen-age-verif-1849101628/amp"
cdnAmpWebUrl: "https://gizmodo-com.cdn.ampproject.org/c/s/gizmodo.com/instagram-rolls-out-face-recognition-for-teen-age-verif-1849101628/amp"
type: article
quality: 69
heat: -1
published: false

provider:
  name: Gizmodo
  domain: gizmodo.com
  images:
    - url: "https://everyday-cc.github.io/ai/assets/images/organizations/gizmodo.com-50x50.jpg"
      width: 50
      height: 50

topics:
  - Computer Vision
  - AI

related:
  - title: "Instagram is testing AI-powered video selfies to verify age"
    excerpt: "Continuing on with its push for age verification and the enforcement of its age requirement, Instagram announced that it would be testing new age-verification methods to help primarily younger users verify their ages with the popular photo and video sharing app."
    publishedDateTime: 2022-06-23T16:47:00Z
    webUrl: "https://www.digitaltrends.com/social-media/instagram-is-testing-ai-powered-video-selfies-to-verify-age/"
    ampWebUrl: "https://www.digitaltrends.com/social-media/instagram-is-testing-ai-powered-video-selfies-to-verify-age/?amp"
    cdnAmpWebUrl: "https://www-digitaltrends-com.cdn.ampproject.org/c/s/www.digitaltrends.com/social-media/instagram-is-testing-ai-powered-video-selfies-to-verify-age/?amp"
    type: article
    provider:
      name: Digital Trends
      domain: digitaltrends.com
    quality: 87
    images:
      - url: "https://www.digitaltrends.com/wp-content/uploads/2022/04/smartphone-with-instagram-app-on-it.jpg?p=1"
        width: 1500
        height: 1000
        isCached: true
  - title: "Instagram can now verify your age with your face with new AI technology"
    excerpt: "Instagram is using AI technology from a third-party company, Yoti, to scan video selfies to estimate the ages of users."
    publishedDateTime: 2022-06-23T15:55:00Z
    webUrl: "https://www.androidauthority.com/instagram-can-now-verify-your-age-with-your-face-3179652/"
    type: article
    provider:
      name: Android Authority
      domain: androidauthority.com
    quality: 67
    images:
      - url: "https://www.androidauthority.com/wp-content/uploads/2022/03/Instagram-stock-image-11.jpg"
        width: 1200
        height: 675
        isCached: true
  - title: "Instagram tests using AI, other tools for age verification"
    excerpt: "Instagram is testing new ways to verify the age of people using its service, including a face-scanning artificial intelligence tool, having mutual friends verify their age or uploading an ID"
    publishedDateTime: 2022-06-23T17:44:00Z
    webUrl: "https://abcnews.go.com/Business/wireStory/instagram-tests-ai-tools-age-verification-85592483"
    ampWebUrl: "https://abcnews.go.com/amp/Business/wireStory/instagram-tests-ai-tools-age-verification-85592483"
    cdnAmpWebUrl: "https://abcnews-go-com.cdn.ampproject.org/c/s/abcnews.go.com/amp/Business/wireStory/instagram-tests-ai-tools-age-verification-85592483"
    type: article
    provider:
      name: ABC
      domain: abcnews.go.com
    quality: 57
    images:
      - url: "https://s.abcnews.com/images/Technology/WireAP_40267c0d07df4ef99bac109894984999_16x9_992.jpg"
        width: 992
        height: 558
        isCached: true
  - title: "Instagram tests using artificial intelligence, other tools for age verification"
    excerpt: "Instagram is testing new ways to verify the age of people using its service, including a face-scanning artificial intelligence tool, having mutual friends verify their age or uploading an ID."
    publishedDateTime: 2022-06-23T20:24:00Z
    webUrl: "https://www.staradvertiser.com/2022/06/23/news/instagram-tests-using-artificial-intelligence-other-tools-for-age-verification/"
    ampWebUrl: "https://www.staradvertiser.com/2022/06/23/news/instagram-tests-using-artificial-intelligence-other-tools-for-age-verification/amp/"
    cdnAmpWebUrl: "https://www-staradvertiser-com.cdn.ampproject.org/c/s/www.staradvertiser.com/2022/06/23/news/instagram-tests-using-artificial-intelligence-other-tools-for-age-verification/amp/"
    type: article
    provider:
      name: Honolulu Star-Advertiser
      domain: staradvertiser.com
    quality: 57
    images:
      - url: "https://www.staradvertiser.com/wp-content/uploads/2022/06/web1_12669860-40267c0d07df4ef99bac109894984999.jpg"
        width: 760
        height: 507
        isCached: true
  - title: "Instagram trials AI tool to verify age of users"
    excerpt: "SAN FRANCISCO - Photo-sharing platform Instagram said it was starting to trial a tool that relies on artificial intelligence (AI) to confirm the age of users in the United States. Lawmakers across the world have been vocal in demanding that the social ..."
    publishedDateTime: 2022-06-23T15:51:00Z
    webUrl: "https://www.enca.com/news/instagram-trials-ai-tool-verify-age-users"
    type: article
    provider:
      name: eNCA
      domain: enca.com
    quality: 37
    images:
      - url: "https://www.enca.com/sites/default/files/styles/facebook/public/afp/2022-06/doc-32D33NQ-%40photo0.jpg?h=4bf1c8f5&itok=U32GY5Dv"
        width: 1200
        height: 630
        isCached: true

secured: "/J6I22RMC1bRsDr8yK/T/wNcatVnRjOIw2pc2zLXzIj6hjdC2FO2k9DEIAwNblCIxc6A2vz+s6eMDXuwmLhCQJ9ZjKO9/iGth5ETG1UmeqjMQEw/vqHE5rzT8Lp+11iXA2YI5+LUkRm3x9n5iyU1rT4hi9hcFQR/M/2m0xKpSKHP7vu8k68Q6NATkBkv7/r/I2u7RGjqc44EVU7j2T/+5Bc/Nbwuq/+5gsYfMU0J/JF4Er0cpkudfptCLgCIqY34TCTXXIoytxHn63pGaDBvVa5mqNozd4UE9UNEgaDuY92GT6vWGP848YQQZKhGco8KzL0HDH2MH9nD6UT5eCTQjM5R0tH09avb4tX5nQSF9X07drm9w0GDkivSu9XAlkgLVCCpo2PhPOWvZ5jA6kjfZHE/isk2Bp86pOWaEt8EkGMbaWs2zw1ipgTr3lhnS22g+x8QK0NbTkqXaqsR9g3kL2xwDI30cBkM0US30NVbdawA9jDGBAXld3SliVnsP0q9+a+3qnxGN0rLmKOjhfD9/Q==;gd41O464VjYHmm0Nv42cog=="
---

