---
category: news
title: "Instagram tests using AI, other tools for age verification"
excerpt: "Instagram is testing new ways to verify the age of people using its service, including a face-scanning artificial intelligence tool, having mutual friends verify their age or uploading an ID. But the tools won't be used,"
publishedDateTime: 2022-06-23T20:12:00Z
originalUrl: "https://apnews.com/article/technology-artificial-intelligence-e7a5583ccfe7e1b284081db40cb2ea7c"
webUrl: "https://apnews.com/article/technology-artificial-intelligence-e7a5583ccfe7e1b284081db40cb2ea7c"
type: article

provider:
  name: Associated Press
  domain: apnews.com

topics:
  - AI

secured: "dtZyZnE9LhIm3dpb807TjgBhIr3KFpTW0s/IgveG8lqSQNfNukNQ8MKLn1gt7Jb65QT3/i1M8Xf16VW6yRmuNxOC64tW2kly4tf2ISTXxtzkVMzm6cX1ZD0TH1WcDn5ex4aJmaOn3/eW9Hq25XcjjLRRLwbyXf/FI4clJe8kXNILc9T87/tVkkJtmu+Be0ghFpizAGo6ieqhRrRL6hp8TM8KCb5TWp69U+NyNbt2358pjA+ef3xkyFcHzBZvEwjOpohLzAJML//obyfS3MXmqF4UC2VOhuZcEsi9dxJ8azGAjDjb/rkrVQjCCmi52Bz3z75qsYIo9B/hUUH4geY3atkaVUg3JK/1A7LjTNf+HSuoInsYzD1xnUPBF3PiEyatV2raCSlklS4t46qOxv4psJNmubM2Szz9dAUqUeoCDS7R/jpOMwHVMVDp6KRLJlmlK32DUrCKYWbZuuzcAlPv8SwCjb+srm0vpDuXcr8AisqGCFUp4vizqJAlcCYkUNZlqFrfPk0YxkwXchsMCO60MQ==;isyUTN7H6okY8eIGGFahxg=="
---

