---
category: news
title: "Instagram tests using AI, other tools for age verification"
excerpt: "Instagram is testing new ways to verify the age of people using its service, including a face-scanning artificial intelligence tool, having mutual friends verify"
publishedDateTime: 2022-06-23T20:03:00Z
originalUrl: "https://wsvn.com/news/instagram-tests-using-ai-other-tools-for-age-verification/"
webUrl: "https://wsvn.com/news/instagram-tests-using-ai-other-tools-for-age-verification/"
ampWebUrl: "https://wsvn.com/news/instagram-tests-using-ai-other-tools-for-age-verification/amp/"
cdnAmpWebUrl: "https://wsvn-com.cdn.ampproject.org/c/s/wsvn.com/news/instagram-tests-using-ai-other-tools-for-age-verification/amp/"
type: article
quality: 57
heat: -1
published: false

provider:
  name: 7News Miami
  domain: wsvn.com

topics:
  - AI

images:
  - url: "https://wsvn.com/wp-content/uploads/sites/2/2021/09/instagram-5409107_1920.jpg?quality=60&strip=color&w=1024"
    width: 1024
    height: 682
    isCached: true

related:
  - title: "Instagram is testing AI-powered video selfies to verify age"
    excerpt: "Continuing on with its push for age verification and the enforcement of its age requirement, Instagram announced that it would be testing new age-verification methods to help primarily younger users verify their ages with the popular photo and video sharing app."
    publishedDateTime: 2022-06-23T16:47:00Z
    webUrl: "https://www.digitaltrends.com/social-media/instagram-is-testing-ai-powered-video-selfies-to-verify-age/"
    ampWebUrl: "https://www.digitaltrends.com/social-media/instagram-is-testing-ai-powered-video-selfies-to-verify-age/?amp"
    cdnAmpWebUrl: "https://www-digitaltrends-com.cdn.ampproject.org/c/s/www.digitaltrends.com/social-media/instagram-is-testing-ai-powered-video-selfies-to-verify-age/?amp"
    type: article
    provider:
      name: Digital Trends
      domain: digitaltrends.com
    quality: 87
    images:
      - url: "https://www.digitaltrends.com/wp-content/uploads/2022/04/smartphone-with-instagram-app-on-it.jpg?p=1"
        width: 1500
        height: 1000
        isCached: true
  - title: "Instagram Rolls Out Face Recognition for Teen Age Verification"
    excerpt: "Besides providing Instagram with an ID, young people will have the novel option to upload a video selfie and have it vetted by an AI specialized in facial age estimation from Yoti, a UK-based ..."
    publishedDateTime: 2022-06-23T21:19:00Z
    webUrl: "https://gizmodo.com/instagram-rolls-out-face-recognition-for-teen-age-verif-1849101628"
    ampWebUrl: "https://gizmodo.com/instagram-rolls-out-face-recognition-for-teen-age-verif-1849101628/amp"
    cdnAmpWebUrl: "https://gizmodo-com.cdn.ampproject.org/c/s/gizmodo.com/instagram-rolls-out-face-recognition-for-teen-age-verif-1849101628/amp"
    type: article
    provider:
      name: Gizmodo
      domain: gizmodo.com
    quality: 69
  - title: "Instagram can now verify your age with your face with new AI technology"
    excerpt: "Instagram is using AI technology from a third-party company, Yoti, to scan video selfies to estimate the ages of users."
    publishedDateTime: 2022-06-23T15:55:00Z
    webUrl: "https://www.androidauthority.com/instagram-can-now-verify-your-age-with-your-face-3179652/"
    type: article
    provider:
      name: Android Authority
      domain: androidauthority.com
    quality: 67
    images:
      - url: "https://www.androidauthority.com/wp-content/uploads/2022/03/Instagram-stock-image-11.jpg"
        width: 1200
        height: 675
        isCached: true
  - title: "Instagram tests using artificial intelligence, other tools for age verification"
    excerpt: "Instagram is testing new ways to verify the age of people using its service, including a face-scanning artificial intelligence tool, having mutual friends verify their age or uploading an ID."
    publishedDateTime: 2022-06-23T20:24:00Z
    webUrl: "https://www.staradvertiser.com/2022/06/23/news/instagram-tests-using-artificial-intelligence-other-tools-for-age-verification/"
    ampWebUrl: "https://www.staradvertiser.com/2022/06/23/news/instagram-tests-using-artificial-intelligence-other-tools-for-age-verification/amp/"
    cdnAmpWebUrl: "https://www-staradvertiser-com.cdn.ampproject.org/c/s/www.staradvertiser.com/2022/06/23/news/instagram-tests-using-artificial-intelligence-other-tools-for-age-verification/amp/"
    type: article
    provider:
      name: Honolulu Star-Advertiser
      domain: staradvertiser.com
    quality: 57
    images:
      - url: "https://www.staradvertiser.com/wp-content/uploads/2022/06/web1_12669860-40267c0d07df4ef99bac109894984999.jpg"
        width: 760
        height: 507
        isCached: true
  - title: "Instagram testing facial scanning tech for kids to verify ages, lawmakers cry foul"
    excerpt: "“Instagram has a proven track record of knowingly putting children at risk, and their new facial recognition proposal undeniably intrudes on children’s privacy,” Ms. Blackburn said in a statement to The Washington Times. “Instead of using less ..."
    publishedDateTime: 2022-06-24T20:49:00Z
    webUrl: "https://www.washingtontimes.com/news/2022/jun/24/instagram-testing-facial-scanning-tech-kids-verify/"
    ampWebUrl: "https://amp.washingtontimes.com/news/2022/jun/24/instagram-testing-facial-scanning-tech-kids-verify/"
    cdnAmpWebUrl: "https://amp-washingtontimes-com.cdn.ampproject.org/c/s/amp.washingtontimes.com/news/2022/jun/24/instagram-testing-facial-scanning-tech-kids-verify/"
    type: article
    provider:
      name: Washington Times
      domain: washingtontimes.com
    quality: 38
    images:
      - url: "https://twt-thumbs.washtimes.com/media/image/2022/06/24/shutterstock_712489231_c0-196-4707-2941_s1200x700.jpeg?252bacb6c34fcb4f7b3ea742705da80edbc49450"
        width: 1200
        height: 700
        isCached: true
  - title: "Instagram trials AI tool to verify age of users"
    excerpt: "SAN FRANCISCO - Photo-sharing platform Instagram said it was starting to trial a tool that relies on artificial intelligence (AI) to confirm the age of users in the United States. Lawmakers across the world have been vocal in demanding that the social ..."
    publishedDateTime: 2022-06-23T15:51:00Z
    webUrl: "https://www.enca.com/news/instagram-trials-ai-tool-verify-age-users"
    type: article
    provider:
      name: eNCA
      domain: enca.com
    quality: 37
    images:
      - url: "https://www.enca.com/sites/default/files/styles/facebook/public/afp/2022-06/doc-32D33NQ-%40photo0.jpg?h=4bf1c8f5&itok=U32GY5Dv"
        width: 1200
        height: 630
        isCached: true
  - title: "Instagram tests using AI and video selfies for age verification"
    excerpt: "Instagram is testing ways to verify the age of people using its service, but users are skeptical about how the company will use its data."
    publishedDateTime: 2022-06-26T16:40:00Z
    webUrl: "https://www.khou.com/video/tech/instagram-tests-using-ai-and-video-selfies-for-age-verification/285-20af8952-82e1-49de-af4e-dd3fda504d51"
    type: article
    provider:
      name: KHOU 11
      domain: khou.com
    quality: 37
    images:
      - url: "https://media.khou.com/assets/KHOU/images/a3d4ed75-b12b-44eb-af5e-6a61172620f9/a3d4ed75-b12b-44eb-af5e-6a61172620f9_1140x641.jpg"
        width: 1140
        height: 641
        isCached: true
  - title: "Instagram to test artificial intelligence on faces to verify users are over 18"
    excerpt: "Starting in the US, Instagram will be accepting video selfies, which Meta will submit to the identity verification company Yoti."
    publishedDateTime: 2022-06-24T05:27:00Z
    webUrl: "https://gulfbusiness.com/instagram-to-test-artificial-intelligence-on-faces-to-verify-users-are-over-18/"
    type: article
    provider:
      name: Gulf Business
      domain: gulfbusiness.com
    quality: 33
    images:
      - url: "https://gulfbusiness.com/wp-content/uploads/2022/06/brett-jordan-fmqhTMu4IVU-unsplash.jpg"
        width: 921
        height: 620
        isCached: true

secured: "G4X+CrLx6SLCv/QPLu2vd+7LiHrCMH+ahwy0PabhSq+8nPZBp5Ouok3qBSaXw7DvRE9Iw3aTaI4lkAPp9X27oo6pgDZ9TYYYt3DAxR7EcgUjh2ephQGj4yTtOKqtQFWOh7ZUe7gKUhgpf8ow0GWvlzx11BsUtuh0YC+8TqAPr5qckThWEkYDLkV8OKZmyXmzuqh23DGqviahnhFzSeugxMlwhir5+fDtbVPCU+7QYrL6bw+h1ErVQ/lnBEyzxzVtriOahZoCRT1ruYudAapCEmwwdbDzBNxndS2EpHB9PHfSi9usQBIHs21C4hk33xjoN8+Q280fkcC6mTdjbq+klw853vhomLJ6H++JOkn22Yc=;FGPF8N9katsdBua6vcNbAQ=="
---

