---
category: news
title: "IRS to end facial recognition for identity verification"
excerpt: "Last month, ID.me faced criticism when CEO Blake Hall admitted in a Linkedin post that the company used Amazon's Rekognition technology to compare video selfies submitted by users to its own, bigger internal database of previous applicants. FOX Business ..."
publishedDateTime: 2022-02-07T23:19:00Z
originalUrl: "https://www.q13fox.com/news/irs-ending-facial-recognition-identity-verification"
webUrl: "https://www.q13fox.com/news/irs-ending-facial-recognition-identity-verification"
ampWebUrl: "https://www.q13fox.com/news/irs-ending-facial-recognition-identity-verification.amp"
cdnAmpWebUrl: "https://www-q13fox-com.cdn.ampproject.org/c/s/www.q13fox.com/news/irs-ending-facial-recognition-identity-verification.amp"
type: article
quality: 61
heat: -1
published: false

provider:
  name: Q13 FOX News
  domain: q13fox.com

topics:
  - AWS AI
  - AI
  - Computer Vision

images:
  - url: "https://images.foxtv.com/static.q13fox.com/www.q13fox.com/content/uploads/2022/02/932/470/IRS-building.jpg?ve=1&tl=1"
    width: 932
    height: 470
    isCached: true

related:
  - title: "Extract entities from insurance documents using Amazon Comprehend named entity recognition"
    excerpt: "Intelligent document processing (IDP) is a common use case for customers on AWS. You can utilize&nbsp;Amazon Comprehend&nbsp;and&nbsp;Amazon Textract&nbsp;for a variety of use cases ranging from document extraction, data classification, and entity extraction. One specific industry that uses IDP is insurance."
    publishedDateTime: 2022-02-09T17:30:57Z
    webUrl: "https://aws.amazon.com/blogs/machine-learning/extract-entities-from-insurance-documents-using-amazon-comprehend-named-entity-recognition/"
    type: article
    provider:
      name: AWS
      domain: aws.amazon.com
    quality: 96
    images:
      - url: "https://d2908q01vomqb2.cloudfront.net/f1f836cb4ea6efb2a0b1b99f41ad8b103eff4b59/2022/02/04/Screen-Shot-2022-02-04-at-1.49.29-PM.png"
        width: 1079
        height: 449
        isCached: true
  - title: "I.R.S. to End Use of Facial Recognition for Identity Verification"
    excerpt: "By Alan Rappeport WASHINGTON — The Internal Revenue Service plans to stop using facial recognition software to identify taxpayers accessing their accounts on the agency’s website amid concerns over privacy and data security. The decision comes as the I ..."
    publishedDateTime: 2022-02-07T18:47:00Z
    webUrl: "https://www.nytimes.com/2022/02/07/us/politics/irs-idme-facial-recognition.html"
    ampWebUrl: "https://www.nytimes.com/2022/02/07/us/politics/irs-idme-facial-recognition.amp.html"
    cdnAmpWebUrl: "https://www-nytimes-com.cdn.ampproject.org/c/s/www.nytimes.com/2022/02/07/us/politics/irs-idme-facial-recognition.amp.html"
    type: article
    provider:
      name: New York Times
      domain: nytimes.com
    quality: 89
    images:
      - url: "https://static01.nyt.com/images/2022/02/07/business/07dc-irs/07dc-irs-facebookJumbo.jpg"
        width: 1050
        height: 550
        isCached: true

secured: "tjGjGw0nJVVlUBVZXOBZwOQ2xtm6CzCCUhv55E7m8rtrhvmX+d8d/FjB4LO+V1J7rVp8mAfNZovfZLUdn2+CC6gyjNXBKiXwK7KDNpjGMewhUad9RUN5tFiWv2UHc9GPCJc1kelVFdcRyh+TfNE4aYTl9Vgv3zdPZ9t6JRJ9XNRSjnh7HOMspSgE6nAX7jZzErrqmwanB+YxIGa+hS//eU1VwuU1o2HPA99g/2ZAhGzzE6KCc8GUUqkzunAaDJfZwMSJ1/y/XF3qeUIFDxwIM2Bx44cpqblHLFiwtjbzCy0F/lmhFFrvhTwJRB4DeOr7QbAHuVGwAh7tPRov9kTFx+UJXjQwogOioil6QTbxLVCKPnKr0icsCQ99M4omNOeps/SJXMg2Xyfrbw68ALMOggE3Osz3c4gufY77MzEekOoZp2h3qKTeFX7oxjjrbKjTMdkhfweBtyXeEOFqkz2KWIT2iNLyVUdfiEq0L06064UbC5mB2b1rP8roZpRNpGE3Xi9YrCjzCsayEMnzoNPDDA==;nhj+7HGiHsKVHTKJbLn0mQ=="
---

