---
category: news
title: "Air NZ confident Botox, fillers, identical twins won't cause problems for facial recognition verification"
excerpt: "But how will the scans of our face work when it comes to the likes of Botox, fillers and cosmetic procedures? And what about identical twins? Air NZ's chief digital officer Nikhil Ravishankar told AM he is confident the technology is advanced enough to handle those issues."
publishedDateTime: 2022-11-16T22:17:00Z
originalUrl: "https://www.newshub.co.nz/home/travel/2022/11/air-nz-confident-botox-fillers-identical-twins-won-t-cause-problems-for-facial-recognition-verification.html"
webUrl: "https://www.newshub.co.nz/home/travel/2022/11/air-nz-confident-botox-fillers-identical-twins-won-t-cause-problems-for-facial-recognition-verification.html"
ampWebUrl: "https://www.newshub.co.nz/home/travel/2022/11/air-nz-confident-botox-fillers-identical-twins-won-t-cause-problems-for-facial-recognition-verification.amp.html"
cdnAmpWebUrl: "https://www-newshub-co-nz.cdn.ampproject.org/c/s/www.newshub.co.nz/home/travel/2022/11/air-nz-confident-botox-fillers-identical-twins-won-t-cause-problems-for-facial-recognition-verification.amp.html"
type: article
quality: 57
heat: 57
published: false

provider:
  name: Newshub
  domain: newshub.co.nz

topics:
  - Computer Vision
  - AI

images:
  - url: "https://www.newshub.co.nz/home/travel/2022/09/qantas-now-lets-customers-pay-to-get-an-empty-seat-next-to-them/_jcr_content/par/image.dynimg.768.q75.jpg/v1662424290764/qantas-economy-seating-060922-1120x640.jpg"
    width: 768
    height: 438
    isCached: true

secured: "8cVj4NNYp9KW9v5n7OxwqZfe/dMq5eqsVF35xGqvKEZ4S2QNxmx0ydKRWVXB9KEpq+IxaZHwqO+qlFd2P4fL/zxRe5FAYZeLaSSU9s4MG94GSWY3bXdV5DTEn0xnAxbtwbaKRs/ZQfr8mTB9SoCjP4yiEwfIsnnBRTwxio7Ng0Bj2WZw7YcRD/1dPzB1yBGCd1vqw/c/u6HXEO3DEJe258NrRTQ6dUGolu4wK7VCP2LAHRNohlw3DBhCUlcM8GyrjTxXdYbh6x9pgWGRh7ji/mTAE1RjpnYxisR2M5ULLqpuMrx2JcypASO9lFdL7v0QFRV7sn/Z5rD3ZIq/kjrXjCsqHkY2urBD6XHLS+HHfwQ=;AnNzW/XyqkdhXg1sM29vJw=="
---

