---
category: news
title: "Instagram tests using AI, other tools for age verification"
excerpt: "By BARBARA ORTUTAY and MATT O’BRIEN AP Technology Writers Instagram is testing new ways to verify the age of people using its service, including a face-scanning artificial intelligence tool, having mutual friends verify their age or uploading an ID."
publishedDateTime: 2022-06-23T17:38:00Z
originalUrl: "https://krdo.com/news/ap-national-business/2022/06/23/instagram-tests-using-ai-other-tools-for-age-verification/"
webUrl: "https://krdo.com/news/ap-national-business/2022/06/23/instagram-tests-using-ai-other-tools-for-age-verification/"
type: article

provider:
  name: KRDO
  domain: krdo.com

topics:
  - Facebook AI
  - AI

images:
  - url: "https://krdo.b-cdn.net/2021/06/krdo-biz-and-tech.png"
    width: 1024
    height: 576
    isCached: true

secured: "CMz5KBngZ9CbfsYMQg/rX8L45UmdX4O1/FQQBlIkf1QfRL8vQq4sHGEsyqYgbj8JLiEDSi005mG2BReBlO9+Ada9SZDk+sPYZRKPahrjXveDCM7fhig9mT/m4Q8KHNkuk5KgR0bMoSrHN7eZn/W1qvXtsBGfwPgUk6v24/4AnAflaYeSuWFjc4INWKJqL+xGoxjOAU1q6z7arLskKj0SR10eAmWU7h6quyU3pCKs4IuvMKpOMwOcVOiczZ/mxIo7PTuevR8JNk3vhC8A30vG6sxJuhQ4TR69G2c173oGxMJNwrVzrOky1+rz8uZNGB0e/FNmjwxD42bbg25okR195GZRTo8tiO3S4VIxcfO/R0Q=;gN5H1EupPq9YJ/xYfsnC1g=="
---

