---
category: news
title: "Waymo Claims Its Driver AI Is Safer Than a Human and Backs It Up With Test Results"
excerpt: "There are some firms, which we’ll not name, who have taken a more relaxed approach to safety in the name of getting their product to market, and then there’s Waymo. Waymo is a part of Alphabet ..."
publishedDateTime: 2022-09-29T22:00:00Z
originalUrl: "https://jalopnik.com/waymo-claims-its-driver-ai-is-safer-than-a-human-and-ba-1849598194"
webUrl: "https://jalopnik.com/waymo-claims-its-driver-ai-is-safer-than-a-human-and-ba-1849598194"
ampWebUrl: "https://jalopnik.com/waymo-claims-its-driver-ai-is-safer-than-a-human-and-ba-1849598194/amp"
cdnAmpWebUrl: "https://jalopnik-com.cdn.ampproject.org/c/s/jalopnik.com/waymo-claims-its-driver-ai-is-safer-than-a-human-and-ba-1849598194/amp"
type: article

provider:
  name: Jalopnik
  domain: jalopnik.com

topics:
  - AI in Autos
  - AI

secured: "8LnFIWTxKF0k5983RybYlEIxiV4LQP5U8eBoCExY9tuMV9fcMWmUhlBWJRByJBfdbR+3/rsfctdgfowzYkVmuo5UYI3XRd/ELYle0is0AlxwLglnsPigpMT7l5eEz1n3j6/8yAKyoTVBMETQL1HvJl9SbIAx9E+xjBzhPXA4YkfKq5SouYhLq1BVqAiewCrqDb6cm7LrnIQFL3sqmemnYmdZWgJP4yHjQktGkmVM+oDqfJFB0Dhlmv3w/xgyX5+Vkls0RzQrhVch0YLlZGT8OLEVGucsKG9YwmPLTAqQ8mg1rYXzJRDhPHWK+NW/RPmP6odApn7cfI6jYZZtoYhb9VytiNy937Q6gNxqEfHVbh0=;h2DOsiXAZaGPQ9kMO1/g0Q=="
---

