---
category: news
title: "CBP, TSA expanding facial recognition for traveler identity verification"
excerpt: "TSA is looking to scale up a pilot program that uses CBP’s “Traveler Verification Service” to check the identity of travelers at airports."
publishedDateTime: 2022-10-11T14:49:00Z
originalUrl: "https://federalnewsnetwork.com/technology-main/2022/10/cbp-tsa-expanding-facial-recognition-for-traveler-identity-verification/"
webUrl: "https://federalnewsnetwork.com/technology-main/2022/10/cbp-tsa-expanding-facial-recognition-for-traveler-identity-verification/"
type: article
quality: 38
heat: 38
published: false

provider:
  name: federalnewsnetwork.com
  domain: federalnewsnetwork.com

topics:
  - Computer Vision
  - AI

images:
  - url: "https://federalnewsnetwork.com/wp-content/uploads/2022/10/AP20330737698549-scaled.jpg"
    width: 2560
    height: 1706
    isCached: true

secured: "bc5nxhxCaEVY4vCdTUp5UyW3o4BxXcWy4NdEUT5bdGz1D+cJ5vsifFMGd+A2BlSH68D9SOyQ/4Pr+EkvY3LZBFXMj0yeHNMUKOItdyCJQH0VurRD0cFz/C4kaZEvgN24LNjvMPRgzzmUBCwSVDqJGXjy0OQ8f9AQPso5HdLFT7/wnCCZyAfgTx2afI/VutCnP5JbvX2MZSGuu5b5mYMIfVY8Mbw5gTW/0SxiOw5xCtj9Pe8RmVb7ibRKrQy2vvKJxrXf9dNdhr0K/D4edZ1UyFfX88aMsOj8bm74ZrXlhacE+8dWR4C8im+J6xUKtpr4R9ctZICfd/TqGpfWOGdgYUSb2WyZRNHjJ3yOwD7NO5M=;Bw9Dm8KJsSXCGZT/Fmv+yg=="
---

