---
category: news
title: "Instagram tests using AI, other tools for age verification"
excerpt: "Instagram is testing new ways to verify the age of people using its service, including a face-scanning artificial intelligence tool, having mutual friends verify their age or uploading an ID"
publishedDateTime: 2022-06-23T17:44:00Z
originalUrl: "https://abcnews.go.com/Technology/wireStory/instagram-tests-ai-tools-age-verification-85592466"
webUrl: "https://abcnews.go.com/Technology/wireStory/instagram-tests-ai-tools-age-verification-85592466"
type: article

provider:
  name: ABC
  domain: abcnews.go.com

topics:
  - AI

secured: "w686YraApgld9O6tTxF9RIkP+x0VwSizGbSW5QGuAKggNIn7NQUg2ikPfva1zMsxaNrVIRb+a/I60b97R3QDOF1Zex2Dn3P0VmlH23YP+wnSABgKXsJUVt2L/sde6srQzjjrPeluCPLXZ2yGsg6JwCCk5a/6yoZ/adlCBW+vwJ7iKK3VL+w3NgcSgMlMWyfI61On63r+gtUrqCmlPR/ZAtO/iOStNaZIBmlPqmpNu0fmFO6vbjy5Ns84SCvyzi7RuMHaDoJgLDGuAdfYLJdhg3Yo6OMq6mmPdIu/0AVuZiLgspvR88x+TPboDXeRR3RzHWjjOx8uGJKSl9ay93p7ue9V3yotrwfWJZPALVKcFJWdDHEABuZQXdUdA/dynZBzbU1gVFcZwf489eXxEUJ6fJ1kD/H1Og7tV8lDgVE8d7WKNTVYiQfiSBga6QZb1Dox+I9IuSIscUJIs23d35tWnKTRT3A4daX+HOzccf2wXhYTMfZIAZHmGeadW6mQDvksP1xf74RlH1JKVvelTWTg0A==;qLfx+ZAJws859ucbFio5SA=="
---

