---
category: news
title: "Instagram tests using AI, other tools for age verification"
excerpt: "Instagram is testing new ways to verify the age of people using its service, including a face-scanning artificial intelligence tool, having mutual friends verify their age or uploading an ID"
publishedDateTime: 2022-06-23T17:44:00Z
originalUrl: "https://abcnews.go.com/Business/wireStory/instagram-tests-ai-tools-age-verification-85592483"
webUrl: "https://abcnews.go.com/Business/wireStory/instagram-tests-ai-tools-age-verification-85592483"
ampWebUrl: "https://abcnews.go.com/amp/Business/wireStory/instagram-tests-ai-tools-age-verification-85592483"
cdnAmpWebUrl: "https://abcnews-go-com.cdn.ampproject.org/c/s/abcnews.go.com/amp/Business/wireStory/instagram-tests-ai-tools-age-verification-85592483"
type: article
quality: 57
heat: -1
published: false

provider:
  name: ABC
  domain: abcnews.go.com

topics:
  - AI

images:
  - url: "https://s.abcnews.com/images/Technology/WireAP_40267c0d07df4ef99bac109894984999_16x9_992.jpg"
    width: 992
    height: 558
    isCached: true

related:
  - title: "Instagram is testing AI-powered video selfies to verify age"
    excerpt: "Continuing on with its push for age verification and the enforcement of its age requirement, Instagram announced that it would be testing new age-verification methods to help primarily younger users verify their ages with the popular photo and video sharing app."
    publishedDateTime: 2022-06-23T16:47:00Z
    webUrl: "https://www.digitaltrends.com/social-media/instagram-is-testing-ai-powered-video-selfies-to-verify-age/"
    ampWebUrl: "https://www.digitaltrends.com/social-media/instagram-is-testing-ai-powered-video-selfies-to-verify-age/?amp"
    cdnAmpWebUrl: "https://www-digitaltrends-com.cdn.ampproject.org/c/s/www.digitaltrends.com/social-media/instagram-is-testing-ai-powered-video-selfies-to-verify-age/?amp"
    type: article
    provider:
      name: Digital Trends
      domain: digitaltrends.com
    quality: 87
    images:
      - url: "https://www.digitaltrends.com/wp-content/uploads/2022/04/smartphone-with-instagram-app-on-it.jpg?p=1"
        width: 1500
        height: 1000
        isCached: true
  - title: "Instagram can now verify your age with your face with new AI technology"
    excerpt: "Instagram is using AI technology from a third-party company, Yoti, to scan video selfies to estimate the ages of users."
    publishedDateTime: 2022-06-23T15:55:00Z
    webUrl: "https://www.androidauthority.com/instagram-can-now-verify-your-age-with-your-face-3179652/"
    type: article
    provider:
      name: Android Authority
      domain: androidauthority.com
    quality: 67
    images:
      - url: "https://www.androidauthority.com/wp-content/uploads/2022/03/Instagram-stock-image-11.jpg"
        width: 1200
        height: 675
        isCached: true
  - title: "Instagram trials AI tool to verify age of users"
    excerpt: "SAN FRANCISCO - Photo-sharing platform Instagram said it was starting to trial a tool that relies on artificial intelligence (AI) to confirm the age of users in the United States. Lawmakers across the world have been vocal in demanding that the social ..."
    publishedDateTime: 2022-06-23T15:51:00Z
    webUrl: "https://www.enca.com/news/instagram-trials-ai-tool-verify-age-users"
    type: article
    provider:
      name: eNCA
      domain: enca.com
    quality: 37
    images:
      - url: "https://www.enca.com/sites/default/files/styles/facebook/public/afp/2022-06/doc-32D33NQ-%40photo0.jpg?h=4bf1c8f5&itok=U32GY5Dv"
        width: 1200
        height: 630
        isCached: true

secured: "5MXNUaSW02DCX8ezkHCWRQfI0PQgoYGomgX2jpeCApWkNO3yuyuvjLXiSYMDN/fQJniJnv6eiFjtOYz4SyiSFAiVTvn2Xx9hJrOTt66EvSM0WNszTymfS2MUA4dC+F0K/ymxf2t3htm6DdYiBVknVdLVbtlVN1ObndASrHWHPUuDvgEu4lKfAr5yj2Vs/QslX8JQ5riBnYA81Djp3iQMKsJnR387iKhlXH80V8dOoaw+8+2mFzgJw6BuW4f/IZY/9zrgjw+LP4AsJBWktp8/O44K3RwqnFlldTMz0Xcec3/SB56JYi89GXaRi0mKeFHUaYWXO0Qrus8N3c6KTk2Ds0cUQg2sx3wZoRclnfIcIeZg7TQlI26zxneLGPt2ZdmvbTJxowF/D0ZDozjI2VwFLbd/+4NBy3rsajwFuRvMm5yhk4ySzO99Eejn/jhrZDomctF8hbwKBN+cP7uYaKVZGsWrNpOuEMt/o5tlQLDyseJ4wrXVw2YicYTBfEIXXau3SPDZu+Y9DPVf6nEM5Y1TUA==;pzKz+4xLVlYW7c7y5mSM4Q=="
---

