---
category: news
title: "Instagram tests using AI, other tools for age verification"
excerpt: "By BARBARA ORTUTAY and MATT O’BRIEN AP Technology Writers Instagram is testing new ways to verify the age of people using its service, including a face-scanning artificial intelligence tool, having mutual friends verify their age or uploading an ID."
publishedDateTime: 2022-06-23T17:38:00Z
originalUrl: "https://kvia.com/news/business-technology/ap-national-business/2022/06/23/instagram-tests-using-ai-other-tools-for-age-verification/"
webUrl: "https://kvia.com/news/business-technology/ap-national-business/2022/06/23/instagram-tests-using-ai-other-tools-for-age-verification/"
type: article

provider:
  name: KVIA
  domain: kvia.com

topics:
  - Facebook AI
  - AI

images:
  - url: "https://kvia.b-cdn.net/2019/10/featured-biz-tech.jpeg"
    width: 1024
    height: 576
    isCached: true

secured: "SqWpbPQjAeFT6tTGZIIOlPc7jVwCd0cP3sSMSxSVFHzlJ5vfZmp7JN89wQaLz8UwCDo4YvGJFjdJ41pqvpS5OCpJRM9TyIjKz+sZN23M1evtjSLQDxFeNcGtbz5EbIpFU5DQPKhikL9214YostJbzarCVkkvj0QyYFzWeHDRm/zaJjOXsPYu7hONEoDX5C/7YnUJSDcAWJTf5a0mSbo/VuSXH/Lle2X+6CWjrVOkogIQhfXR0egTYlj9LDbagrTp9/cl8ROoOod7JgxWOVvfbfKZ536dHUsJhULQLUWJCnTAY7zawN5AgDwEoU3E/xARFnIFeJ+iR6+9fpztWr03AAJGbYmANYfR6AAeEL57FKw=;I7UhD3IiVfVAEKr5IFhwWQ=="
---

