---
category: news
title: "Instagram tests using AI, other tools for age verification"
excerpt: "Instagram is testing new ways to verify the age of people using its service, including a face-scanning artificial intelligence tool, having mutual friends verify their age or uploading an ID. But the tools won't be used,"
publishedDateTime: 2022-06-23T20:12:00Z
originalUrl: "https://apnews.com/e7a5583ccfe7e1b284081db40cb2ea7c"
webUrl: "https://apnews.com/e7a5583ccfe7e1b284081db40cb2ea7c"
type: article

provider:
  name: Associated Press
  domain: apnews.com

topics:
  - AI

images:
  - url: "https://storage.googleapis.com/afs-prod/media/40267c0d07df4ef99bac109894984999/915.jpeg"
    width: 915
    height: 610
    isCached: true

secured: "yi2QzqAXcOGaySN0HYP3BC4Z5c8ASx7ha5FSrjbeI8Lm8C2O2eCTSt9R2qQLBcnMgAyf7RF5MkTPe/BiHCPwjjSM7l5IJfpt2Nxo1eeD9EC2Uzt8o1S8G9eIueuPo/drbtVfzQ7ljnqz0gPCOSgZ6OrUcIfjHAIlyMhbSHXbNu85sx9TEFsbhSvI+zfwnvFrOvB7vApohGiFfp8UWXvwchnBtfasfGmtBsQ0vuU70V7rLp3TpzI4nL+k/DQGvB4p7BCLA1D/sUOBxg26KcFYNZLW8W7EHdfdaZuxehNP+bAK758MbAgeUnxWQA+2rLXg3msblKlGUZiHPHT9Tu7k/3YN1nepAsFJf8anLB/noN8=;A0MvjcpmGjlXRoOgg6l0+g=="
---

