---
category: news
title: "California EDD looks at ending facial recognition technology in unemployment verification"
excerpt: "AP The state’s Employment Development Department is “certainly looking” at different ways to verify identities other than facial recognition, Director Nancy Farias told an Assembly subcommittee Tuesday."
publishedDateTime: 2022-02-23T20:20:00Z
originalUrl: "https://www.sacbee.com/news/politics-government/capitol-alert/article258661808.html"
webUrl: "https://www.sacbee.com/news/politics-government/capitol-alert/article258661808.html"
ampWebUrl: "https://amp.sacbee.com/news/politics-government/capitol-alert/article258661808.html"
cdnAmpWebUrl: "https://amp-sacbee-com.cdn.ampproject.org/c/s/amp.sacbee.com/news/politics-government/capitol-alert/article258661808.html"
type: article
quality: 30
heat: -1
published: false

provider:
  name: Sacramento Bee
  domain: sacbee.com

topics:
  - Computer Vision
  - AI

related:
  - title: "Anti-unemployment fraud measures in California face scrutiny"
    excerpt: "California Gov. Gavin Newsom's administration wants to pay tens of millions of dollars this year to stop scammers from stealing unemployment benefits. But the nonpartisan Legislative Analyst's Office says state lawmakers should reject Newsom's proposal."
    publishedDateTime: 2022-02-23T18:39:00Z
    webUrl: "https://abc7news.com/california-unemployment-edd-ca/11592855/"
    ampWebUrl: "https://abc7news.com/amp/california-unemployment-edd-ca/11592855/"
    cdnAmpWebUrl: "https://abc7news-com.cdn.ampproject.org/c/s/abc7news.com/amp/california-unemployment-edd-ca/11592855/"
    type: article
    provider:
      name: ABC7 San Francisco
      domain: abc7news.com
    quality: 44
    images:
      - url: "https://cdn.abcotvs.com/dip/images/10917585_7OYS-BROKE-1280x720.png"
        width: 1280
        height: 720
        isCached: true
  - title: "Firefighters relying on artificial intelligence to fight California wildfires"
    excerpt: "Firefighters are teaming up with data scientists and artificial intelligence experts to battle the growing threat of massive wildfires in California."
    publishedDateTime: 2022-02-24T20:41:00Z
    webUrl: "https://abc7news.com/artificial-intelligence-wildfires-wifire-lab-burnpro-3d/11596528/"
    ampWebUrl: "https://abc7news.com/amp/artificial-intelligence-wildfires-wifire-lab-burnpro-3d/11596528/"
    cdnAmpWebUrl: "https://abc7news-com.cdn.ampproject.org/c/s/abc7news.com/amp/artificial-intelligence-wildfires-wifire-lab-burnpro-3d/11596528/"
    type: article
    provider:
      name: ABC7 San Francisco
      domain: abc7news.com
    quality: 36
  - title: "California urged to scrap facial recognition software used to combat insurance fraud"
    excerpt: "And ID.me, under pressure from Washington lawmakers and others, is saying it will offer alternatives to the controversial facial recognition system. ID.me was touted by Gov. Gavin Newsom as a crucial tool in combating unemployment insurance fraud ..."
    publishedDateTime: 2022-02-22T18:15:00Z
    webUrl: "https://www.securityinfowatch.com/access-identity/biometrics/facial-recognition-solutions/news/21257778/california-urged-to-scrap-facial-recognition-software-used-to-combat-insurance-fraud"
    type: article
    provider:
      name: Security
      domain: securityinfowatch.com
    quality: 32
    images:
      - url: "https://img.securityinfowatch.com/files/base/cygnus/siw/image/2022/02/bigstock_facial_recognition.621525bc61315.png?auto=format&fit=fill&fill=blur&w=1200&h=630"
        width: 1200
        height: 630
        isCached: true

secured: "skecaA2Ry9XGFZpS0xguURtnLtNuWofW6L7fo/my2X7X9trPkSLN08rBgset7m/EFgb05a8CwCCWs4fZQUAGYQuAlEXJ+0fGh9zStgl1rAMjJPsNKGaJOdG5tgbUeYQzFlJTp6SJNAFqUBGajhqx3xpMTOr5bGm7158cnP8OEDGdJv4FilUFSl6rNEdfJpGlrwpoSpL6NWUY6SHj5KRZGIBHuAnZfXxh4p3gxG+E22g/TepO4H4fMZkHhSMd87DPHoEX46RLOLSgYK0r95M1wemW6XAelrlSSppcV8PeIzCmbGudP4K2md8rUMJ4yA6KSb010c8/217Q/ZORHM2zXe/TXMlT83dsKz8XfEDgkLbe1A4YrDqM9aeDS1fCw1qahkeyknj5Y0BmLZv5dLp73DS5Q0Hp+gC3OLLqPmTSEEcyx9bADrEiJJDyTRNzZp3Wzn2ZERzBPH16LdjMdvHSTOOX0XcvIzmebTwhvF4Mjwn4xSqd+0e21buMrXj0nt4hEsGb/4VVIQX7GdnZMHO8GA==;33FS418/DMkOQUaWTqLdvA=="
---

