---
category: news
title: "California EDD looks at ending facial recognition technology in unemployment verification"
excerpt: "AP The state’s Employment Development Department is “certainly looking” at different ways to verify identities other than facial recognition, Director Nancy Farias told an Assembly subcommittee Tuesday."
publishedDateTime: 2022-02-23T20:20:00Z
originalUrl: "https://www.sacbee.com/news/politics-government/capitol-alert/article258661808.html"
webUrl: "https://www.sacbee.com/news/politics-government/capitol-alert/article258661808.html"
ampWebUrl: "https://amp.sacbee.com/news/politics-government/capitol-alert/article258661808.html"
cdnAmpWebUrl: "https://amp-sacbee-com.cdn.ampproject.org/c/s/amp.sacbee.com/news/politics-government/capitol-alert/article258661808.html"
type: article
quality: 30
heat: -1
published: false

provider:
  name: Sacramento Bee
  domain: sacbee.com

topics:
  - Computer Vision
  - AI

related:
  - title: "Firefighters relying on artificial intelligence to fight California wildfires"
    excerpt: "Firefighters are teaming up with data scientists and artificial intelligence experts to battle the growing threat of massive wildfires in California."
    publishedDateTime: 2022-02-24T20:41:00Z
    webUrl: "https://abc7news.com/artificial-intelligence-wildfires-wifire-lab-burnpro-3d/11596528/"
    ampWebUrl: "https://abc7news.com/amp/artificial-intelligence-wildfires-wifire-lab-burnpro-3d/11596528/"
    cdnAmpWebUrl: "https://abc7news-com.cdn.ampproject.org/c/s/abc7news.com/amp/artificial-intelligence-wildfires-wifire-lab-burnpro-3d/11596528/"
    type: article
    provider:
      name: ABC7 San Francisco
      domain: abc7news.com
    quality: 36

secured: "skecaA2Ry9XGFZpS0xguURtnLtNuWofW6L7fo/my2X7X9trPkSLN08rBgset7m/EFgb05a8CwCCWs4fZQUAGYQuAlEXJ+0fGh9zStgl1rAMjJPsNKGaJOdG5tgbUeYQzFlJTp6SJNAFqUBGajhqx3xpMTOr5bGm7158cnP8OEDGdJv4FilUFSl6rNEdfJpGlrwpoSpL6NWUY6SHj5KRZGIBHuAnZfXxh4p3gxG+E22g/TepO4H4fMZkHhSMd87DPHoEX46RLOLSgYK0r95M1wemW6XAelrlSSppcV8PeIzCmbGudP4K2md8rUMJ4yA6KSb010c8/217Q/ZORHM2zXe/TXMlT83dsKz8XfEDgkLbe1A4YrDqM9aeDS1fCw1qahkeyknj5Y0BmLZv5dLp73DS5Q0Hp+gC3OLLqPmTSEEcyx9bADrEiJJDyTRNzZp3Wzn2ZERzBPH16LdjMdvHSTOOX0XcvIzmebTwhvF4Mjwn4xSqd+0e21buMrXj0nt4hEsGb/4VVIQX7GdnZMHO8GA==;33FS418/DMkOQUaWTqLdvA=="
---

