---
category: news
title: "Cadence hails EDA 2.0 with unified data and AI driven verification"
excerpt: "New EDA platform enables engineers to obtain ‘actionable intelligence’ from massive volumes of chip design and verification data."
publishedDateTime: 2022-09-18T05:53:00Z
originalUrl: "https://www.embedded.com/cadence-hails-eda-2-0-with-unified-data-and-ai-driven-verification/"
webUrl: "https://www.embedded.com/cadence-hails-eda-2-0-with-unified-data-and-ai-driven-verification/"
type: article
quality: 39
heat: -1
published: false

provider:
  name: Embedded
  domain: embedded.com

topics:
  - AI Hardware
  - AI

images:
  - url: "https://www.embedded.com/wp-content/uploads/2022/09/Cadence-JedAI-image.jpg"
    width: 863
    height: 447
    isCached: true

related:
  - title: "Cadence Announces Joint Enterprise Data and AI Platform"
    excerpt: "Cadence Design Systems, Inc. has announced the delivery of the Cadence Joint Enterprise Data and AI (JedAI) Platform,"
    publishedDateTime: 2022-09-14T15:09:00Z
    webUrl: "https://www.datanami.com/this-just-in/cadence-announces-joint-enterprise-data-and-ai-platform/"
    type: article
    provider:
      name: datanami.com
      domain: datanami.com
    quality: 39
    images:
      - url: "https://2s7gjr373w3x22jf92z99mgm5w-wpengine.netdna-ssl.com/wp-content/uploads/2022/09/Cadence-JedAI-300x231.jpg"
        width: 300
        height: 231
        isCached: true
  - title: "Cadence Announces AI-Driven EDA Verification Platform"
    excerpt: "Cadence Design Systems, Inc. (Nasdaq: CDNS) today announced the Cadence Verisium AI-driven verification platform, a suite of applications leveraging big data and AI designed to optimize verification workloads,"
    publishedDateTime: 2022-09-13T21:17:00Z
    webUrl: "https://insidehpc.com/2022/09/cadence-announces-ai-driven-eda-verification-platform/"
    type: article
    provider:
      name: insideHPC
      domain: insidehpc.com
    quality: 19
  - title: "Cadence Revolutionizes Verification Productivity with the Verisium AI-Driven Verification Platform"
    excerpt: "Cadence Design Systems, Inc. (Nasdaq: CDNS) today announced the Cadence ® Verisium ™ Artificial Intelligence (AI)-Driven Verification Platform, a suite of applications leveraging big data and AI to optimize verification workloads,"
    publishedDateTime: 2022-09-13T16:23:00Z
    webUrl: "https://www.tmcnet.com/usubmit/2022/09/13/9672669.htm"
    type: article
    provider:
      name: TMCnet
      domain: tmcnet.com
    quality: 5

secured: "F+6LLxU0cjRmk5gm7FI9YC6uWEL36tSzDyTc5++Jcsp2uuv1aD4wNVw1XcDs/d2mYO4wO9wH/IjF0YG9remQwgAPgC7R0q1kYVMXaoVO5XiBj5klPrdlbpWpQcQuVuFP+MDBCwKChgtuVd/nN3fGPrV0NDT1d7+rH9ZxA/bdo1OrLFGVvpUVV4kVIyqHO/7Wm+7y9GgxUFIHBGNzywGcr9adRCARCt0xFqK7Kz4aVF1ba6vNqLQl3Dl1kJBgB7hyRkJTvJe84PbRsGGPO70eJDOx4PSbyufV64EQu7kAFW+4nizzl5n6oN6+giYtoVhInxoyzXM0Y56h9ykMyIFldoq3kkKB38H3qM7p6Z4/XMA=;joOlsvPLNnKdwGlgIDjEDg=="
---

