---
category: news
title: "Instagram tests using AI, other tools for age verification"
excerpt: "Instagram is testing new ways to verify the age of people using its But the tools won't be used, at least not yet, to block children from the popular photo and video-sharing app. The current test only involves verifying that a user is 18 or older."
publishedDateTime: 2022-06-23T23:01:00Z
originalUrl: "https://www.timesunion.com/business/article/Instagram-tests-using-AI-other-tools-for-age-17261098.php?IPID=Times-Union-news-US-world-package"
webUrl: "https://www.timesunion.com/business/article/Instagram-tests-using-AI-other-tools-for-age-17261098.php?IPID=Times-Union-news-US-world-package"
type: article

provider:
  name: Times Union
  domain: timesunion.com

topics:
  - AI

secured: "W/FifJz4nAZEELXOiZEKMLWcJGHJFSlF0dk8YHrHbR4u+w3Lp2wZDygNkJj2juKeuX9VXm4Gl3nSo0EKdfqZVi5nl+ekarmEjRM2kdpfFUwyVnv4mclkdqFO3jF0QWcZ/0OoUaZwltsosww8scPMMlANC21lSrrc8zz9KBOeNKvW0xKFxxNkU+HI2jOT75krUHVUB3ZgdE8BwYzA8QIWS+SUByoMC+2gp058ji3F8cF6icKnZjT18sL42rKyWB0TqQXm2ySsdVmRQniP/yfHKCTYlm7MmoHhbhMzIl0xuiqZ3pHqRWaCsdijhmsRVzgsSKahfNim7EqDNlNsOP745BRL0Ef2fEVfqT3Nx5RyPLtdONbqrgC6mCbld5xzPuXoxcnrI+p7fnDmycUc4f/uMzaxh1DHxpdINtRat9EIx7hcCapkzCTPZF8TbaW0yhVjzUc9UM1i08mvgXO3W8sTn64Jbf0eBrLMJuoAe88k4ksmlgwQMGLON+b+woX5Nm4MBEDqa88Eqy4meORl898kOA==;kvTAr++xCikiksUh7xLKuw=="
---

