---
category: news
title: "Instagram tests using AI, other tools for age verification"
excerpt: "By BARBARA ORTUTAY and MATT O’BRIEN AP Technology Writers Instagram is testing new ways to verify the age of people using its service, including a face-scanning artificial intelligence tool, having mutual friends verify their age or uploading an ID."
publishedDateTime: 2022-06-23T17:38:00Z
originalUrl: "https://krdo.com/news/ap-national-business/2022/06/23/instagram-tests-using-ai-other-tools-for-age-verification/"
webUrl: "https://krdo.com/news/ap-national-business/2022/06/23/instagram-tests-using-ai-other-tools-for-age-verification/"
type: article

provider:
  name: KRDO
  domain: krdo.com

topics:
  - Facebook AI
  - AI

secured: "uEo2S/ZiKsfI1vKL5HmpZyWkFt5vFKc/bieVVSSe8LT1zYDiBEXhLgNYSR/qMemdV0ii6USviiZU7XOuyQFjGUYy+Jef+TkcyVIszLRpbumEanXYDV6MN8B0FUoSHWQc9sGWrAzkcBkP9SXmx3XXvrcseCWaAspnDukBk6Ozkhhw4BGBAMw2yNxZE2PgveAhcF7FTCODGcCKXy1tIKsALii/6hj6WdhqCAG2J96DST9QDf/yJwQOem1V1RgNhyjCbQKj+bAC8lwuzEjUVqGk7F64MLbeTeGxJ433sXd9Uk6EHFBtqqF/ibawJdQrY7fgwUVg+KSm2hShcfM8sqAwIC0FL+DHbU1quYP81P8MafU=;vNfl5f+UHAejLcwPA1tRrA=="
---

