---
category: news
title: "Instagram tests using AI, other tools for age verification"
excerpt: "By BARBARA ORTUTAY and MATT O’BRIEN AP Technology Writers Instagram is testing new ways to verify the age of people using its service, including a face-scanning artificial intelligence tool, having mutual friends verify their age or uploading an ID."
publishedDateTime: 2022-06-23T17:38:00Z
originalUrl: "https://kvia.com/news/business-technology/ap-national-business/2022/06/23/instagram-tests-using-ai-other-tools-for-age-verification/"
webUrl: "https://kvia.com/news/business-technology/ap-national-business/2022/06/23/instagram-tests-using-ai-other-tools-for-age-verification/"
type: article

provider:
  name: KVIA
  domain: kvia.com

topics:
  - Facebook AI
  - AI

secured: "OgT80+9dxkRYlj+d+LtdC+XhCdFwHs+L6mPhiZVjSShktB4bQgDQV+RmoUjLI4u98j7xZw1crimmQ91x1CFkXPYschErOy7MW6p//YFvZVKTKzIw1it++jsch5pAAsymVHFcRLCOMURPysV4gtC/CBL2tMub1FOmrWUNV6qIQ6xBXxHK+R+3II2zJNHv3q+PaLE3EhcpxcwoO50ejmYJSccwwnxO6c5t90QNU8fIUnpLfaDEjvwt3xyf3JAFFovfm8GhGAhimss5ymxttBEVdMCPLLA6zcl3YxPiHQ0hw08LsgGzp7pBYQNkIXkvThnYu6SAyzBx9sZ0f3YoZy4Bh+1J5U8bpyqv3fHPoYoR0sU=;UkSXW6dNsDgagft+1ZgfHg=="
---

