---
category: news
title: "California DMV reviewing approach to regulating Tesla's public self-driving test - report"
excerpt: "California is reevaluating Tesla Inc's Full Self-Driving (FSD) test program, to determine if the electric-car maker's software should fall under its motor vehicle department's autonomous vehicle regulations,"
publishedDateTime: 2022-01-12T08:40:00Z
originalUrl: "https://www.reuters.com/business/autos-transportation/california-dmv-reviewing-approach-regulating-teslas-public-self-driving-test-2022-01-12/"
webUrl: "https://www.reuters.com/business/autos-transportation/california-dmv-reviewing-approach-regulating-teslas-public-self-driving-test-2022-01-12/"
type: article
quality: 60
heat: -1
published: false

provider:
  name: Reuters
  domain: reuters.com
  images:
    - url: "https://everyday-cc.github.io/ai/assets/images/organizations/reuters.com-50x50.jpg"
      width: 50
      height: 50

topics:
  - AI in Autos
  - AI

images:
  - url: "https://www.reuters.com/resizer/hqaIi_DyIttnxcgs7NH4k0nsFqc=/1200x628/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/GVG6QOSCRZNDTAYCWAL4Q7ANN4.jpg"
    width: 1200
    height: 628
    isCached: true

related:
  - title: "Tesla could be forced to report Full Self-Driving Beta data to DMV after ‘videos showing dangerous use’"
    excerpt: "Tesla, who managed to avoid reporting autonomous driving data to the DMV, could be forced to open the books on its Full Self-Driving (FSD) Beta to the California DMV after what the latter called “videos showing dangerous use”."
    publishedDateTime: 2022-01-12T13:20:00Z
    webUrl: "https://electrek.co/2022/01/12/tesla-forced-report-full-self-driving-beta-data-dmv-after-videos-showing-dangerous-use/"
    ampWebUrl: "https://electrek.co/2022/01/12/tesla-forced-report-full-self-driving-beta-data-dmv-after-videos-showing-dangerous-use/amp/"
    cdnAmpWebUrl: "https://electrek-co.cdn.ampproject.org/c/s/electrek.co/2022/01/12/tesla-forced-report-full-self-driving-beta-data-dmv-after-videos-showing-dangerous-use/amp/"
    type: article
    provider:
      name: Electrek
      domain: electrek.co
    quality: 73
    images:
      - url: "https://i0.wp.com/electrek.co/wp-content/uploads/sites/3/2021/08/Tesla-Full-Self-Driving-Beta-Hero.jpg?resize=1200%2C628&quality=82&strip=all&ssl=1"
        width: 1200
        height: 628
        isCached: true
  - title: "Tesla's FSD Beta's Driving Modes Bring Up Interesting Ethical Issues We Should Talk About"
    excerpt: "They seem to have some programming to break at least one law. It's not a huge deal on its own, but it brings up some pretty huge questions"
    publishedDateTime: 2022-01-10T16:32:00Z
    webUrl: "https://jalopnik.com/teslas-fsd-betas-driving-modes-bring-up-interesting-eth-1848331683"
    ampWebUrl: "https://jalopnik.com/teslas-fsd-betas-driving-modes-bring-up-interesting-eth-1848331683/amp"
    cdnAmpWebUrl: "https://jalopnik-com.cdn.ampproject.org/c/s/jalopnik.com/teslas-fsd-betas-driving-modes-bring-up-interesting-eth-1848331683/amp"
    type: article
    provider:
      name: Jalopnik
      domain: jalopnik.com
    quality: 67
    images:
      - url: "https://i.kinja-img.com/gawker-media/image/upload/c_scale,f_auto,fl_progressive,pg_1,q_80,w_800/bf671961b46a13f234e5578696aa0260.png"
        width: 800
        height: 450
        isCached: true
  - title: "What the Tech: Tesla’s “assertive” self-driving mode could be a recipe for disaster"
    excerpt: "Tesla has added an \"assertive mode\" to it's Self-Driving Beta, but the last thing we need is aggressive autonomous vehicles on our roads."
    publishedDateTime: 2022-01-14T18:00:00Z
    webUrl: "https://recombu.com/general/article/what-the-tech-teslas-assertive-self-driving-mode-could-be-a-recipe-for-disaster"
    type: article
    provider:
      name: Recombu
      domain: recombu.com
    quality: 33
    images:
      - url: "https://recombu-images.imgix.net/app/uploads/2022/01/WTT-59.jpg?fm=pjpg&ixlib=php-3.3.0"
        width: 940
        height: 627
        isCached: true

secured: "5SNl3P0JC7TipIcVDdUw36tDkiKn0YW2IkWDN0vGh/PtD+FH0JtcGsdb8T4Qax/0CxfBUO+0Kj8FIPYjQHB4CCxFyHK2EvNS7Mz3NO0tk0AUj6xXXBoPr8LEw2yeNvH/xvPt+aMYbHxI02TIhslJH/PDjF/Al4ETaw08JDMDQUA7s2DpaXTFPq0kMbuA1i3buSNMzEeUfW4+yu6YjHOfse/P4h1jpUgvN6ecIV6s3yF1qT3fOTlQynhsDSXdjgpQfuHUNEoizieVd1mS9Kjx3b7uyJmgBSQxg1bFZJQGYZWEflLT8VJzmckvCQlHGdnOw2hYE1ynoB6wjeiWWNd5HlrORrl/oA6u8jZMzt8U5Tt7Gy4VkU+pn2STTsRyWSdkdYeolwf3xgAS1Al4cY6V2JdLYkFXpOJeflRPpAUxK4OTvoAffOHqSz4rsx6pD8e1uoBifBaxGxmd3AYKBH88X60ExxOtYxgTBd3ovHQ96f2vgUdTL0Nighy94WYVgYJ8zPqV1dOXtcBX7n9j1Cv2Mw==;LSWcYNoMgofOtdpzizWg3w=="
---

