---
category: news
title: "Machine-Learning Models Can Help Predict COVID-19 Test Results"
excerpt: "Florida Atlantic University researchers leveraged ML-based predictive analytics to identify the key symptom features associated with COVID-19 infection."
publishedDateTime: 2022-12-16T13:30:00Z
originalUrl: "https://healthitanalytics.com/news/machine-learning-models-can-help-predict-covid-19-test-results"
webUrl: "https://healthitanalytics.com/news/machine-learning-models-can-help-predict-covid-19-test-results"
ampWebUrl: "https://healthitanalytics.com/news/amp/machine-learning-models-can-help-predict-covid-19-test-results"
cdnAmpWebUrl: "https://healthitanalytics-com.cdn.ampproject.org/c/s/healthitanalytics.com/news/amp/machine-learning-models-can-help-predict-covid-19-test-results"
type: article
quality: 44
heat: -1
published: false

provider:
  name: Analytics
  domain: healthitanalytics.com

topics:
  - Machine Learning
  - AI

images:
  - url: "https://healthitanalytics.com/images/sized/2020-03-16-CDC-coronavirus-visualization-e4b00c1efb9503a805928b101c78b499.jpg"
    width: 480
    height: 278
    isCached: true

related:
  - title: "Chronomics detects COVID-19 test results with Amazon Rekognition Custom Labels"
    excerpt: "Chronomics is a tech-bio company that uses biomarkers—quantifiable information taken from the analysis of molecules—alongside technology to democratize the use of science and data to improve the lives of people. Their goal is to analyze biological samples and give actionable information to help you make"
    publishedDateTime: 2022-12-13T16:55:47Z
    webUrl: "https://aws.amazon.com/blogs/machine-learning/chronomics-detects-covid-19-test-results-with-amazon-rekognition-custom-labels/"
    type: article
    provider:
      name: AWS
      domain: aws.amazon.com
    quality: 102
    images:
      - url: "https://d2908q01vomqb2.cloudfront.net/f1f836cb4ea6efb2a0b1b99f41ad8b103eff4b59/2022/12/13/chronomics-rekognition-custom-labels.jpg"
        width: 1560
        height: 780
        isCached: true

secured: "y5X5lWi879AbrINKca1F0JjIK4XfikCt02bNUutHE+zF0/A7julKw/8YuRbl2Rv3adDpEzCb3190YNxNWJa4gMt6GwEsLHE1CwbdwgDrSBr1x3f4TfSBdVGsssPQHkEjH0bSrexa3+GIOy/oG5L2bmON8iJgv9Dnj+/TBNRsoLEey/U4am4BGqcWje9iZrCD4OQN+UsNLw7USgy5CAsVAzSi5jIHTdh4hK+8AKc2puHNFF4PLqrgcbiV9NiBM7LK/vF79FMsqJCW8BdrF2kMbz4i4mskSNh/rQSImgOI/kkSs5mf/meZ7FWSEfEn8X1TjbCW1mPZv6bve0ilEdzyzzjFMSckSOa0XWDqKJJy26c=;7Gfo0RiWr4JvwSY/m1e/MA=="
---

