---
category: news
title: "PixLab and FaceIO update privacy policy for face biometrics, age verification"
excerpt: "PixLab and its brand FaceIO have updated their privacy policy and TOS to align them with the GDPR and the California Consumer Privacy Act."
publishedDateTime: 2023-06-26T17:57:00Z
originalUrl: "https://www.biometricupdate.com/202306/pixlab-and-faceio-update-privacy-policy-for-face-biometrics-age-verification"
webUrl: "https://www.biometricupdate.com/202306/pixlab-and-faceio-update-privacy-policy-for-face-biometrics-age-verification"
type: article
quality: 1
heat: 1
published: false

provider:
  name: Biometric Companies
  domain: biometricupdate.com

topics:
  - Computer Vision
  - AI

secured: "fHx0sUB0OmfkU0od+5RnpEtEGh0ktutDQxOhko8pQh0PcjQVmVMf2p9JW0fank6SCDOXi4l9PgOcO3VjZdkhFgXLhzSOoPKVOl5/aFxa2T0tOqtC+/hdFiLzR3lwX9SibMqbHfPMR+Deaze6EWCswknBOhEDu4aDcB+qBSPZdUlqCJ5cp85UvKEBo8UCsyY0cEzGD8+efbgWPAutsn3mxbOxJ35RVisnLQ67PidX5wkZvh47i/1obmqzXofHK1CPDudPiIOvJSQso4xSxVUXnBhNtL1WgtTK6XAl4ALDkmCtEh6vCJvKVTUDJUygswLRLBqn/N1R6JZ7ax8ZF6bzN7oGiEov28qD7tBioTiEWgaGJInBkKnJR9iY4PwwHbk/MBgYzRWFpWNCDrZUzzVwI/cO83wJN5Q6Y2yqxSKE1hhaLpDOY5FJx06wxNG9LgRArkJZVr5Pkq0aYfHhp9cGA43ehRFdjsHeDMS3jCaHRm8I2n7TN1PIotJKuoupApAKzJVbIBKmtBXSIC056EdjeQ==;cmduVrbfdl0VxXBQgUZrJA=="
---

