---
category: news
title: "PixLab and FaceIO update privacy policy for face biometrics, age verification"
excerpt: "PixLab and its brand FaceIO have updated their privacy policy and TOS to align them with the GDPR and the California Consumer Privacy Act."
publishedDateTime: 2023-06-26T17:57:00Z
originalUrl: "https://www.biometricupdate.com/202306/pixlab-and-faceio-update-privacy-policy-for-face-biometrics-age-verification"
webUrl: "https://www.biometricupdate.com/202306/pixlab-and-faceio-update-privacy-policy-for-face-biometrics-age-verification"
type: article
quality: 1
heat: -1
published: false

provider:
  name: Biometric Companies
  domain: biometricupdate.com

topics:
  - Computer Vision
  - AI

related:
  - title: "No dismissal in unique face biometric court fight in NYC"
    excerpt: "A New York City lawsuit will continue over the legality of using face-matching algorithms to score points in corporate tiff."
    publishedDateTime: 2023-06-27T22:59:00Z
    webUrl: "https://www.biometricupdate.com/202306/no-dismissal-in-unique-face-biometric-court-fight-in-nyc"
    type: article
    provider:
      name: Biometric Companies
      domain: biometricupdate.com
    quality: 24
    images:
      - url: "https://d1sr9z1pdl3mb7.cloudfront.net/wp-content/uploads/2023/03/14154408/facial-recognition-nyc-scaled.jpg"
        width: 2048
        height: 1536
        isCached: true
  - title: "Use of face biometrics sharply criticized in two US criminal cases"
    excerpt: "A Minnesota man has filed a civil rights lawsuit against police alleging false arrest, which officials have blamed on facial recognition."
    publishedDateTime: 2023-06-29T19:44:00Z
    webUrl: "https://www.biometricupdate.com/202306/use-of-face-biometrics-sharply-criticized-in-two-us-criminal-cases"
    type: article
    provider:
      name: Biometric Companies
      domain: biometricupdate.com
    quality: 24
    images:
      - url: "https://d1sr9z1pdl3mb7.cloudfront.net/wp-content/uploads/2021/07/08130639/police.jpg"
        width: 992
        height: 558
        isCached: true
  - title: "Racial bias concerns prompt lawmakers to ask HUD to ban biometric surveillance, including facial recognition"
    excerpt: "Two members of the U.S. House of Representative have asked the Department of Housing and Urban Development to end the use of biometric technology, including facial recognition, for surveillance purposes in public housing."
    publishedDateTime: 2023-06-27T14:23:00Z
    webUrl: "https://www.bdcnetwork.com/racial-bias-concerns-prompt-lawmakers-ask-hud-ban-biometric-surveillance-including-facial"
    type: article
    provider:
      name: Bdcnetwork.com
      domain: bdcnetwork.com
    quality: 20
    images:
      - url: "https://www.bdcnetwork.com/sites/bdc/files/man-5946820_1920.jpg"
        width: 1920
        height: 1274
        isCached: true

secured: "fHx0sUB0OmfkU0od+5RnpEtEGh0ktutDQxOhko8pQh0PcjQVmVMf2p9JW0fank6SCDOXi4l9PgOcO3VjZdkhFgXLhzSOoPKVOl5/aFxa2T0tOqtC+/hdFiLzR3lwX9SibMqbHfPMR+Deaze6EWCswknBOhEDu4aDcB+qBSPZdUlqCJ5cp85UvKEBo8UCsyY0cEzGD8+efbgWPAutsn3mxbOxJ35RVisnLQ67PidX5wkZvh47i/1obmqzXofHK1CPDudPiIOvJSQso4xSxVUXnBhNtL1WgtTK6XAl4ALDkmCtEh6vCJvKVTUDJUygswLRLBqn/N1R6JZ7ax8ZF6bzN7oGiEov28qD7tBioTiEWgaGJInBkKnJR9iY4PwwHbk/MBgYzRWFpWNCDrZUzzVwI/cO83wJN5Q6Y2yqxSKE1hhaLpDOY5FJx06wxNG9LgRArkJZVr5Pkq0aYfHhp9cGA43ehRFdjsHeDMS3jCaHRm8I2n7TN1PIotJKuoupApAKzJVbIBKmtBXSIC056EdjeQ==;cmduVrbfdl0VxXBQgUZrJA=="
---

