---
category: news
title: "State’s face recognition app for pensioners’ annual verification"
excerpt: "Meanwhile, a meeting of the Pradhan Mantri Adarsh Gram Yojana convergence committee, constituted for successful operation, effective implementation and monitoring of the scheme was organised at ..."
publishedDateTime: 2023-02-14T03:07:00Z
originalUrl: "https://timesofindia.indiatimes.com/city/jaipur/states-face-recognition-app-for-pensioners-annual-verification/articleshow/97899465.cms"
webUrl: "https://timesofindia.indiatimes.com/city/jaipur/states-face-recognition-app-for-pensioners-annual-verification/articleshow/97899465.cms"
ampWebUrl: "https://m.timesofindia.com/city/jaipur/states-face-recognition-app-for-pensioners-annual-verification/amp_articleshow/97899465.cms"
cdnAmpWebUrl: "https://m-timesofindia-com.cdn.ampproject.org/c/s/m.timesofindia.com/city/jaipur/states-face-recognition-app-for-pensioners-annual-verification/amp_articleshow/97899465.cms"
type: article
quality: 59
heat: 89
published: true

provider:
  name: Indiatimes
  domain: indiatimes.com

topics:
  - Computer Vision
  - AI

images:
  - url: "https://static.toiimg.com/thumb/msid-97907398,width-1070,height-580,imgsize-1288749,resizemode-75,overlay-toi_sw,pt-32,y_pad-40/photo.jpg"
    width: 1069
    height: 580
    isCached: true

related:
  - title: "Designers take on facial recognition with adversarial fashion"
    excerpt: "Cap_able is the latest to claim that its use of adversarial images renders wearers of its clothes invisible to facial recognition systems."
    publishedDateTime: 2023-02-15T21:00:00Z
    webUrl: "https://www.biometricupdate.com/202302/designers-take-on-facial-recognition-with-adversarial-fashion"
    type: article
    provider:
      name: Biometric Companies
      domain: biometricupdate.com
    quality: 39
    images:
      - url: "https://d1sr9z1pdl3mb7.cloudfront.net/wp-content/uploads/2022/07/25124143/facial-recognition-crowd-scaled.jpg"
        width: 2048
        height: 1333
        isCached: true
  - title: "Review launched into rules governing facial recognition data"
    excerpt: "A government panel is considering whether stricter rules are needed for companies that handle facial recognition data. The Personal Information Protection Commission (PIPC) is mulling new ..."
    publishedDateTime: 2023-02-15T23:59:00Z
    webUrl: "https://www.asahi.com/ajw/articles/14508024"
    type: article
    provider:
      name: 朝日新聞社
      domain: asahi.com
    quality: 39
    images:
      - url: "https://p.potaufeu.asahi.com/33ad-p/picture/26551601/841e78f590d1ac87d0500ebc876f4573.jpg"
        width: 660
        height: 437
        isCached: true
  - title: "Humanity Communications Collective Receives International Recognition for Human & Civil Rights Work"
    excerpt: "Affirming its commitment to amplifying social justice issues through strategic and creative communications, Humanity Communications Collective announc"
    publishedDateTime: 2023-02-15T17:56:00Z
    webUrl: "https://www.businesswire.com/news/home/20230215005684/en/Humanity-Communications-Collective-Receives-International-Recognition-for-Human-Civil-Rights-Work"
    type: article
    provider:
      name: newsroom.businesswire.com
      domain: businesswire.com
    quality: 0

secured: "K4hOReGPKiSEloNWwRzz12Kd08mwLsvGqnuSiczQ8b4JxaBRwQcIQEgdLWX7RuB8v0ahEGVOIY9EzCF273h8Lw/C4aYW4i/+JLXMMiNHQTwy9dbqp56lZL25hg7lpjCOeY+R1v0IodWRcRlW22tEKxQg1cr3DkFdqueR1kRLABN0RHbSMNgnLHH8XsInURUfmTnYlXF8GjsBIVrdsb8facQf3f/q2X+PopC2h2w5sWTytsUGoxz+BzGr62xPIp5AvJl7j3WhniLqTW5dDD0sRc8iMqN4s5/SeKc6wxN2PDI/rKUTWwLlE5uAPHOcnJQfc2Y2hdS8AGN6d066uyW+nV5bDsghKIiW8shICQpUhPQ=;3jrIW0E9NHCe9AJCaHAC4A=="
---

