---
category: news
title: "ESRB plans “facial age estimation” checker for age verification"
excerpt: "The video game rating board for the US, the ESRB, has had its new plans unearthed after the FTC put them up for public opinion. Dubbed Privacy-Protective Facial Age Estimation, the tech would allow parents to upload a photo of themselves to give permission to their child to play certain games."
publishedDateTime: 2023-07-25T17:39:00Z
originalUrl: "https://www.dexerto.com/tech/esrb-plans-facial-recognition-age-checker-for-age-verification-2224056/"
webUrl: "https://www.dexerto.com/tech/esrb-plans-facial-recognition-age-checker-for-age-verification-2224056/"
type: article
quality: 24
heat: -1
published: false

provider:
  name: Dexerto
  domain: dexerto.com

topics:
  - Computer Vision
  - AI

images:
  - url: "https://editors.dexerto.com/wp-content/uploads/2023/07/25/esrb.jpg"
    width: 1600
    height: 900
    isCached: true

related:
  - title: "ESRB Proposes Using Facial Recognition To Verify Your Age"
    excerpt: "The Entertainment Software Rating Board (ESRB) has asked the FTC for approval to use facial recognition technology to help determine how old a user is. Using something called Privacy-Protective Facial Estimation, a person's age would be estimated based on a photo to verify they are old enough to purchase a game."
    publishedDateTime: 2023-07-25T16:50:00Z
    webUrl: "https://www.gamespot.com/articles/esrb-proposes-using-facial-recognition-to-verify-your-age/1100-6516255/"
    ampWebUrl: "https://www.gamespot.com/amp-articles/esrb-proposes-using-facial-recognition-to-verify-your-age/1100-6516255/"
    cdnAmpWebUrl: "https://www-gamespot-com.cdn.ampproject.org/c/s/www.gamespot.com/amp-articles/esrb-proposes-using-facial-recognition-to-verify-your-age/1100-6516255/"
    type: article
    provider:
      name: GameSpot
      domain: gamespot.com
    quality: 59
    images:
      - url: "https://www.gamespot.com/a/uploads/screen_medium/1601/16018044/4161563-pcgames2023.jpg"
        width: 480
        height: 270
        isCached: true
  - title: "Home Office secretly backs facial recognition technology to curb shoplifting"
    excerpt: "Covert government strategy to install electronic surveillance in shops raises issues around bias and data, and contrasts sharply with the EU ban to keep AI out of public spaces"
    publishedDateTime: 2023-07-29T15:11:00Z
    webUrl: "https://www.theguardian.com/technology/2023/jul/29/home-office-secretly-backs-facial-recognition-technology-to-curb-shoplifting"
    ampWebUrl: "https://amp.theguardian.com/technology/2023/jul/29/home-office-secretly-backs-facial-recognition-technology-to-curb-shoplifting"
    cdnAmpWebUrl: "https://amp-theguardian-com.cdn.ampproject.org/c/s/amp.theguardian.com/technology/2023/jul/29/home-office-secretly-backs-facial-recognition-technology-to-curb-shoplifting"
    type: article
    provider:
      name: The Guardian
      domain: theguardian.com
    quality: 58
    images:
      - url: "https://i.guim.co.uk/img/media/9197b05c6c652397500d81b743d2e459c8f27507/0_0_5000_3000/master/5000.jpg?width=620&quality=85&auto=format&fit=max&s=1c29402495e90ad755aa3d1fb004f3f1"
        width: 620
        height: 372
        isCached: true
  - title: "US cities could start banning facial recognition again"
    excerpt: "Throughout the United States, cities are reconsidering the role of facial recognition in criminal investigations and prosecutions."
    publishedDateTime: 2023-07-27T21:55:00Z
    webUrl: "https://www.biometricupdate.com/202307/us-cities-could-start-banning-facial-recognition-again"
    type: article
    provider:
      name: Biometric Companies
      domain: biometricupdate.com
    quality: 54
    images:
      - url: "https://d1sr9z1pdl3mb7.cloudfront.net/wp-content/uploads/2022/01/04144353/public-facial-recognition-scaled.jpg"
        width: 2048
        height: 1152
        isCached: true
  - title: "ESRB seeks FTC approval for facial age estimation AI for digital game purchases"
    excerpt: "The Entertainment Software Ratings Board (ESRB) has proposed the use of facial recognition technology as a means of age verification. The ESRB wants FTC"
    publishedDateTime: 2023-07-25T16:43:00Z
    webUrl: "https://www.onmsft.com/news/esrb-seeks-ftc-approval-for-facial-age-estimation-ai-for-digital-game-purchases/"
    type: article
    provider:
      name: On MSFT
      domain: onmsft.com
    quality: 35
    images:
      - url: "https://e24joaz2t6m.exactdn.com/wp-content/uploads/2023/07/facial-age-recognition-ai-esrb-Custom.jpg"
        width: 1024
        height: 768
        isCached: true
  - title: "ESRB proposes facial age estimation technology for parental consent"
    excerpt: "UPDATE 26/07 11:40am: In a statement shared with Eurogamer, the ESRB has clarified its proposed \"Privacy-Protective Facial Age Estimation\" technology is to be used to verify the age of people giving consent for a child."
    publishedDateTime: 2023-07-26T10:39:00Z
    webUrl: "https://www.eurogamer.net/esrb-proposes-facial-recognition-age-verification-for-parental-consent"
    type: article
    provider:
      name: Eurogamer
      domain: eurogamer.net
    quality: 24
    images:
      - url: "https://assetsio.reedpopcdn.com/AdobeStock_331209580.jpeg?width=1200&height=630&fit=crop&enable=upscale&auto=webp"
        width: 1200
        height: 630
        isCached: true
  - title: "The ESRB Wants to Start Using Facial Scanning Technology to Check People's Ages"
    excerpt: "Remember a couple years ago, when Chinese gaming giant Tencent began using facial recognition to keep the kids from playing too many videogames? It turns out that the Entertainment Software Rating Board, North America's videogame rating agency, is looking to do something quite similar."
    publishedDateTime: 2023-07-25T19:43:00Z
    webUrl: "https://cacm.acm.org/news/274951-the-esrb-wants-to-start-using-facial-scanning-technology-to-check-peoples-ages/fulltext"
    type: article
    provider:
      name: acm.org
      domain: acm.org
    quality: 0

secured: "qGkTu54iJFFUTGe9MbEcol6IEtLJ0rRolHVAGRKgdu/G54T6QHwnV0DeuF94GSwHDs7wK5O5UtWpS+u4k1SfcPLRfthoXZkyG+fo/ii+gbvKZDfmUMMd03sQAVNg3uBIvsUeVZJfDAbcojvDSWDlSoKvXUtmGKjvZAr/bgcV3FoNnZSNhFF9vvqk2q6YxEANXoYqKkqTbw+gxCeW+BU3JbbTESWCUoLMsImK2p+Jfvuni7UWbwQZZRPUmfljTleZnoJE3QMyv79IaM7iFh7lT2iATSSb6CPn+YMQJaeywKbrN9nO5R9F1KuHCOigW37/yBHSqrWLYoogLT5sSQq5/W4oJn9aPB3sJYjt35geFgiogNiPwi+tWS61bV5zSas4O89/GyBxjPycwhzKGRDIG3oo0NnUSXH3I/dtzvnX4QTfi0WAPv7lllw1nGBzMsBNesx9nqOOWeWRO1LCcEmyLIVGALWJmY4Z/jrYKPtfMB271pdsf8DCmtPe7g1WeRCToIzfUZ+ZOemhz1XWEio2FQ==;MVntXMzHPTJ5DD2sUiptjQ=="
---

