---
category: news
title: "Entrust: Betting big on AI-powered ID Verification"
excerpt: "Entrust's portfolio of identity and security solutions enables customers to accelerate growth, protect assets and build trust into digital interactions"
publishedDateTime: 2024-02-08T10:48:00Z
originalUrl: "https://fintechmagazine.com/fraud-id-verification/entrust-set-to-acquire-onfido"
webUrl: "https://fintechmagazine.com/fraud-id-verification/entrust-set-to-acquire-onfido"
type: article
quality: 39
heat: 39
published: false

provider:
  name: fintechmagazine
  domain: fintechmagazine.com

topics:
  - AI in Finance
  - AI

images:
  - url: "https://assets.bizclikmedia.net/1200/4b5a0818594ebe2bb6bfcfad81bb56f7:9954a77755033552be2431bca8eefc99/entrust-hq-1.jpg.jpg"
    width: 1200
    height: 631
    isCached: true

secured: "X5ASqhcUWUwFoQnpd1gRVMtvSgoSSltoEVTFv1twrHHe0mGDCwZzFUggXArxizjyHnXEcQHJlLixXIVMbuzFYAz6OagDTHxKSMHa297iYHIQIyZBzFB/SLJ/dReU4YG3sWS9nOjvGrCVV0njKua3k/KODEM3/59lVxVN3WLbTqlVSyouLdNwyz1klKQQtopwqGK+GInfRxvSDPQ3x0EY9Qgh0TFXtZcRh4183kPEKAg6NrFqqonR0JEJ4sLax9Mhu/ds8eIw10jCkWKMyDpKxe+bOkA5DV8YxAr2o7o+0MmY38zZdLNrPzVsjk3A2wDVl2hyOiBoce6/fNltRntWe8LJz6ceL1y+p5/2GOk364A=;wEEygRqAol45InViq2gWWQ=="
---

