---
category: news
title: "Entrust: Betting big on AI-powered ID Verification"
excerpt: "Entrust's portfolio of identity and security solutions enables customers to accelerate growth, protect assets and build trust into digital interactions"
publishedDateTime: 2024-02-08T10:48:00Z
originalUrl: "https://fintechmagazine.com/fraud-id-verification/entrust-set-to-acquire-onfido"
webUrl: "https://fintechmagazine.com/fraud-id-verification/entrust-set-to-acquire-onfido"
type: article
quality: 39
heat: -1
published: false

provider:
  name: fintechmagazine
  domain: fintechmagazine.com

topics:
  - AI in Finance
  - AI

images:
  - url: "https://assets.bizclikmedia.net/1200/4b5a0818594ebe2bb6bfcfad81bb56f7:9954a77755033552be2431bca8eefc99/entrust-hq-1.jpg.jpg"
    width: 1200
    height: 631
    isCached: true

related:
  - title: "Confirmed: Entrust is buying AI-based ID verification startup Onfido, sources say for more than $400M"
    excerpt: "Onfido, an early mover in the world of identity verification using computer vision, machine learning and other AI tools, is getting acquired, TechCrunch"
    publishedDateTime: 2024-02-07T11:08:00Z
    webUrl: "https://techcrunch.com/2024/02/06/confirmed-entrust-is-buying-ai-based-id-verification-startup-onfido-sources-say-for-more-than-400m/"
    ampWebUrl: "https://techcrunch.com/2024/02/06/confirmed-entrust-is-buying-ai-based-id-verification-startup-onfido-sources-say-for-more-than-400m/amp/"
    cdnAmpWebUrl: "https://techcrunch-com.cdn.ampproject.org/c/s/techcrunch.com/2024/02/06/confirmed-entrust-is-buying-ai-based-id-verification-startup-onfido-sources-say-for-more-than-400m/amp/"
    type: article
    provider:
      name: TechCrunch
      domain: techcrunch.com
    quality: 72
    images:
      - url: "https://techcrunch.com/wp-content/uploads/2021/07/GettyImages-1199508481.jpg?resize=1200,800"
        width: 1200
        height: 800
        isCached: true

secured: "ZcutRnxulQCj4RgIkYXrLA2TLqsS2JclySLKrmcK4eZ6KVr9ONDVcyUOhLQxXNKpsblcMBx7C2jpCpwsSUzm3Le0QsmizJh5OZ3iCBvjw5iOO2aV9geLtq2ARbXDJtO1eXb/pRccoWcIHiNtPfcp+hB3kVW18nTKTg3ghRAiBr5ahbCgHTGYNHS+YxfTN41fhIe/Ph5SkWCPz9gRlmU1paGChOQKRW7jtLmOozc2z6sGZgRY+5pm5h1dMggmMnhSODpSLMJ6bC7TkVzT1eO/3jBlGx0zujJEvzu14HNSyQSEzMglTnDqGX+XuxgYPqQDjcl3df9YwZKHF7wAp2QBtVmBgHgzYQhhxuEUymmqagSPVJy1JhSI4h/SfCWDzvL0zXyu0Hy6/0lkgbPg1SUHEvHWWD8geYSpI+27/Md/7/YmLg/5rZcJBf2T/3M0v3KMoexZUHeCsnHtCVR+9bibrtHF1mD8UT6lgTvYy/ShM00NF0SLx5vuFNUSPDC1MxXgvN8usZwsVrvOOQzraDgRnQ==;gXYEP+i69WoMPdTYR5V/yg=="
---

