---
category: news
title: "Apple ramps up its ‘secret’ self-driving car testing: report"
excerpt: "Apple has ramped up its self-driving car testing and has logged over 450,000 miles of autonomous driving in the US from December 2022 to November 2023."
publishedDateTime: 2024-02-04T05:04:00Z
originalUrl: "https://economictimes.indiatimes.com/tech/technology/apple-ramps-up-its-secret-self-driving-car-testing-report/articleshow/107396711.cms?from=mdr"
webUrl: "https://economictimes.indiatimes.com/tech/technology/apple-ramps-up-its-secret-self-driving-car-testing-report/articleshow/107396711.cms?from=mdr"
type: article
quality: 4
heat: -1
published: false

provider:
  name: Indiatimes
  domain: indiatimes.com

topics:
  - AI in Autos
  - AI

related:
  - title: "Apple's effort in testing self-driving car technology paced up: Details"
    excerpt: "Apple has a permit to test autonomous vehicle tech on California’s public roads only if the company has a safety driver behind the wheel. Apple’s secret car project has finally gained momentum, as per the report."
    publishedDateTime: 2024-02-04T07:53:00Z
    webUrl: "https://www.indiatvnews.com/technology/news/apple-s-efforts-in-testing-self-driving-car-technology-paced-up-details-2024-02-04-915178"
    ampWebUrl: "https://www.indiatvnews.com/amp/technology/news/apple-s-efforts-in-testing-self-driving-car-technology-paced-up-details-2024-02-04-915178"
    cdnAmpWebUrl: "https://www-indiatvnews-com.cdn.ampproject.org/c/s/www.indiatvnews.com/amp/technology/news/apple-s-efforts-in-testing-self-driving-car-technology-paced-up-details-2024-02-04-915178"
    type: article
    provider:
      name: India TV
      domain: indiatvnews.com
    quality: 59
    images:
      - url: "https://resize.indiatvnews.com/en/resize/newbucket/360_-/2024/02/apple-1707032344.jpg"
        width: 360
        height: 202
        isCached: true
  - title: "Apple tested its self-driving car tech more than ever last year."
    excerpt: "The company logged over 450,000 miles of autonomous driving in California from December 2022 to November 2023, according to reporting from the state’s DMV. As Wired notes, that’s nothing compared to the millions of miles of testing notched by other companies."
    publishedDateTime: 2024-02-03T14:46:00Z
    webUrl: "https://www.theverge.com/2024/2/3/24060376/apple-tested-its-self-driving-car-tech-more-than-ever-last-year"
    type: article
    provider:
      name: The Verge
      domain: theverge.com
    quality: 34
  - title: "Apple intensifies testing for ‘secret’ self-driving car"
    excerpt: "Wired reports that according to data submitted to the California Department of Motor Vehicles (DMV) by Apple, the company conducted more extensive testing of its autonomous car last year than ever before."
    publishedDateTime: 2024-02-04T05:31:00Z
    webUrl: "https://telanganatoday.com/apple-intensifies-testing-for-secret-self-driving-car"
    type: article
    provider:
      name: Telangana Today
      domain: telanganatoday.com
    quality: 24
    images:
      - url: "https://cdn.telanganatoday.com/wp-content/uploads/2024/02/Apple-ramps-up-its-‘secret-self-driving-car-testing-Report.jpg"
        width: 1280
        height: 750
        isCached: true

secured: "E72eGO2btnXrEdSHszcH/4z+zaeB0jrhbEJQh8Q8DOrOPZr40ZNKZNQDH/JiN/FDl+efsWhK1EP4hD2RytjSreU/ztqOHsbHZnH3+cuODrbHMhQOozzES/HSly9EXBrfyfgym7MMvlE7T8g2vwnK+rSFfuVkkSfBCpH6rdVtrSQLjAf1njLRb3ngIUeOT/Cf29zrCc2mjULrfXnxRHsKGjk6Nnz6xcUDIZj9gYT4DLF9ytdbGYqT6+Zxy3iKwcLHDu+Qum7kh92EGk/QMlj7Qk9ZC05sR9/MGcgNHDzAJVaIJEFT84nUPrblB7HTVb6LOCkD4uNjbaZnMPTqyYCXLyIufTKgPC5rEtXwm8iRm37NMELksb32PxDsXOcHnYqpYjqd38TpNrcUi1jrMlG+SofKNdnIP4LkjoU19Wj05NR1fDfS5Vaw/1wzhRUGWt3jZ1FRhOP6ehuh2fvXzzn4KWB6fx/hfuw1gA7WWBViTPY0LM70dXHoS0taUBXjvW8LMvmCDjtqdUvGgLyUxVXFkQ==;YsbZhvbZFRS20l7Jm6mLeQ=="
---

